/*
*	 Author: Vijay Kumar
*	 Template: Delighted - Flat & Responsive Bootstrap Admin Template
*	 Version: 1.0
*	 Bootstrap version: 3.0.0
*	 Copyright 2013 bootstrapguru
*	 www: http://bootstrapguru.com
*	 mail: support@bootstrapguru.com
*	 You can find our other themes on: https://bootstrapguru.com/themes/
---------------------------------------------------------------------------------------------- */



/* Predefined Variables
---------------------------------------------------------------------------------------------- */


/*	 External Less Files
---------------------------------------------------------------------------------------------- */
@import "../css/jquery-ui-1.10.3.custom.min.css";
@import "variables.less";
@import "../css/animate.css";
@import "../css/responsive.less";
@import "../css/ionicons.css";
@import "../css/font-awesome.css";
@import "../css/metro.css";
@import "../css/messenger.css";
@import "../css/messenger-theme-future.css";
@import "../css/messenger-theme-flat.css";
@import "../css/bootstrap-progressbar-3.0.0.min.css";
@import "../css/xcharts.css";
@import "../css/fullcalendar.css";
@import "../css/gallery.css";
@import "../css/jquery.easy-pie-chart.css";
@import "../css/tick.css";
@import "../css/jquery.mCustomScrollbar.css";
@import "../css/widgets.css";
@import "../css/timeline.css";
@import "../css/elfinder.min.css";
@import "../css/elfinder.theme.css";
@import "../css/component.css";
@import "../css/chosen.css";
@import "../css/jtree.css";
@import "../css/nestable.css";
@import "../css/icheck/skins/flat/all.css";
@import "../css/icheck/skins/square/all.css";
@import "../css/icheck/skins/polaris/polaris.css";
@import "../css/daterangepicker-bs3.css";
@import "../css/bootstrap-switch.css";
@import "../css/morris-0.4.3.min.css";
@import "../css/dataurl.css";
@import "../css/nvd3.css";
//@import "../css/selectize/selectize.bootstrap2.css";
@import "../css/selectize/selectize.css";
@import "../css/selectize/selectize.legacy.css";
@import "../css/selectize/selectize.default.css";
@import "../css/jquery.gritter.css";
@import "../css/lightbox.css";
@import "../css/bootstrap-dialog.min.css";
@import "../css/prettify.css";
//@import "../css/summernote-bs2.css";
@import "../css/summernote-bs3.css";
@import "../css/summernote.css";
@import "../css/jquery.ml-keyboard.css";
@import "../css/jquery.motionCaptcha.0.2.css";



/*	 Import Fonts
---------------------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);



/*	 Import External Css Files
---------------------------------------------------------------------------------------------- */

/******************* CSS Override for main bootstrap Classes *********************/
.panel
{
	border-left: none;
	border-right: none;
	//border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
/******************* CSS Code *********************/
body
{
	background-color: @bodyBackground;
	font-family: @first-font;
	//font-family: 'Signika', sans-serif;
	min-height: 100%;
}


.site-holder {
	position: relative;
	overflow: hidden;
	min-height: 1200px;
}
.frame {
	position: relative;
	overflow: hidden;
	min-height: 1200px;
}
.box-holder
{
<<<<<<< HEAD
	min-height: 1000px !important;
=======
	min-height: 1200px !important;
>>>>>>> f99e3b90c4509f49330eb2a8674829a3a3cc4083

}
.btn:focus, a {
	outline: none !important;
}

.site-holder.show-leftsidebar
{
	margin-left: -280px;
	.transition(500ms ease);
}
*:focus 
{
	outline: 0;
}

.nopadding
{
	padding: 0px;
}
.bg-primary
{
	background: @primary !important; 
}

.bg-warning
{
	background: @warning !important;
}

.bg-info
{
	background: @info !important;
}

.bg-danger
{
	background: @danger !important;
}

.bg-success
{
	background: @success !important;
}

.bg-gray
{
	color: #eeeeee !important;
}

.bg-pink
{
	background: #ff6c60 !important;
}

.bg-purple
{
	color: #8175c7 !important;
}

.bg-seagreen
{
	color: #01a89e !important;
}

.bg-yellow
{
	color: #f8d347 !important;
}

.bg-black
{
	color: #000000 !important;
}

.bg-success:hover,.bg-success-dark
{
	background: darken(@success,10%) !important;
}

.bg-primary:hover,.bg-primary-dark
{
	background: darken(@primary,10%) !important; 
}

.bg-warning:hover, .bg-warning-dark
{
	background: darken(@warning,10%) !important; 
}

.bg-info:hover, .bg-info-dark
{
	background: darken(@info,10%) !important; 
}

.bg-danger:hover, .bg-danger-dark
{
	background: darken(@danger,10%) !important; 
}

.bg-none
{
	background: none !important;
}
.bg-white
{
	background: #FFFFFF !important;
}


.text-primary
{
	color: @primary !important; 
}

.text-warning
{
	color: @warning !important;
}

.text-danger
{
	color: @danger !important;
}

.text-success
{
	color: @success !important;
}
.text-info
{
	color: @info !important;
}

.text-white
{
	color: #FFFFFF !important; 
}

.text-inverse
{
	color: #9ea7b3;
}

/*	 Left Sidebar
---------------------------------------------------------------------------------------------- */
.navbar.nav-delighted
{
	&.navbar-default
	{
		height: @navBarHeight;
		background-color: @primary;
		border-width: 0px;
		border-radius: 0px;
		margin-bottom: 0px;
		.navbar-brand
		{
			color: white;
			font-size: 24px;
			font-family: @second-font;
			padding: 0px;
			line-height: 60px;
			width: @leftSidebarWidth;

			text-align: center;
			i
			{
				font-size: 24px;
			}
			img
			{
				height: 30px !important;
				margin-left: -17px;
			}
		}
		a.toggle-left-sidebar
		{
			color: white;
			float: left;
			font-size: 24px;
			line-height: 60px;
			padding-left: 20px;
			opacity: 0.4;
			display: none;

		}
		a.logout
		{
			font-size: 34px;
			color: @primary;
			background-color: @leftSidebarBackground;
			float: right;
			height: 60px;
			width: 60px;
			text-align: center;
			.transition(300ms ease);

			&:hover
			{
				background-color: lighten(@leftSidebarBackground,5%);
				color: lighten(@primary,5%);

			}

		}
		.search-form
		{
			margin-top: 13px;
			margin-right: 34px;
			input
			{
				height: 32px;
				width: 155px;
				border-radius: 16px;
				color: @primary;
				padding-left: 30px;
				background-color: white;
				border: 1px solid white;

				-webkit-box-shadow: none;
				box-shadow: none;
				&:focus 
				{
					border-color: white;
					outline: 0;
					-webkit-box-shadow: none;
					box-shadow: none;
				}
			}
			i.fa-search
			{
				color: #c2c7c1;
				margin-top: -26px;
				margin-left: 5px;
				position: absolute;
				font-size: 20px;
			}
		}

	}
}

/*	 Left Sidebar
---------------------------------------------------------------------------------------------- */
.left-sidebar
{
	position: absolute;
	background-color: @leftSidebarBackground;
	width: @leftSidebarWidth;
	z-index: 1001;
	height: 100%;
	color: @leftSidebarLinkColor;
	-webkit-transition: 500ms ease;
	-moz-transition: 500ms ease;
	-o-transition: 500ms ease;
	-ms-transition: 500ms ease;
	transition: 500ms ease;

	
	&.left-sidebar-open
	{
		display: block;
		.transition(500ms ease);

	}
	.user-menu
	{
		width:100%;
		height: 90px;
		padding-top: 20px;
		padding-left: 25px;
		border-bottom: 1px solid lighten(@leftSidebarBackground,5%);
		.transition(300ms ease);

		&:hover
		{
			background-color:lighten(@leftSidebarBackground,3%);
			cursor: pointer
		}

		img.avatar
		{
			float: left;
			border: 2px solid @primary;
			border-radius: 50%;
			margin-right: 10px;
			width: 50px;
			height: 50px;
		}
		.user-info
		{
			padding-top: 8px;
			display: inline-block;

			.welcome
			{
				font-style: italic;
				font-weight: 100;
				font-size: 12px;
				line-height: 12px;
			}
			.username
			{
				font-family: @second-font;
				font-size: 18px;
				font-weight: 700;
				overflow: hidden;
				height: 20px;
				color: @leftSidebarLinkColor;
			}
		}
		.user-status
		{
			display: inline-block;
			font-size: 12px;
			color: #fd6c6d;
			position: absolute;
			margin-top: 25px;
			margin-left: 5px;
			
		         /*float: left;
		         */
		     }
		 }
		 .sidebar-holder
		 {

		 	.nav  li  a
		 	{	
		 		color: @leftSidebarLinkColor;
		 		font-size: 14px;
		 		font-weight: 400;
		 		padding: 13px 10px;
		 		font-family: @first-font;
		 		//border-top:1px solid darken(@leftSidebarBackground,3%);
		 		.transition(all 0.1s ease);

		 		&:hover
		 		{
		 			text-decoration: none;
		 			background-color: @primary;
		 			color: lighten(@leftSidebarLinkColor,80%);
		 			.transition(all 0.3s ease);
		 			i
		 			{
		 				color: lighten(@leftSidebarLinkColor,80%);
		 				.transition(all 0.3s ease);
		 			}
		 		}

		 		i
		 		{
		 			display: inline-block;
		 			font-size: 14px;
		 			margin: 0 10px;
		 			text-align: center;
		 			width: 20px;

		 		}

		 		.fa-chevron-right
		 		{
		 			color: darken(@leftSidebarLinkColor,25%);
		 			font-size: 10px;
		 			float: right;
		 			line-height: 20px;
		 			padding: 0 5px;
		 		}

		 	}
		 	
		 	.nav  li.active > a 
		 	{
		 		text-decoration: none;
		 		background-color: #1A2022;
		 		border-left:3px solid @primary;
		 		//border-radius: 2px;
		 		color: lighten(@leftSidebarLinkColor,80%);
		 		.transition(all 0.1s ease);
		 		i
		 		{
		 			color: lighten(@leftSidebarLinkColor,80%);
		 		}
		 	}
		 	.nav li:last-child a
		 	{
		 		//border-bottom:1px solid darken(@leftSidebarBackground,3%);
		 	}
		 	.nav > li ul 
		 	{
		 		list-style: none;
		 		padding-left: 0px;
		 		display: none;
		 		background-color: lighten(@leftSidebarBackground,3%);
		 		margin-left: -1px;

		 		> li 
		 		{
		 			&:first-child,&:last-child
		 			{
		 				//border-top:1px solid @leftSidebarBackground;
		 			}
		 			> a
		 			{
		 				color: @leftSidebarLinkColor;
		 				font-size: 14px;
		 				font-weight: 400;
		 				padding: 10px 5px;
		 				//border-left:1px solid @leftSidebarBackground;
		 				display: block;
		 				color: @leftSidebarLinkColor;
		 				//border-top:1px solid @leftSidebarBackground;
		 			}
		 			ul
		 			{
		 				background-color: lighten(@leftSidebarBackground,5%);
		 				> li ul
		 				{
		 					background-color: lighten(@leftSidebarBackground,7%);
		 					> li ul
		 					{
		 						background-color: lighten(@leftSidebarBackground,9%);
		 					}
		 				}
		 			}

		 		}
		 	}

		 }


		 
		}

		.site-holder.mini-sidebar
		{

			.left-sidebar
			{
				li.submenu  ul 
				{
					width: 200px;
					display: block;
					position: absolute;
					margin-left: @leftSidebarMiniWidth !important;
					z-index: 300000;
					margin-top: -65px;
					border:1px solid @primary;
					
				}
				width: @leftSidebarMiniWidth !important;
				.transition(all 300ms ease);
				.user-menu
				{
					.avatar
					{
						margin-left: -10px;
					}
					.user-info, .user-status
					{
						display: none;
					}
				}
				.nav > li > a
				{
					font-size: 12px;
					width: @leftSidebarMiniWidth !important;
					overflow: hidden;
					border-bottom: 1px solid darken(@leftSidebarBackground,10%);
					text-align: center;
					height: 65px;	
					.hidden-minibar
					{
						//display: none;
						font-size: 11px;
						text-align: center;
						line-height: 22px;
					}	
					.fa-chevron-right
					{
						display: none;
					}
					i

					{
						margin-top: 5px;
						display: block;
						font-size: 20px;
						text-align: center;
						width: 40px;
					}
					
				}
			}
			
			.breadcrumb-holder
			{
				margin-top: -9px;
			}
			.user-details
			{
				margin-left: @leftSidebarMiniWidth;
				background-color: #f5f5f5;
				z-index: 0;
				position: absolute;
				
				
				text-align: justify;
				width: @leftSidebarWidth+50;
				height: 100%;
				color: @leftSidebarLinkColor;
				z-index: 1000;
				overflow: hidden;
				.transition(2000ms ease);
				-webkit-box-shadow: 2px 0px 1px 0px #e2e2e2;
				-moz-box-shadow: 2px 0px 1px 0px #e2e2e2;
				box-shadow: 2px 0px 1px 0px #e2e2e2;

				&.user-details-close
				{
					margin-left: -@leftSidebarWidth;
					.transition(2000ms ease);

				}
			}
			.content
			{
				margin-left: @leftSidebarMiniWidth;
				.transition(300ms ease);
				padding: 10px;

			}


		}
/*	Content
---------------------------------------------------------------------------------------------- */
.content
{
	margin-left: @leftSidebarWidth;
	padding-left: 10px;
	.transition(500ms ease);
	.main-content{
		padding-top: 15px;
		min-height:600px;
	}
	&.left-sidebar-open
	{
		margin-left: @leftSidebarWidth !important;
	}
	.row
	{
		margin-right: 0px;
	}	
	&.user-details-open
	{
		margin-left: @leftSidebarWidth+50+@leftSidebarWidth;
	}
	.breadcrumb-holder
	{
		height: @navBarHeight;
		background-color: white;
		margin-left: -15px;
		
		-webkit-box-shadow: 0px 1px 0px 0px #e2e2e2;
		-moz-box-shadow: 0px 1px 0px 0px #e2e2e2;
		box-shadow: 0px 1px 0px 0px #e2e2e2;
		.breadcrumb 
		{
			display: inline-block;
			background-color: white;
			margin-bottom: 0px;
			font-family: @second-font;
			padding: 16px 15px;
			border-radius: 0px;
			.active 
			{
				color: @leftSidebarBackground;
				font-size: 18px;
				text-transform: uppercase;
			}
			> li + li:before 
			{
				padding: 0 5px;
				color: #adafb0;
				content: "\00AB";

			}
			li a
			{
				color: #adafb0;
				font-family: @second-font;
				font-size: 12px;
				
			}


		}
		a.options-toggle,a.refresh-storage
		{
			font-size: 34px;
			color: #adafb0;
			background-color: @options-background;
			display: inline-block;
			line-height: @navBarHeight;
			float: right;
			height: @navBarHeight;
			width: @navBarHeight;
			text-align: center;
			&:hover
			{
				background-color: darken(@options-background,5%);
			}
		}
	}
	.options-holder
	{
		min-height: 140px;
		background-color: #ececec;
		padding: 20px 0px;
		margin-left: -10px;
		padding-left: 10px;
		.transition(500ms ease);
		
		&.closed
		{
			display: none;
			.transition(500ms ease);
		}

		-webkit-box-shadow: 0px 1px 0px 0px #cccccc;
		-moz-box-shadow: 0px 1px 0px 0px #cccccc;
		box-shadow: 0px 1px 0px 0px #cccccc;
		
		.thumbnail.tile
		{
			width: 100%;
			height: 100px;
			padding-top: 20px;
			h1
			{
				font-size: 24px;
				margin-top: 0px;
			}

		}

		/*.options
		{
			li 
			{
				height: 80px;
				width: 80px;
				text-align: center;
				&.active,&:hover
				{
					background-color: white;
					border-bottom: 1px solid @primary;
				}
				&.create-new
				{
					border:1px dashed #000000;
					border-radius: 5px;
				}
				a
				{
					text-align: center;
					font-size: 14px;
					color: #5a6466;
					text-decoration: none;
					i
					{
						font-size: 20px;
						margin-top: 10px;
						display: block;
					}
				}
			}
			}*/
		}
	}

/*	User Details
---------------------------------------------------------------------------------------------- */
.user-details
{
	margin-left: @leftSidebarWidth;
	background-color: #f5f5f5;
	z-index: 0;
	position: absolute;
	
	text-align: justify;
	width: @leftSidebarWidth+50;
	height: 100%;
	color: @leftSidebarLinkColor;
	z-index: 1000;
	overflow: hidden;
	.transition(500ms ease);
	-webkit-box-shadow: 2px 0px 1px 0px #e2e2e2;
	-moz-box-shadow: 2px 0px 1px 0px #e2e2e2;
	box-shadow: 2px 0px 1px 0px #e2e2e2;

	&.user-details-close
	{
		margin-left: -50px;
		.transition(500ms ease);

	}
}

/*	panels
---------------------------------------------------------------------------------------------- */
.panel
{
	padding: 0px;
	//border-width: 0px;
	border-top: 1px solid @primary;
	-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
	-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
	box-shadow: 0px 0px 2px 0px #cec8c8;
	border-radius: 0px;
	&.bg-none
	{
		background-color: none !important;
		border-top: 0px solid @primary;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-radius: 0px;

	}
	> .panel-heading  		
	{
		border-bottom: 1px solid #e9e9e9;
		font-weight: normal;
		background: none;
		h3
		{
			font-size: 14px;
			font-weight: normal;
			font-family: @first-font;
			color:#b1b2b4;

		}
		a
		{
			text-decoration: none !important;
		}
		.panel-options
		{
			float:right;
			a
			{
				padding: 3px;
				color:#e9e9e9;
				font-size: 16px;

				&:hover
				{
					text-decoration: none;		
					color: #cfcece;
				}
			}
		}

	}
	> .panel-body
	{
		&.no-padding
		{
			padding: 0px !important;

		}
		.padding
		{
			padding: 15px !important;

		}
	}
	&.panel-primary
	{
		border:none;		
		border-color: none;
		> .panel-heading {
			color: @primary !important;
			background-color: #ffffff;
			border-top:1px solid @primary;
			h3
			{
				font-size: 14px;
				font-weight: normal;
				font-family: @first-font;
				
			}
		}

	}
	&.panel-success
	{
		border-top: 1px solid @success;
	}
	&.panel-danger
	{
		border-top: 1px solid @danger;
	}
	&.panel-info
	{
		border-top: 1px solid @info;
	}
	&.panel-warning
	{
		border-top: 1px solid @warning;
	}




}


.submenu.current  > a   i.fa-chevron-right
{
	.transition(200ms ease);
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
}

/*	Jpreloader
---------------------------------------------------------------------------------------------- */
#jpreOverlay {
	background-color: #23bab5;
}
#jpreSlide{
	font-size:22px;
	color:#FFFFFF;
	text-align:center;
	width:50%;
	height:30%;
}
#jpreLoader{
	width:300px;
	height:5px;
	background:  #FFFFFF;
	border-radius: 2px;
}

#jpreBar {
	background:#232b2d;
	// background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	// 	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

.brand
{
	color: white;
	font-size: 24px;
	font-family: @second-font;
	padding: 0px;
	line-height: 60px;
	width: @leftSidebarWidth;
	text-align: center;
}
#jprePercentage {
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	font-size: 25px;
	top:100%;
}

/*	Load Mask
---------------------------------------------------------------------------------------------- */
.loadmask {
	z-index: 100;
	position: absolute;
	top:0;
	left:0;
	-moz-opacity: 0.5;
	opacity: .20;
	filter: alpha(opacity=50);
	background-color: darken(@leftSidebarBackground, 30%);
	width: 100%;
	height: 100%;
	zoom: 1;
}
.loadmask-msg {
	z-index: 20001;
	position: absolute;
	top: 0;
	left: 0;
	background: #FFFFFF;
	padding:2px;
}
.loadmask-msg div {
	padding:5px 10px 5px 25px;
	line-height: 16px;
	color:@primary;
	font:normal 11px tahoma, arial, helvetica, sans-serif;
	cursor:wait;
}
.masked {
	overflow: hidden !important;
}
.masked-relative {
	position: relative !important;
}
.masked-hidden {
	visibility: hidden !important;
}


.placeholder {
	background-color: white;

}


/* Nav Tabs
---------------------------------------------------------------------------------------------- */
.nav-tabs
{
	border-color: @primary;
	margin-bottom: 5px;
	
	li a
	{
		color:lighten(@secondary, 30%);
		font-weight: normal;
		margin-bottom: -1px;
		
	}

	li.active > a,li.active > a:hover
	{
		font-weight: 500;
		color:@primary;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color:@primary;
		border-bottom-width: 0px;

	}
}
.nav-stacked-left
{
	border-color: @primary !important;
	margin-bottom: 5px;
	
	li a
	{
		color:lighten(@secondary, 30%);
		font-weight: normal;
		border-color:@primary;
	}

	li.active > a,li.active > a:hover
	{
		font-weight: 500;
		color:@primary !important;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color:@primary !important;
		border-right-width: 0px !important;
		border-radius: 0px;

	}
}
.nav-stacked-right
{
	border-color: @primary !important;
	
	li a
	{
		color:lighten(@secondary, 30%);
		font-weight: normal;
		border-color:@primary;
	}

	li.active > a,li.active > a:hover
	{
		font-weight: 500;
		color:@primary !important;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color:@primary !important;
		border-left-width: 0px !important;
		border-radius: 0px;
		margin-left: 1px;

	}
}
#panel-tab
{
	margin-top: -10px;
	margin-right: 10px;
	border-width: 0px;

	li a
	{
		padding: 8px;
		color:lighten(@secondary, 30%);
		font-size: 14px;
		font-weight: normal;
		border-width: 0px;
	}

	li.active a
	{
		border-top-color: @primary;
		font-weight: 500;
		color:@primary;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-bottom: 2px solid @primary;

	}
}

.nav-tab-right 
{
	li 
	{
		float: right;
	}
}

.nav-stacked-left {
	border-right: 1px solid #dddddd;
}

.nav-stacked-left > li {
	margin-right: -4px;
}

.nav-stacked-left > li > a {
	margin-right: 2px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.nav-stacked-left > li > a:hover {
	border-color: #eeeeee #eeeeee #dddddd;
}

.nav-stacked-left > li.active > a,
.nav-stacked-left > li.active > a:hover,
.nav-stacked-left > li.active > a:focus {
	color: #555555;
	cursor: default;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-right-color: transparent;
}

.nav-stacked-right {
	border-left: 1px solid #dddddd;
}

.nav-stacked-right > li {
	margin-left: -2px;
}

.nav-stacked-right > li > a {
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.nav-stacked-right > li > a:hover {
	border-color: #eeeeee #eeeeee #dddddd;
}

.nav-stacked-right > li.active > a,
.nav-stacked-right > li.active > a:hover,
.nav-stacked-right > li.active > a:focus {
	color: #555555;
	cursor: default;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-color: transparent;
}

/* Progress bar Custom styles
---------------------------------------------------------------------------------------------- */

.progress 
{
	height: 8px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;
	background-color: @primary;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.progress-bar-success {
	background-color: @success;
}
.progress-bar-primary {
	background-color: @primary !important;
}

.progress-bar-info {
	background-color: @info;
}

.progress-bar-warning {
	background-color: @warning;
}

.progress-bar-danger {
	background-color: @danger;
}

/* Dashboard widget styles
---------------------------------------------------------------------------------------------- */

.fa-opacity
{
	opacity: 0.5;
}
.fa-watermark
{
	position: absolute;
	right: 10%;
	font-size: 58px;
	color: rgba(0, 0, 0, 0.1);
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
	.transition(100ms ease);
}

.avatar 
{
	&.avatar-xs
	{
		width: 25px;
	}
	&.avatar-sm
	{
		width: 50px;
	}
	&.avatar-md
	{
		width: 75px;
	}
	&.avatar-lg
	{
		width: 100px;
	}
	&.avatar-left
	{
		float: left;
	}
}

.profile-incomplete
{
	img 
	{
		border-radius: 3px;
	}
	height: 280px;
	.welcome-user
	{
		margin-top: 0px;
		.small
		{
			font-family: @first-font;
		}
		h6
		{
			font-family:@second-font;
			font-weight:400;
			padding-left: 100px;
			font-size:15px;

		}
		h4
		{
			font-weight: 900;
			color: #333;
			font-size: 15px;
			padding-left: 100px;
			font-family:@second-font;
			hr
			{
				margin-top: 15px;
			}
		}
	}
	.lists
	{
		.fa 
		{
			font-size:8px;
			color: #6d6d6d;
			padding-right: 5px;
		}
		font-family:@third-font;
		font-weight:400;

	}
}

.demo-chart-one-summary
{
	text-align: center;
	h4
	{
		margin-bottom: 0px;
	}
}

.carousel-inner img 
{
	width: 100%;
}

/*  Buttons overwrite css
---------------------------------------------------------------------------------------------- */

.btn-default {
	color: #aca9a9;
	background-color: #FFFFFF;
	border-color: #cecece;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #bab8b8;
	background-color: #f9f9f9;
	border-color: #bab8b8;
}


.btn-primary {
	color: #ffffff;
	background-color: @primary;
	border-color: darken(@primary, 2%);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: darken(@primary, 5%);
	border-color: darken(@primary, 10%);
}

.btn-warning {
	color: #ffffff;
	background-color: @warning;
	border-color: darken(@warning, 2%);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
	color: #ffffff;
	background-color: darken(@warning, 5%);
	border-color: darken(@warning, 10%);
}

.btn-danger {
	color: #ffffff;
	background-color: @danger;
	border-color: darken(@danger, 2%);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
	color: #ffffff;
	background-color: darken(@danger, 5%);
	border-color: darken(@danger, 10%);
}

.btn-info {
	color: #ffffff;
	background-color: @info;
	border-color: darken(@info, 2%);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
	color: #ffffff;
	background-color: darken(@info, 5%);
	border-color: darken(@info, 10%);
}

.btn-inverse {
	color: #ffffff;
	background-color: @inverse;
	border-color: darken(@inverse, 2%);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
	color: #ffffff;
	background-color: darken(@inverse, 5%);
	border-color: darken(@inverse, 10%);
}

/* Demo  Icons  @Font Awesome
---------------------------------------------------------------------------------------------- */
.fontawesome-icon-list {
	margin-top: 22px;
}
.fontawesome-icon-list .fa-hover {
	display: block;
	color: #222;
	line-height: 32px;
	height: 32px;
	padding-left: 10px;
	border-radius: 4px;
	&:hover
	{
		cursor:pointer;
	}
}
.fontawesome-icon-list .fa-hover .fa {
	width: 32px;
	font-size: 14px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	color: @primary;
}
.fontawesome-icon-list .fa-hover:hover {
	background-color: #ececec;
	color: #000;
	text-decoration: none;
}
.fontawesome-icon-list .fa-hover:hover .fa {
	font-size: 28px;
	vertical-align: -6px;
}
.fontawesome-icon-list .fa-hover:hover .text-muted {
	color: #bbe2d5;
}

.icon-show .fa-2x{font-size:2em}
.icon-show .fa-3x{font-size:4em}
.icon-show .fa-4x{font-size:7em}
.icon-show .fa-5x{font-size:12em}
.icon-show .fa-6x{font-size:20em}


/* Demo  Icons  @Font Awesome
---------------------------------------------------------------------------------------------- */
.ion-icons {
	margin-top: 22px;
}
.ion-icons .fa-hover {
	display: block;
	color: #222;
	line-height: 32px;
	height: 32px;
	padding-left: 10px;
	border-radius: 4px;
	&:hover
	{
		cursor:pointer;
	}
}
.ion-icons .fa-hover .icon {
	width: 32px;
	font-size: 14px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	color: @primary;
}
.ion-icons .fa-hover:hover {
	background-color: #ececec;
	color: #000;
	text-decoration: none;
}
.ion-icons .fa-hover:hover .icon {
	font-size: 28px;
	vertical-align: -6px;
}
.ion-icons .fa-hover:hover .text-muted {
	color: #bbe2d5;
}




/* Full calendar
---------------------------------------------------------------------------------------------- */
#external-events {
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	margin-bottom: 20px;
	padding: 0px 40px;
}
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
.external-event {
	/* try to mimick the look of a real event */

	margin: 10px 0;
	padding: 10px 4px;
	//background: #3366CC;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	height:30px;
	line-height: 10px;
}
external-event:active
{
	background-color: #000000;
}
.fc-event {
	border: 0px solid #93D0EA !important;
	/* default BORDER color */
	border-radius: 0px;

	//background-color: #93D0EA !important;
	/* default BACKGROUND color */

	color: #FFF !important;
	/* default TEXT color */

	font-size: .85em;
	cursor: default;
	padding: 1px 5px ;
}
.event-color
{
	margin: 10px 0px; 
}
.fc-header-title
{
	color: @primary;
}
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}
#external-events p input {
	margin: 0;
	vertical-align: middle;
}
#write-event,#create-event
{
	border-radius: 0px;
}

.fc-header .fc-button {
	background: @primary;
	color: #FFFFFF;
	text-shadow: none;
	
}








/* The file upload form
---------------------------------------------------------------------------------------------- */
#upload {
	font-family: @second-font;
	padding: 30px;
}
#drop {
	padding: 100px 50px;
	margin-bottom: 30px;
	border-radius: 3px;
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	color: @primary;
	border:4px dotted @primary;
}
#drop a {
	background-color: @primary;
	padding: 12px 26px;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	margin-top: 12px;
	line-height: 1;
}
#drop a:hover {
	background-color: lighten(@primary,10%);
	text-decoration: none;
}
#drop input {
	display: none;
}
#upload ul {
	list-style: none;
}
#upload ul li {
	background-color: #333639;
	background-image: -webkit-linear-gradient(top, #333639, #303335);
	background-image: -moz-linear-gradient(top, #333639, #303335);
	background-image: linear-gradient(top, #333639, #303335);
	border-top: 1px solid #3d4043;
	border-bottom: 1px solid #2b2e31;
	height: 75px;
	left: -20px;
	position: relative;
}
#upload ul li input {
	display: none;
}
#upload ul li p {
	width: 144px;
	overflow: hidden;
	white-space: nowrap;
	color: #EEE;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 20px;
	left: 100px;
}
#upload ul li i {
	font-weight: normal;
	font-style: normal;
	color: #7f7f7f;
	display: block;
}
#upload ul li canvas {
	top: 15px;
	left: 32px;
	position: absolute;
}
#upload ul li span {
	width: 15px;
	height: 12px;
	background: url('../images/icons.png') no-repeat;
	position: absolute;
	top: 34px;
	right: 33px;
	cursor: pointer;
}
#upload ul li.working span {
	height: 16px;
	background-position: 0 -12px;
}
#upload ul li.error p {
	color: red;
}
/* Mail Box
---------------------------------------------------------------------------------------------- */

.inbox
{
	border: 1px solid #dde0e8;
	padding-left: 10px;
}
.mail-left-box
{
	height: 600px;
	padding: 10px;

	.btn-compose
	{
		background: @danger;
		margin-bottom: 10px;
		color: #FFFFFF;
		border-width:2px;
		padding:3px;
		font-weight: bold;
		width: 100%;
		&:hover
		{
			background-color: darken(@danger,3%);

		}
	}
	
	.form-control
	{
		border-color: #ccc;
	}

	.inbox-options
	{
		a
		{
			border: 1px solid #FFFFFF;
			padding: 5px 18px;
			&.list-group-item.active,
			&.list-group-item.active:hover,
			&.list-group-item.active:focus 
			{
				z-index: 2;
				color: @danger;
				background-color: #FFFFFF;
				border: 1px solid #FFFFFF;
				background-color: #f5f5f5;

				.badge
				{
					color: #FFFFFF;
					background-color: @danger !important;
				}
			}

			cursor: pointer;
			font-weight: 600;
			&:first-child,&:last-child
			{
				border-radius:0px;
			}
			i
			{
				width: 20px;
			}
		}


	}
	.inbox-labels
	{
		margin-top: 20px;
		a
		{
			border-color: #FFFFFF;
			font-size: 12px;
			line-height: 10px;
			background: transparent;
			&.list-group-item.active,
			&.list-group-item.active:hover,
			&.list-group-item.active:focus 
			{
				z-index: 2;
				color: @primary;
				background-color: #FFFFFF;
				border-color: #FFFFFF;
			}
			i 
			{
				font-size:15px;
				
			}
		}
		h5
		{
			color:#b0b5b9 !important;
		}
	}
}

.mail-right-box
{
	border-left: 1px solid #dde0e8;
	height: 800px;
	padding: 0px;

	.mail-options
	{
		a
		{
			border:1px solid #dde0e8;
			padding:10px;
			font-size: 16px;
			&:hover
			{
				text-decoration: none;
			}

		}

		.fa-chevron-right,.fa-chevron-left
		{
			color: #555555;
			&:hover
			{
				text-decoration: none;
				color: lighten(#555555,10%);
			}
		}
	}


	.mail-options-nav
	{
		.option-btn
		{
			background: #F1ECEC;
			border:1px solid #E7E2E2;
			color:#df6c6e;
			border-radius: 3px !important;
		}
		.select-all
		{
			width: 40px;

			float: left; 
			margin-right: 20px;
		}

		padding: 10px;
		border-bottom: 1px solid #dde0e8;

		.mail-pagination
		{
			font-size: 14px;
			label
			{
				font-size: 14px;
			}
		}

	}
	.mails
	{
		height: 745px;
		overflow: scroll;
		margin-right: -15px;
		
	}
	.dropdown-optionss
	{
		.btn
		{
			border-radius: 3px;
		}
		.input-group-addon
		{
			background:none;
			border-left: 0px;
			border-radius: 0px;

		}
		input
		{
			border-radius: 0px;
			color: #2e393b !important;	
			border-right: 0px;

		}
		.form-control:focus {
			border-color: #dfdfd5 !important;
			box-shadow: none !important;
		}
		.fa-search
		{
			opacity: 0.5;
		}

	}


}

/* Web Statistics mini
---------------------------------------------------------------------------------------------- */
.web-stats {
	padding: 10px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 1px solid #d7e3f0;
	height: 80px;
	&:hover .fa-watermark
	{
		font-size: 68px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		.transition(300ms ease);
	}
	> span 
	{
		padding: 10px;
	}

	.graph-summary
	{
		padding-left: 20px;
		h5
		{
			margin-top: 3px;
			font-size: 20px;

		}
	}
	.fa-stack 
	{
		margin-top: -10px !important;
		color: @inverse;
		font-size: 30px;
	}
	.icon
	{
		font-size:50px;
	}
}
.web-stats 
{
	&.primary 
	{
		border-bottom: 1px solid @primary;
	}
	&.success 
	{
		border-bottom: 1px solid @success;
	}
	&.warning 
	{
		border-bottom: 1px solid @warning;
	}
	&.danger 
	{
		border-bottom: 1px solid @danger;
	}
	&.info 
	{
		border-bottom: 1px solid @info;
	}
	&.inverse 
	{
		border-bottom: 1px solid @inverse;
	}



	.success 
	{
		background-color: @success;
	}	
	.info 
	{
		background-color: @info;
	}
	.warning 
	{
		background-color: @warning;
	}
	.danger 
	{
		background-color: @danger;
	}
	.inverse 
	{
		background-color: @inverse;
	}
}


.chart
{

	canvas
	{
		width: 60px !important;
		height: 60px !important;
		line-height: 60px !important;	
	}
	width: 60px !important;
	height: 60px !important;
	line-height: 60px !important;
	margin-top: 0px;
	&.user-canvas
	{
		width: 150px !important;
		height: 150px !important;
		line-height: 150px !important;
	}

}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}



/*compose styles*/
.compose
{
	.compose-head
	{
		min-height: 100px;
		background: #eef1f8;
		h1
		{
			font-size: 30px;	
			font-weight: 200;
			padding-left: 15px;
			color: #5c617b;
			padding-top: 20px;
			.send-mail
			{
				margin-right: 40px;
			}

		}
		h6
		{
			padding-left: 15px;
			color: #5c617b;
		}


	}
	.title-box
	{
		min-height: 180px;
		padding-top: 20px;

		hr
		{
			border-width: 1px;
			border-color: #5c617b;
			opacity: 0.3;	
		}
		label
		{
			color: #5c617b;
			font-size: 15px;
		}
		input
		{

			border-radius: 0px;
			outline: none !important;
			background: #f9fafb;
			box-shadow: none !important;
			border-color: #dfdfd5 !important;


		}
		.input-group-addon
		{
			background:#f9fafb;
			border-right: 0px;
			color: #999999;
			border-radius: 0px;
			border-color: #dfdfd5 !important;	
		}

		.form-control:focus
		{

			border-color: #dfdfd5 !important;
			box-shadow: none !important;
			background: darken(#f9fafb,5%);



		}


	}


	.message-box
	{
		min-height: 200px;
		padding-top: 5px;

		hr
		{
			border-width: 1px;
			border-color: #5c617b;
			opacity: 0.3;	
		}
		label
		{
			color: #5c617b;
			font-size: 15px;
			margin-top: 10px;
		}
		input
		{

			border-radius: 0px;
			outline: none !important;
			background: #f9fafb;
			box-shadow: none !important;
			border-color: #dfdfd5 !important;


		}
		.input-group-addon
		{
			background:#f9fafb;
			border-right: 0px;
			color: #999999;
			border-radius: 0px;
			border-color: #dfdfd5 !important;	
		}

		.form-control:focus
		{

			border-color: #dfdfd5 !important;
			box-shadow: none !important;
			background: darken(#f9fafb,5%);
		}
		.textarea
		{
			border-radius: 0px;
			outline: none !important;
			background: #f9fafb;
			box-shadow: none !important;
			border-color: #dfdfd5 !important;
		}
	}
	.compose-options
	{
		height: 80px;
		background: #cccccc !important;
		
	}

}

.tasks
{
	margin-bottom: 20px;
}
.list-tasks
{
	margin-left: -30px;
	list-style: none;
	.task-placeholder
	{
		background-color: #f9f9f9;
		border: 2px dashed #cccccc;
		border-radius: 4px;
	}

	li
	{
		min-height:50px !important;
		margin: 5px;
		padding-left: 5px;
		padding-top: 5px;
		border-radius: 2px;

		&.completed
		{
			opacity: 0.5 !important;
			.createdby, .title
			{
				text-decoration: line-through;
			}
		}
		.check, .fa-bars
		{
			float: left;
			width: 15px;
			height: 40px;
			display: none;
			position: absolute;
			.transition(500ms ease);
		}
		.check
		{
			margin-left: 25px;
		}
		.fa-bars
		{
			margin-top: 15px;
			font-size: 16px;
			cursor: move;
		}
		&:hover
		{

			.check, .fa-bars
			{
				display: block;
				.transition(500ms ease);
			}


		}
		.title
		{
			font-weight: bold;
			padding-left: 60px;
		}

		.createdby
		{
			float: left;
			width: 70%;
			height: 20px;
			overflow: hidden !important;
			padding-left: 60px;	
			font-style: italic;
			font-size: 12px;

		}
		&.task-heading
		{
			margin-top: 30px;
			.title,.createdby
			{
				padding-left: 10px !important;
			}
		}

		&.alert-danger
		{
			border-left: 8px solid @danger;

		}
		&.alert-success
		{
			border-left: 8px solid @success;
		}
		&.alert-primary
		{
			border-left: 8px solid @primary;
			background-color: lighten(@primary, 30%);
		}
		&.alert-info
		{
			border-left:8px solid darken(#d9edf7, 30%);

		}
		&.alert-warning
		{
			border-left: 8px solid @warning;
		}
		.time
		{
			font-style: italic;
			float:right;
			font-size: 10px;
			line-height: 14px;
			padding-right: 20px;
			margin-top: -10px;
			.created
			{
				display: block;
				padding-left: 1px;
			}
		}

	}

}

.task-body
{
	background-color: @bodyBackground;
	padding-left: 30px;
	.task-title
	{
		font-weight: bold;
		color:#949494;
		display: inline-block;

	}
	.task-content
	{
		min-height: 400px;
		margin-bottom: 20px;
		
		>.task-head
		{
			background: #f2f2f2;
			height: 100px;
			color: #949494;
			>h4,h5
			{
				font-weight: bolder;	
				i 
				{
					color: #309C9C;
				}
			}
		}
		>.task-aside
		{
			background: #e8e5e5;
			height: 100px;
			font-size: 15px;
			li 
			{
				padding-top: 20px;
				text-align: center;
				a
				{
					color: #B5B3B8;	
				}
				
			}
			
		}

		&#task-content-info
		{
			.task-info
			{
				border-bottom: 1px solid #CDE7F5;
				i
				{
					color: #5bb1dc;
				}
			}
			border: 1px solid #CDE7F5;
			>.task-head
			{
				background: #d9edf7;
				color: #31708f;

				>h4,h5
				{
					i 
					{
						color: #31708f;
					}
				}
				.task-title
				{
					color: #31708f;
				}
			}
			>.task-aside
			{
				background: #5bb1dc;
				li 
				{
					a
					{
						color: #FFFFFF;	
					}
					
				}
				
			}
			.task-links
			{
				background: #CDE7F5;				
			}
			.task-input
			{
				.input-group-addon
				{
					color:#5bb1dc;
				}
			}

		}
		&#task-content-danger
		{
			.task-info
			{
				border-bottom: 1px solid #FAE4E5;
				i
				{
					color: #F5BBBB;
				}
			}
			border: 1px solid #FAE4E5;
			>.task-head
			{
				background: #f2dede;
				color: #a94442;

				>h4,h5
				{
					i 
					{
						color: #a94442;
					}
				}
				.task-title
				{
					color: #a94442;
				}
			}
			>.task-aside
			{
				background: #df6c6e;
				li 
				{
					a
					{
						color: #FFFFFF;	
					}
					
				}
				
			}
			.task-links
			{
				background: #FAE4E5;				
			}
			.task-input
			{
				.input-group-addon
				{
					color:#F5BBBB;
				}
			}
		}
		&#task-content-primary
		{
			.task-info
			{
				border-bottom: 1px solid #CFF6F4;
				i
				{
					color: #23bab5;
				}
			}
			border: 1px solid #CFF6F4;
			>.task-head
			{
				background: #8de9e6;
				color: #333333;

				>h4,h5
				{
					i 
					{
						color: #333333;
					}
				}
				.task-title
				{
					color: #333333;
				}
			}
			>.task-aside
			{
				background: #23bab5;
				li 
				{
					a
					{
						color: #FFFFFF;	
					}
					
				}
				
			}
			.task-links
			{
				background: #8de9e6;

			}
			.task-input
			{
				.input-group-addon
				{
					color:#23bab5;
				}
			}

		}
		&#task-content-success
		{
			.task-info
			{
				border-bottom: 1px solid #E3F5D0;
				i
				{
					color: #a0d269;
				}
			}
			border: 1px solid #dff0d8;
			>.task-head
			{
				background: #dff0d8;
				color: #3c763d;

				>h4,h5
				{
					i 
					{
						color: #3c763d;
					}
				}
				.task-title
				{
					color: #3c763d;
				}
			}
			>.task-aside
			{
				background: #a0d269;
				li 
				{
					a
					{
						color: #FFFFFF;	
					}
					
				}
				
			}
			.task-links
			{
				background: #dff0d8;				
			}
			.task-input
			{
				.input-group-addon
				{
					color:#a0d269;
				}
			}

		}
		&#task-content-warning
		{
			.task-info
			{
				border-bottom: 1px solid #FAF6E8;
				i
				{
					color: #eac841;
				}
			}
			border: 1px solid #FAF6E8;
			>.task-head
			{
				background: #fcf8e3;
				color: #8a6d3b;

				>h4,h5
				{
					i 
					{
						color: #8a6d3b;
					}
				}
				.task-title
				{
					color: #8a6d3b;
				}
			}
			>.task-aside
			{
				background: #eac841;
				li 
				{
					a
					{
						color: #FFFFFF;	
					}
					
				}
				
			}
			.task-links
			{
				background: #fcf8e3;				
			}
			.task-input
			{
				.input-group-addon
				{
					color:#eac841;
				}
			}

		}
		>.task-subject
		{
			background: #49927B;
			height: 40px;
			color: #FFFFFF;
			padding-top: 10px;
			font-weight: bolder;
		}
		>.task-info
		{
			background:#fefefe;
			height: 80px;
			color: #949494;	
			font-weight: bold;
			font-size: 12px;				
			padding-top: 30px;
			
			
		}
		
		.task-info-right
		{
			font-size: 15px;
			line-height: 30px;
			color: #309C9C;
		}
		.task-input
		{
			padding: 0px;
			padding-bottom:0px;
			input
			{
				border-radius: 0px;
				border: 0px;
				box-shadow:none;
				border-top: 0px;
				height: 100px;

			}
			.input-group-addon
			{
				border-radius: 0px;
				background-color:#FFFFFF;
				border:0px;
				font-size: 20px;

			}
			.form-group
			{
				margin-bottom: 0px;
			}
		}

		.task-links
		{
			padding-bottom: 0px;
			margin-bottom: 0px;
			text-align: center;
			li 
			{
				padding:20px;
				a 
				{
					color:#616364;
					font-size: 15px;	
					&:hover
					{
						color:#000;
					}
				}
			}
		}

		
	}
}
.create-task
{
	padding-left: 15px;
	padding-right: 10px;
}
/*inbox styles*/

.mail
{

	.mail-list
	{
		overflow: hidden;
		tr
		{
			:first-child
			{
				border-top:0px;
			}
			td
			{
				height: 110px;
				padding: 10px;

				border:1px solid #dde0e8;
				border-left: 0px;

				&:hover
				{
					background:#f9f9f9;
					
				}

				
			}
			.mail-img
			{
				width:70px;


				img
				{
					width: 100%;
					float: left;
					margin-left: 20px;
					border-radius:3px; 
				}

			}

			.mail-matter
			{
				margin-left: 100px;
				height: 80px;
				overflow: hidden;

				h6
				{
					font-size: 14px;
					margin-top: 0px;
					margin-bottom: 0px;
					color: #171a21;
					font-weight: bold;


					.fa-paperclip
					{
						color:#dde0e8;
						font-size: 20px;

					}

				}
				h5
				{
					font-size: 16px;
					font-weight: bold;
					margin-top:8px !important;
					margin-bottom:2px !important;
					color: #171a21;
					font-family: @second-font;
				}
				p
				{
					font-size:12px;
					margin-top:3px !important;
					color: #868b98;
				}
			}
		}
	}



}
/*mailbody*/
.mail-content
{
	padding-left: 20px;
	h5
	{
		font-size:25px;
		color: #171a21;
		font-weight: bolder;
		font-family: @second-font;
	}
	h6
	{
		font-size:14px;
		color: #171a21;
	}
	P
	{
		color: #868b98;
		font-size: 14px !important;

	}


	.mail-content-head
	{
		height: 80px;
		h5
		{
			i 
			{
				color: #b3c0c3;
				font-size: 15px;
				padding: 5px;
				padding-top: 0px;
			}
		}
	}

	hr
	{
		border-width: 1px;
		border-color: #5c617b;
		opacity: 0.3;	
	}	



	.mail-content-text
	{
		min-height: 300px;
		img 
		{
			float: left;
			padding-right:20px;
		}
		a 
		{
			color:#d04f3a;
		}
		h3
		{
			color:#d04f3a;
			font-weight: bolder;
			font-family: @second-font;
		}
	}
	
	.attach

	{
		height:80px;
		border:1px solid #dde0e8;
		line-height: 80px;
		border-left: 0px;
		border-right: 0px;
		
		.attach-files
		{
			padding-left: 20px;
			font-size: 15px;
			color: #495051;
			font-weight: bolder;
			.fa-windows
			{
				font-size:30px;
				color: #23bab5;
			}
			.fa-apple
			{
				font-size:30px;
				color: #a0d269 ;
			}
			

		}

		.directors
		{
			padding-left: 50px !important;			
			.fa 
			{
				padding: 5px;
				font-size: 22px;
				color: #e7ebec;
			}

		}

		.dload
		{
			height: 80px;
			float: right;
			margin-right: 60px;
			font-size: 30px;
			border-left:1px solid #dde0e8;
			.fa
			{
				padding: 10px;
				padding-left: 20px;
				color:#b3c0c3;

			}


		}

	}


	.messageinput
	{
		margin-top:20px;
		input
		{
			border-radius: 0px;
			border: none;
			color: #2e393b !important;		
		}
		.form-control:focus {
			border-color: #dfdfd5 !important;
			box-shadow: none;
		}

		ul
		{
			margin-top: 10px;
			color: #d04f3a;
			.btn 
			{
				background:#d04f3a;
				color: #FFFFFF;
			}
		}
	}
}


/***************************profile**************************************/
.profile
{
	.navbar-default
	{
		margin-bottom:1px;
		border-radius: 0px;
	}
	.timeline-left
	{
		
		.timeline-img
		{
			
			height:200px;
			background:#e2e6ec;
			padding:0px;
			img 
			{
				width: 100%;
				height: 100%;				

			}
		}
		.timeline-img-info
		{
			
			height:200px;
			background:#fafafa;
			padding:20px;
			font-weight: bold;
			font-size: 12px;
			color: #71847d;
			padding-top:30px;
			ul 
			{
				li
				{
					padding-bottom:9px;
				}
			}
			.fa 
			{
				font-size: 18px;
				color: #47544f;
				padding-right: 10px;
				padding-bottom: 5px;

			}
			a
			{
				&:hover
				{
					text-decoration:none;
					
				}
				strong
				{
					
					color: #b13e12;
					&:hover
					{
						color:darken(#b13e12,10%);
					}
				}	
			}
			
			
		}
		.timeline-photos
		{
			
			background: #b45226;
			background: #e2e6ec;
			
			.gallery-holder
			{
				padding-left: 0px;
				img 
				{

					width:50px;
					height:50px;
				}

			}
		}
		hr
		{
			border-width: 1px;
			border-color: #d8dce1;
			margin-top: 0px;
		}

		.profile-name
		{
			background: #fcfcfd;
			margin-bottom: 0px;
			h3
			{
				margin-top:40px;
				font-weight: bolder;
				font-size: 20px;
				color: #40505a;
				padding-left: 10px;

			}
			small
			{
				padding-left: 10px;
				color: #98a2a8;
			}
			.pull-right
			{
				i 
				{
					font-size: 25px;
					padding-right:20px;
					line-height: 120px;
					color:#39b0b0;
				}
			}
			
		}

		.send-posts
		{			
			input
			{
				border-radius: 0px !important;
				border:1px solid #d8dce1;
				border-bottom: 0px;
				outline: none;
				box-shadow: none;
				color: #89949b;
				height: 70px;

			}
			.send-posts-body
			{
				background:#eaedf1;
				height: 60px;
				padding-left: 10px;
				border: 1px solid #d8dce1;
				i 
				{
					line-height: 60px;
					padding-left: 25px;
					color:#39b0b0;
					font-size: 20px;

					&:hover
					{
						color:darken(#39b0b0,10%);
						text-decoration: none;
					}
					
				}	

				.btn
				{
					margin-top: 15px;
					margin-right: 10px;
					border-radius: 0px;
					font-weight: bolder;
					background:#39b0b0;
					outline: none !important;
					border:0px;
					font-size: 12px;
				}
			}
			
		}

		.timeline-posts-left
		{
			background: #fcfcfd;
			height: 520px;
			margin-top: 40px;
			border: 1px solid #d8dce1;			
			hr
			{
				border-width: 1px;
				border-color: #d8dce1;
				margin: 0px;

			}

			ul.timeline-head
			{
				padding-top: 15px;

				.pull-left
				{
					h3
					{
						margin: 0px;
						padding-left: 10px;
						font-size:15px;
						font-weight: bolder;

						a {

							color: #4d5b65;							

							&:hover
							{
								color:darken(#2eb398,10%);
								text-decoration: none;
							}
						}
					}
					small
					{
						padding-left: 10px;
						color:#919ba2;
						font-size: 12px;
						font-weight: bolder;			
					}
					i 
					{
						font-size:12px;
						color: #2eb398;	
					}
				}

				

				.pull-right
				{
					p 
					{
						padding-right: 10px;
						color: #919ba2;
						font-size: 12px;
						font-weight: bolder;	
					}
				}
				.timeline-posts-left-img
				{
					width:40px;
					margin-left: 10px;
					margin-bottom: 20px;


					img 
					{
						width: 100%;
						border-radius: 50%;


					}

					
				}

			}

			.uploaded-image
			{

				img 
				{
					width:100%;
					height: 300px;
				}
			}
			.like-bar
			{
				height:40px;
				background:#eaedf1;
				ul
				{
					margin: 0px;

					
					li 
					{
						a 
						{
							font-size: 14px;
							font-weight: bolder;
							padding-left: 10px;
							color: #40505a;
							line-height: 40px;	

							&:hover
							{
								color:darken(#40505a,10%);
								text-decoration: none;
							}
						}

					}


				}
				
			}
			.like-people
			{
				height:40px;
				background:#eaedf1;
				overflow: hidden;
				margin-bottom: 0px;
				ul
				{
					margin: 0px;
					li 
					{
						a 
						{
							font-size: 12px;					
							padding-left: 10px;
							color: #40505a;
							line-height: 40px;
							font-weight: bold;	

							&:hover
							{
								color:darken(#40505a,10%);
								text-decoration: none;
							}
						}

					}

					.like-image
					{
						width:40px;
						padding: 0px;

						img 
						{
							width: 100%;

						}
						
					}					

				}				
				
			}
			input
			{
				border-radius: 0px !important;						
				border: 0px;
				outline: none;
				box-shadow: none;
				color: #89949b;
				height: 60px;
				
			}
		}
		/*timeline-posts-left*/
	}
	/*timeline-left*/

	/*timeline right */

	.timeline-right
	{
		padding: 0px;
		background: #1f282d;		
		.profile-map
		{

			img 
			{
				width: 100%;
				height: 300px;
			}
			.map-footer
			{

				background:#1d282c;
				color:#d2d6d8;
				font-size: 15px;
				height: 39px;


				ul
				{
					margin:0px;

					.pull-left
					{
						padding-left: 10px;
						padding-top: 10px;
					}

					.pull-right
					{
						padding:0px;
						.fa-search-plus
						{
							background:#39b0b0;						
							padding:12px;							
							color: #ffffff;							
							&:hover
							{
								color:darken(#2c9781,20%);
							}
						}
						.fa-search-minus
						{
							background:#3f9999;						
							padding:12px;							
							color: #ffffff;
							&:hover
							{
								color:darken(#2c9781,20%);
							}
						}

					}

					
				}
				/*ul*/
			}
			/*map-footer*/
		}
		/*profile-map*/

		.timeline-right-options
		{
			background:#eaedf1;
			height: 80px;
			text-align: center;
			padding-top: 20px;
			border: 1px solid  #d8dce1;
			font-size:15px;
			font-weight: bold;
			color: #40505a;
			font-family: @first-font;

		}

		.timeline-right-posts
		{

			h3
			{
				color:#919ba2;
				font-size: 12px;
				font-weight: bolder;
			}
		}

		


	}
	/*time-line-right*/

	.timeline-posts-right
	{


		background: #fcfcfd;
		height:400px;



		hr
		{
			border-width: 1px;
			border-color: #d8dce1;
			margin: 0px;

		}

		ul.timeline-head
		{
			padding-top: 15px;

			.pull-left
			{
				h3
				{
					margin: 0px;
					padding-left: 10px;
					font-size:15px;
					font-weight: bolder;

					a {

						color: #4d5b65;							

						&:hover
						{
							color:darken(#2eb398,10%);
							text-decoration: none;
						}
					}
				}
				small
				{
					padding-left: 10px;
					color:#919ba2;
					font-size: 12px;
					font-weight: bolder;			
				}
				i 
				{
					font-size:12px;
					color: #2eb398;	
				}
			}



			.pull-right
			{
				p 
				{
					padding-right: 10px;
					color: #919ba2;
					font-size: 12px;
					font-weight: bolder;	
				}
			}
			.timeline-posts-left-img
			{
				width:40px;
				margin-left: 10px;
				margin-bottom: 20px;


				img 
				{
					width: 100%;
					border-radius: 50%;


				}


			}

		}

		.uploaded-image
		{

			img 
			{
				width:100%;
				height: 200px;
			}
		}
		.like-bar
		{
			height:40px;
			background:#eaedf1;
			ul
			{
				margin: 0px;


				li 
				{
					a 
					{
						font-size: 14px;
						font-weight: bolder;
						padding-left: 10px;
						color: #40505a;
						line-height: 40px;	

						&:hover
						{
							color:darken(#40505a,10%);
							text-decoration: none;
						}
					}

				}


			}

		}
		.like-people
		{
			height:40px;
			background:#eaedf1;
			overflow: hidden;
			ul
			{
				margin: 0px;
				li 
				{
					a 
					{
						font-size: 12px;					
						padding-left: 10px;
						color: #40505a;
						line-height: 40px;
						font-weight: bold;	

						&:hover
						{
							color:darken(#40505a,10%);
							text-decoration: none;
						}
					}

				}

				.like-image
				{
					width:40px;
					padding: 0px;


					img 
					{
						width: 100%;

					}

				}					

			}				

		}
		input
		{
			border-radius: 0px !important;						
			border: 0px;
			outline: none;
			box-shadow: none;
			color: #89949b;
			height: 30px;
			margin-top: 10px;
			margin-bottom: 50px;
		}
	}
}


.image-crop
{
	width: 100%;
}
/************************elfinder*******************/
.elfinder-button {
	padding-top: 0px !important;
	padding-left: 0px !important;
	border: 1px solid #e6e4e4!important;
	background: #f7f6f6;
	height: 30px !important;
	width: 30px !important;
}
.elfinder-toolbar {
	background: #e6e4e4;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.ui-widget-header
{
	background: #e6e4e4;

}
.elfinder-toolbar-button-separator {
	display: ;
}
.ui-helper-clearfix .ui-widget-content .ui-state-default {
	padding: 0px !important;
}
.ui-helper-clearfix .ui-widget-content .ui-state-default .elfinder-button-icon {
	margin: 5px auto;
}
.ui-helper-clearfix .ui-widget-content .ui-state-default .elfinder-button-icon .elfinder-buttonset {
	border: none;
}
/*my-contact*/
.my-contact .contact-right-content .right-content .btn-success {
	margin-left: 15px;
	padding: 10px;
	border-radius: 2px;
	font-size: 12px;
}
.my-contact .contact-right-content .right-content .btn-default {
	padding: 10px;
	border-radius: 2px;
	font-size: 14px;
}
.my-contact .contact-right-content .right-contact-info .info-holders {
	padding: 10px;
	padding-left: 0px;
	font-size: 14px;
	color: #807F7F;
}
.my-contact .contact-right-content .right-contact-info .info-holders i {
	color: #6B898A;
}
.my-contact .contact-right-content .right-contact-info .info-holders i:hover {
	color: #283334;
}
.my-contact .contact-right-content .right-contact-info .info-holders .info-img {
	height: 80px;
	width: 80px;
	float: left;
	margin-right: 10px;
}
.my-contact .contact-right-content .right-contact-info .info-holders .info-img img {
	width: 100%;
	height: 100%;
}
.my-contact .contact-left-content .feed-head {
	padding: 20px;
	border: 1px solid #9BA7A7;
	background: #e3e5e6;
	color: #3E4040;
	font-weight: bold;
}
.my-contact .contact-left-content .feed-block {
	border: 1px solid #9BA7A7;
	border-top: none;
	padding-top: 10px;
	font-size: 14px;
	color: #807F7F;
	padding-bottom: 10px;
}
.my-contact .contact-left-content .feed-block li:last-child {
	color: #cfcfcf;
}
.my-contact .contact-left-content .feed-block a {
	color: #ff6600;
}
.my-contact .contact-left-content .feed-block a:hover {
	color: #b34700;
	text-decoration: none;
}
.my-contact .contact-left-content .feed-block .image-holder img {
	width: 100%;
}
.my-contact .contact-left-content .feed-panels {
	border: 1px solid #9BA7A7;
	margin-top: 20px;
	padding-bottom: 10px;
}
.my-contact .contact-left-content .feed-panels .feed-import {
	background: #e3e5e6;
	font-size: 14px;
	padding: 10px;
	color: #3E4040;
	font-weight: bold;
}
.my-contact .contact-left-content .feed-panels p {
	text-align: center;
	padding: 5px;
	padding: 15px;
}
.my-contact .contact-left-content .feed-panels .btn-success {
	border-radius: 2px;
}
.realtime-bar {
	margin-left: 0px !important;
}
.image-crop {
	width: 100%;
}
.icheck-buttons li {
	padding-bottom: 5px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height: 25px;
}
/*profile*/

/*profile*/

/*general elements*/


.list-todo
{
	margin-bottom: 0px;
	.list-group-item
	{
		height: 50px;
		i.finish
		{
			font-size: 16px;
			cursor: pointer;
			&:hover
			{
				color:@info;
			}
		}
		&.finished
		{
			background: #eeeeee;
			opacity: 0.25;
			-webkit-transition:0.3s ease-in;
			span
			{

				text-decoration: line-through;
				
			}
		}

		&:last-child
		{
			border-bottom:0px;
		}
	}
}

#elementForm
{
	legend
	{
		font-size: 16px;
	}
}

/*Demo glyphicons*/

.bs-glyphicons
{
	.glyphicon
	{
		padding-right: 10px;
	}
}

.glyphicons-icon-list {
	margin-top: 22px;
}
.glyphicons-icon-list .icon {
	display: block;
	color: #222;
	line-height: 32px;
	height: 32px;
	padding-left: 10px;
	border-radius: 4px;
}
.glyphicons-icon-list .icon .glyphicon {
	width: 32px;
	font-size: 14px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
.glyphicons-icon-list .icon:hover {
	background-color: #ececec;
	color: #000;
	text-decoration: none;
}
/************************************tree view***********************************/
.tree 
{
	border: none;
	.parent
	{
		background: #65bd77;
		color: #ffffff;
		border: 1px solid #65bd77;
		&:hover
		{
			background: darken(#65bd77, 5%) !important;
			border:1px solid #65bd77 !important;
			color:#ffffff !important;
		}
	}
	.child
	{
		background: #ffbc1a;
		color: #ffffff;
		border: 1px solid #ffbc1a;
		&:hover
		{
			background: darken(#ffbc1a, 5%) !important;
			border:1px solid #ffbc1a !important;
			color:#ffffff !important;
		}
	}
	.grandchild
	{
		background: #fa6251;
		color: #ffffff;
		border: 1px solid #fa6251;
		&:hover
		{
			background: darken(#fa6251, 5%) !important;
			border:1px solid #fa6251 !important;
			color:#ffffff !important;
		}
	}
	.great-grandchild
	{
		background: #5798fb;
		color: #ffffff;
		border: 1px solid #5798fb;
		&:hover
		{
			background: darken(#5798fb, 5%) !important;
			border:1px solid #5798fb !important;
			color:#ffffff !important;
		}
	}
	.greatgrand-grandchild
	{
		background: #85b6fe;
		color: #ffffff;
		border: 1px solid #85b6fe;
	}
	.fa-folder-open
	{
		color: #ffffff;
	}
	li span
	{
		border-radius: 3px !important;

	}
	
}

/* Nestable Lists Custom
---------------------------------------------------------------------------------------------- */
#nestable-menu
{
	margin: 0px !important;
}
.dd-handle {
	border-left: 6px solid #000000;
}
.dd-handle.success {
	border-left: 6px solid #48C9B0;
}
.dd-handle.info {
	border-left: 6px solid #3498DB;
}
.dd-handle.warning {
	border-left: 6px solid #F5D313;
}
.dd-handle.danger {
	border-left: 6px solid #E74C3C;
}
.dd-handle.drag-success {
	background-color: #48C9B0;
	border: none;
}
.dd-handle.drag-info {
	background-color: #3498DB;
	border: none;
}
.dd-handle.drag-warning {
	background-color: #F5D313;
	border: none;
}
.dd-handle.drag-danger {
	background-color: #E74C3C;
	border: none;
}

/*	Charts
---------------------------------------------------------------------------------------------- */
.graph {
	height: 350px;
}
.realtime-bar {
	height: 350px;
}
.realtime-bar svg {
	padding-left: 0px;
}
#chart1,
#donuts-holder {
	height: 350px;
	background: #f9f9f9;
}
#test1 {
	height: 350px;
}
.realtime-bar {
	height: 350px;
	margin-left: -80px;
}
#chart1 svg {
	height: 350px;
}
#chart4 svg,
#chart5,
#pieOne,
#pieTwo,
#flotOne,
#nvdLive,
#flotTwo,
#flotThree {
	height: 500px;
	min-width: 100px;
	min-height: 100px;
  /*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
  */
}
#placeholder {
	height: 400px;
}

.switches-table
{
	margin-bottom: 0px!important;
	margin-left: 20px;
	tr 
	{
		
		td 
		{
			border-top: 0px !important;
			padding: 10px !important;
			strong 
			{
				color: #a7acae;
			}
			input 
			{
				outline: none;
			}
		}
	}
}



.extended-zoom
{
	.alert-info
	{
		padding: 10px !important;
		margin-left: 10px;
	}
	p 
	{
		margin-left: 20px;
		margin-right: 20px;
		background: #faebcc;
	}
	.demo-image
	{
		margin-bottom: 10px;
		
		
	}
}
/**** galaxyy theme ***/

#hovermenu {
	width: 230px;
	height: 230px;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hm-btn {
	width: 110px;
	height: 110px; /*overflow: hidden;*/
	position: absolute;
	cursor: pointer;
}

.hm-pie {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hm-btn.active .hm-pie {
	border-color: #09c;
}

.hm-btn.tl {
	top: 0;
	left: 0;
}

.hm-btn.tr {
	top: 0;
	right: 0;
}

.hm-btn.bl {
	left: 0;
	bottom: 0;
}

.hm-btn.br {
	right: 0;
	bottom: 0;
}

/***********************************
ANIMATIONS
***********************************/
.hm-btn {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#hovermenu.initial .hm-btn {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

}
#hovermenu.initial{
	margin-top: -300px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=0);
	opacity:0;
}

#hovermenu.initial .hm-btn.tl {
	top: 5px;
	left: 5px;
}

#hovermenu.initial .hm-btn.tr {
	top: 5px;
	right: 5px;
}

#hovermenu.initial .hm-btn.bl {
	left: 5px;
	bottom: 5px;
}

#hovermenu.initial .hm-btn.br {
	right: 5px;
	bottom: 5px;
}

/***********************************/
.hm-btn.tr .hm-pie {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	left: -100%;
}

.hm-btn.bl .hm-pie {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	top: -100%;
}

.hm-btn.br .hm-pie {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	
	top: -100%;
	left: -100%;
}

.hm-pie {
	width: 30px;
	height: 30px;
	border-radius: 100% !important;
	border:109px solid rgba(0,0,0,0.7);
	background: transparent;
	clip: rect(-12px, 110px, 110px, -10px);
	position: absolute;
	color: #fff;
}

.hm-text {
	position: relative;
	display: block;
	font-size: 10px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}

.hm-btn.tr .hm-text,.hm-btn.tl .hm-text {
	margin-top: 50px;
}

.hm-text i {
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
}



/* Invoice Page
---------------------------------------------------------------------------------------------- */
@invoice-color:#5bc0de;
.invoice-main
{
	.btn-info
	{
		background: @invoice-color !important;
	}
	h1,h2,h3,h4,h5,p
	{
		font-family: @third-font;
		color: #333;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
	{
		border:1px solid #f8f8f8 !important;
	}
	.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td
	{
		border:0px !important;
		border-color: none !important;
	}
	.fa ,strong
	{
		color: @invoice-color;
	}

	thead
	{
		background:@invoice-color;
		color: #FFFFFF;
	}
	.pay-tab
	{
		border-left:1px solid #e0e0e0;
		.pay-tab-bold
		{
			font-weight: bold;

		}
	}
	.invoice-head
	{
		padding-bottom: 25px;
		.btn 
		{
			border-radius: 0px;
		}
	}
	

	.panel-invoice > .panel-heading a
	{
		width: 60px;
	}
	.invoice-from
	{
		width: 90px;
		img
		{
			width: 100%;
			border: 1px solid #333;
			padding: 2px;
			border-radius: 3px;

		}
	}

	.invoice-actions
	{
		background:#fafafa;
		padding:5px;	
		color:@success !important;
		border-left: 1px solid @success;
		border-right: 1px solid @success;
		text-align: center;	
	}
	.closed-invoice
	{
		background:#fafafa;
		padding:5px;	
		color:@danger !important;	
		border-left: 1px solid @danger;
		border-right: 1px solid @danger;
		text-align: center;
	}

}




/*******************************Login Page****************************/

.login-page
{

	.header-section
	{
		min-height: 60px;
		padding: 10px 80px;
		

		img
		{
			height:30px;
		}
		.menu
		{
			float: right;
			> li
			{
				list-style: none;
				display: inline-block;
				line-height: 40px;
				padding: 0px 10px;
				font-family: @first-font;

				a 
				{
					text-decoration: none;
					font-size: 14px;
					font-weight: bold;
					color: #294e68;
					&:hover
					{
						color: #40647d;
					}
				}

			}
		}
	}
	.form-section
	{
		min-height: 870px;
		background: url("../images/login-background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.form-inputs
		{
			float: right;
			margin-top: 200px;
			h4 
			{
				color: #a9eeff;
				margin-bottom: 20px;
				font-family: @third-font;
				font-size: 24px;
			}
			.input-group
			{
				width: 300px;
				margin-bottom: 30px;
				.form-control
				{
					border-right: 0px !important;
					&:focus
					{
						border-color: transparent !important;
						box-shadow: none !important;
						outline: none;
					}
				}
				
				.input-group-addon
				{

					background: #ffffff;
					border-left: none;
					i 
					{
						color: #cfcfcf;
					}
				}

			}
			.square-input
			{
				margin-top: 10px;
			}
			.check-text
			{
				color: #b0deee;
				font-family:@first-font;
			}
			
		}
		.btn
		{
			outline: none;
			padding: 5px 40px;
			font-weight: bold;
			font-family:@first-font;
		}

		h5 
		{
			
			
			text-align: center;
			margin-top: 35px;
			a 
			{
				color: #c4f3ff;
				font-family: @first-font;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
	.footer
	{
		min-height: 40px;
		margin: 0px;
		line-height: 40px;
		padding: 0px 80px;
		p 
		{
			margin: 0px;
			float: left;
			font-family: @first-font;
			color: #919191;
			> a 
			{
				text-decoration: none;
				font-family: @first-font;
				color: #676767;
			}
		}
		ul 
		{
			li 
			{
				display: inline;			 	
				padding-left: 25px;			 	
				a 
				{
					text-decoration: none;
					font-family: @first-font;
					color: #919191;
				}
				
			}

			
		}
	}
	.sign-in
	{
		
		padding: 5px 20px;
		border-radius: 4px;
		border: 1px solid #294d67 !important;
		font-family: @first-font;
	}
	.register-btn
	{
		padding: 5px 20px !important;
	}
}


@media (max-width:480px)
{

 .login-page
 {
  .header-section
  {
   padding: 10px 10px !important;
   height: 80px;
   .menu
   {
    float: right;
    > li
    {
    	line-height: 0px !important;
    }
   }
  }
  .form-section
  {
   .form-inputs
   {
    
    .input-group
    {
     width: 250px;
    }
   }
  }
  .footer
  {
   padding: 10px 10px;
   p 
   {
    line-height: 25px;
   }
   ul 
   {
    padding-left: 0px !important;
   }
  }
 }
}
/*buttons customization*/


.btn-primary 
{
	background-color: @primary !important;
}
.btn-danger 
{
	background-color: #DF4F4E !important;
	color: #FFFFFF!important;
}
.btn-warning 
{
	background-color: #EAA559 !important;
	color: #FFFFFF!important;
}

.btn-success 
{
	background-color: #33A60A !important2
	color: #FFFFFF!important;
}
.btn-info 
{
	background-color: #1693D2 !important;
	color: #FFFFFF!important;
}

.buttons-page
{
	.btn 
	{
		margin:5px;
	}
	.dropdown-fix
	{
		.btn 
		{
			margin:0px !important;
			padding: 5px;
		}
		.btn-group
		{
			margin-bottom:5px;
		}
		
	}	
	.buttons-page-select
	{
		margin-bottom:10px !important;
	}
}


/*dashboard-calender*/
.calendar-dashboard
{
	//border: 1px solid #adafb0;
	font-family: @third-font;
	.calendar-head 
	{
		background: #6dc5dd;
		color: #FFFFFF;
		height: 80px;
		a 
		{
			color: #FFFFFF;
		}
		.fa-angle-right
		{
			position: absolute;
			right:10%;
			top: 8%;
			font-size: 20px;
			color: #FFFFFF;
			font-weight: bold;
		}
		.fa-angle-left
		{
			position: absolute;
			left:10%;
			top: 8%;
			font-size: 20px;
			color: #FFFFFF;
			font-weight: bold;
		}
		
		h4 
		{
			padding-top: 30px;
			font-size: 20px;
			padding-bottom: 10px;
			font-weight: 300;
			margin-top: 0px;
		}
		p
		{	
			font-size: 16px;
			background: #5ab2ca;
			width: 90px;
			padding: 3px 5px;
			margin:0px auto;
			border-radius:15px;
		}
	}
	.table
	{

		padding:5px;
		margin-top: 30px !important;
		padding-bottom: 10px;
		a {
			font-size: 12px ;
			cursor: pointer;
			&.current
			{
				background-color: #5ab2ca;
				border-radius: 3px;
				color: #FFFFFF;
				padding: 10px 7px;
			}
			.event
			{
				font-size: 8px;
				display: block;
			}
			&:hover
			{
				text-decoration:none;
			}
		}
		thead
		{
			font-weight:bold;
		}
		td 
		{			
			padding:6px;	
			text-align: center;
			
		}
		
	}
	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td 
	{
		border-top: 0px solid #dddddd;
	}
}

.mini-chat-panel, .mini-chat-panel.panel-primary,.mini-chat-panel.panel-danger, .mini-chat-panel.panel-info, .mini-chat-panel.panel-success,
{
	border:none;
}
.chat-menu
{
	.chat-tabs
	{
		font-family: @third-font;
		height: 50px;
		margin-bottom: 0px;
		background-color: #df6c6e;
		border-bottom: 1px solid #d9deec;
		
		li
		{
			padding-left: 15px;
			a
			{
				color: #FFFFFF;
				text-decoration: none;
				line-height: 50px;
				font-weight: normal;
			}
		}
	}
	.chat-notifications
	{
		background:#FFFFFF;
		height: 265px;
		overflow: auto;
		margin-bottom: 0px;
		padding:0px;
		padding-left: 10px;
		.chat-message
		{
			background-color: #eeeeee;
			height: 60px;
		}
		li
		{
			min-height: 60px;
			margin-bottom: 10px;
			.avatar
			{
				float: left;
				border-radius: 50%;
				position: absolute;
				z-index: 100;
				border:2px solid #e0e4ee;
				img
				{
					width: 43px;
					height: 43px;
					border-radius: 50%;
				}
				
			}
			.message
			{
				font-family: @third-font;
				color: #b9e8f6;
				margin-left: 60px;
				padding: 4px;	
				font-size: 14px;
			}
			.time
			{
				margin-left: 60px;
				color: #c4c9d5;
				font-size: 10px;
				
			}
		}
		
		li:before {
			/* lines */
			content:"";
			position: absolute;
			left: 24px; /* adjust manually */
			border-left: 2px solid #e0e4ee;
			height: 100%;
			width: 1px;
			z-index: 0;
		}

		li:first-child:before {
			/* first li's line */
			top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
		}

		li:last-child:before {
			/* last li's line */
			height: 0px; 
			/* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
		}

		li:nth-child(even)
		{
			.message
			{
				color: #6d7473;
				font-weight: normal;

			}

		}
		li:nth-child(odd)
		{
			.message
			{
				color: #bfc5d8;
				font-size: 12px;
				font-family: @first-font;
				font-style: italic;
			}

		}
	}
	
}


.message-group
{
	border-radius: 0px;
	.form-control,.btn
	{
		height: 40px;
		border-radius: 0px;
		border-width: 1px;
		border-color: lighten(#7f8ca4, 30%);
		&:focus
		{
			box-shadow: none;

		}
	}
	.btn
	{
		width: 100px;
		background: #FFFFFF !important;
		border-color: #d8dce4;
		color: #b1b2b4 !important;
	}
}



/***************************Delighted-ticker************************/

#vertical-ticker{
	height:400px;
	overflow:hidden;
	margin:0; padding:0;
	border: 1px solid #95a1b5;
	padding: 0px 20px;
	background: #ffffff;
	
}

#vertical-ticker li{
	padding:35px 20px;
	display:block;
	background:#FFFFFF;
	color:#333;
	border-bottom:1px solid #95a1b5;
	text-align:center;
	font-size:22px;
	font-family: 'Open Sans', sans-serif;
}


/*	Charts
---------------------------------------------------------------------------------------------- */
.graph {
	height: 350px;
}
.realtime-bar {
	height: 350px;
	margin-left: -80px;
}
#chart1,
#donuts-holder {
	height: 350px;
	background: #f9f9f9;
}
#test1 {
	height: 350px;
}
.realtime-bar {
	height: 350px;
	margin-left: -80px;
}
#chart1 svg {
	height: 350px;
}
#chart4 svg,
#chart5,
#pieOne,
#pieTwo,
#flotOne,
#nvdLive,
#flotTwo,
#flotThree {
	height: 500px;
	min-width: 100px;
	min-height: 100px;
  /*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
  */
}

#canvas
{
	width: 100% !important;
	height: 300px !important;
}

#canvas_parent
{
	height: 300px;
	margin-bottom: 20px;
}

#canvas_bar_parent
{
	height: 400px;
	margin-bottom: 20px;
}

@media (max-width:1300px) 

{
	.web-stats
	{
		.value
		{
			font-size: 16px !important;

		}
	}
}

/* Sliders overwrite
---------------------------------------------------------------------------------------------- */
.table-sliders
{
	.default td
	{
		padding: 20px;
	}
}

.ui-slider-range {
	background: @primary;
	border-color: none;
}
.ui-slider-handle {
	border-color: #87ceeb !important;
	width: 24px;
	height: 24px;
	background: #fafafa !important;
	border-radius: 10px;
	border: 1px solid #87ceeb;

}
.ui-slider-handle:focus {
	outline: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: #d8ebf3;
}
#red,
#green,
#blue {
	float: left;
	clear: left;
	width: 300px;
	margin: 15px;
}
#swatch {
	width: 120px;
	height: 100px;
	margin-top: 18px;
	margin-left: 350px;
	background-image: none;
}
#red .ui-slider-range {
	background: @danger;
}
#red .ui-slider-handle {
	border-color: @danger !important;
}
#green .ui-slider-range {
	background: @success;
}
#green .ui-slider-handle {
	border-color: @success !important;
}
#blue .ui-slider-range {
	background: @info;
}
#blue .ui-slider-handle {
	border-color: @info !important;
}
#eq span {
	height: 120px;
	float: left;
	margin: 15px;
	background: #f4f4f4;
}


.panel-primary > .panel-heading + .panel-collapse .panel-body 
{
	border-top-color: #FFFFFF !important; 
	a
	{
		text-decoration: none !important;
	}
}

.panel-group
{
	.panel, .panel-primary
	{
		margin-bottom: 10px;
		.panel-heading
		{
			border-top-color: #FFFFFF;
			background-color:#FFFFFF;
			a
			{
				color: #b1b2b4;
				font-weight: normal;
			}
		}
	}
}

/* Demo purpose only
---------------------------------------------------------------------------------------------- */
#animateTest
{
	position: fixed;
	z-index: 1000;
}

.animate-demo-buttons 
{
	margin-top: 100px;
}

.demo-input-group
{
	margin-top: 10px;
}

.btn-animate-demo
{
	margin-top: 10px;
}



/* Gritter Custom classes
---------------------------------------------------------------------------------------------- */
#gritter-notice-wrapper {
	top:90px;
}

/* contextual gritters  */
.success .gritter-item,.success .gritter-top,.success .gritter-bottom {
	background: none;
	background-color:#5CB85C !important;
	
}
.info .gritter-item ,.info .gritter-top,.info .gritter-bottom {
	background: none;
	background-color:#5BC0DE;
}
.danger .gritter-item,.danger .gritter-top,.danger .gritter-bottom  {
	background: none;
	background-color:#D9534F;
}
.warning .gritter-item,.warning .gritter-top,.warning .gritter-bottom  {
	background: none;
	background-color:#F0AD4E;
}



/**************info-boxes****************/


@info-boxes-seagreen:#23bab5;
@info-boxes-orange:#e97436;
@info-boxes-green:#85bc18;
@info-boxes-yellow:#ffcc33;
@info-boxes-red:#e96363;
@info-boxes-purple:#c969c9;
.info-boxes-seagreen
{
	background:@info-boxes-seagreen;
	color: @info-boxes-seagreen; 
	-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
	-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
	box-shadow: 0px 0px 2px 0px #cec8c8;

}
.info-boxes-orange
{
	background:@info-boxes-orange;
	color:@info-boxes-orange; 
	-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
	-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
	box-shadow: 0px 0px 2px 0px #cec8c8;

}
.info-boxes-green
{
	background:@info-boxes-green;
	color: @info-boxes-green; 
	-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
	-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
	box-shadow: 0px 0px 2px 0px #cec8c8;

}
.info-boxes-yellow
{
	background:@info-boxes-yellow;
	color:@info-boxes-yellow; 
	-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
	-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
	box-shadow: 0px 0px 2px 0px #cec8c8;

}

.info-boxes-red
{
	background:@info-boxes-red;
	color:@info-boxes-red; 
	-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
	-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
	box-shadow: 0px 0px 2px 0px #cec8c8;

}
.info-boxes-purple
{
	background:@info-boxes-purple;
	color: @info-boxes-purple; 
	-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
	-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
	box-shadow: 0px 0px 2px 0px #cec8c8;

}



.info-page
{
	.info-left
	{
		
		min-height: 110px;
		width:88%;		
		background: #FFFFFF;
		ul
		{
			margin-top: 4%;
			margin-left: 10%;

			i 
			{
				font-size:50px;
				
			}
			p
			{
				color: #6a6a6a;
				display: block;
				font-size: 14px;
			}
		}
	}
	.info-right
	{
		min-height: 110px;
		
		width: 12%;
		text-align: center;
		li > a > i
		{
			margin-top:30%;
			color: #FFFFFF;
			font-size: 25px;
		}

	}
	
	.info-boxes-medium
	{


		.small-left
		{
			
			min-height: 110px;
			width:20%;
			background:@info-boxes-seagreen;
			text-align: center;
			i 
			{
				font-size:50px;				
				margin-top:25%;
				color: #FFFFFF;
			}	
			-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
			-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
			box-shadow: 0px 0px 2px 0px #cec8c8;

		}
		.small-right
		{
			height: 110px;
			background:#FFFFFF;
			width:80%;
			padding-top:7%;
			padding-left:3%;
			color:@info-boxes-seagreen;
			overflow: hidden;
			p
			{
				color: #6a6a6a;
				display: block;
				font-size: 14px;
			}

			> li > a > i 
			{
				font-size:20px;	
				padding: 10px;			
				
			}
			-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
			-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
			box-shadow: 0px 0px 2px 0px #cec8c8;


		}

		&.seagreen
		{
			.small-left
			{
				
				
				background:@info-boxes-seagreen;
				
			}
			.small-right
			{
				color:@info-boxes-seagreen;
				
			}

		}
		&.green
		{
			.small-left
			{
				
				
				background:@info-boxes-green;
				
			}
			.small-right
			{
				color:@info-boxes-green;
				
			}

		}

		&.red
		{
			.small-left
			{
				
				
				background:@info-boxes-red;
				
			}
			.small-right
			{
				color:@info-boxes-red;
				
			}

		}

		&.purple
		{
			.small-left
			{
				
				
				background:@info-boxes-purple;
				
			}
			.small-right
			{
				color:@info-boxes-purple;
				
			}

		}
		&.yellow
		{
			.small-left
			{
				
				
				background:@info-boxes-yellow;
				
			}
			.small-right
			{
				color:@info-boxes-yellow;
				
			}

		}

		&.orange
		{
			.small-left
			{
				
				
				background:@info-boxes-orange;
				
			}
			.small-right
			{
				color:@info-boxes-orange;
				
			}

		}

	}

	.square-info
	{
		-webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
		-moz-box-shadow: 0px 0px 2px 0px #cec8c8;
		box-shadow: 0px 0px 2px 0px #cec8c8;

		background: #FFFFFF;
		i 
		{
			font-size: 30px;
			color: @info-boxes-seagreen;
		}
		h3
		{
			background: #383733;
			padding:40px; 
			color:#d8d8d8;
		}
		.square-icon
		{
			background: @info-boxes-seagreen;
			width: 50px;
			height: 50px;
			margin: 0 auto;
			margin-top: -35px;
			transform:rotate(45deg);
			-ms-transform:rotate(45deg); /* IE 9 */
			-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
			i
			{
				font-size: 40px;
				padding:3px 8px;
				color: #FFFFFF;
				.transition(500ms ease);
				transform:rotate(-45deg);
				-ms-transform:rotate(-45deg); /* IE 9 */
				-webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
				&:hover
				{
					transform:rotate(0deg);
					-ms-transform:rotate(0deg); /* IE 9 */
					-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */

				}
			}
		}
		&:hover
		{
			.square-icon
			{
				i
				{
					transform:rotate(315deg);
					-ms-transform:rotate(315deg); /* IE 9 */
					-webkit-transform:rotate(315deg); /* Opera, Chrome, and Safari */
				}
			}
		}
		p 
		{
			text-align: left !important;
			padding-left: 10px;
			padding-top: 10px;
		}


		&.seagreen
		{
			.square-icon
			{
				background:@info-boxes-seagreen;

			}
		}
		&.green
		{
			.square-icon
			{
				background:@info-boxes-green;
			}
		}

		&.red
		{
			.square-icon
			{
				background:@info-boxes-red;
			}
		}

		&.purple
		{
			.square-icon
			{
				background:@info-boxes-purple;
			}
		}
		&.yellow
		{
			.square-icon
			{
				background:@info-boxes-yellow;
			}
		}

		&.orange
		{
			.square-icon
			{
				background:@info-boxes-orange;
			}

		}



	}

}

/****************************************404 page*******************************/
.error-page
{
	
	text-align: center;
	i
	{
		font-size: 170px;
		margin-top: 50px;
		color: #c1c0c0;		
	}
	h1 
	{
		font-size: 90px;
		color: #c1c0c0;	
		font-family: 'Droid Sans', sans-serif;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 0px;	
	}
	h3 
	{
		color: #c1c0c0;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;

	}
	p
	{
		color: #c1c0c0;
		font-family: 'Open Sans', sans-serif;
		
		
	}
}

/****************************************User menu options*******************************/

.right-sidebar-holder
{
	border-left:1px solid #dddddd;

	.panel-group
	{
		.panel
		{
			border: none !important;
			margin: 0px;
			border-radius: 0px;
			.panel-heading
			{
				border:none;
				background-color: #fafafa;
				color: #FFFFFF !important;
				h4
				{
					a
					{
						color: lighten(#333333, 30%);
						font-family: @second-font !important;
						font-size: 14px;


					}
				}
			}

		}		
	}
}


/**************************************** Contact List *******************************/
.contact-list
{	

	margin: 0px;
	.chat-user-avatar
	{
		width: 35px;
		border-radius: 50%;
		float: left;
	}
	.contact-info
	{
		margin-left: 40px;
		height: 35px;
		.name
		{
			display: block;
		}
		.status
		{
			font-size: 10px !important;
			font-family: @third-font;
			opacity: 0.7;
		}
		.fa
		{
			float: right;
			margin-top: -5px;
			&.online
			{
				opacity: 1;
				color: @success;
			}
			&.offline
			{
				opacity: 1;
				color: @primary;
			}
			&.busy
			{
				opacity: 1;
				color: @danger;
			}
		}

	}
	.list-group-item
	{
		border:0px;
		cursor: pointer;
	}
	

}
.no-padding
{
	padding: 0px !important;

}

.live-pie-chart
{
	width: 200;
	.user-canvas, .user-canvas-two
	{
		margin: 0px auto;
	}
}

.top-side-fixed
{

	.left-sidebar
	{
		position: fixed;
	}
	.content
	{
		margin-top: @navBarHeight !important;

	}
}

.navbar-fixed-top
{
	border-bottom:1px solid #f1f1f1 !important;

	/***********gallery hover optiions*********************/
	.gallery

	{
		a 
		{
			display: none;
		}
	}

}
	
/*jsplash styles*/
@media (max-width:700px){
#jSplash
{
	margin-top: 0px !important;

	img 
	{
		width:150px;	
		margin-bottom:0px !important;
	}
	h2 
	{
		font-size:18px;
		font-family: @first-font;		
	}

}	
}
#jSplash
{
	h2 
	{
		font-family: @first-font;		
		
	}

}	
