<div class="row compose">
	<div class="col-md-12">
		<div class="compose-head">
			<h1>Compose Email Message <button class="btn btn-success pull-right btn-lg send-mail">Send</button></h1>
			<h6>Lorem has inbuilt process of data</h6>
		</div>
		<!-- compose-head -->
		<div class="title-box">
			<div class="col-md-12 col-xs-12">
				<form role="form">
					<div class="form-group">
						<label >Email Title</label>	
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-anchor"></i></span>
							<input type="email" class="form-control"  placeholder="Enter email Title">
						</div>									    
					</div>
				</form>
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="form-group">
					<label >Your Name</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="email" class="form-control"  placeholder="Your Name">	    
					</div>							
				</div>
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="form-group">
					<label >Reply&#45;To&#45;Email</label>			
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-reply-all"></i></span>
						<input type="email" class="form-control"  placeholder="reply to">	    
					</div>												
				</div>
			</div>
		</div>
		<hr>
		<!-- title-box -->
		<div class="message-box">
			<div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label >Message</label>		
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-edit"></i></span>
						<input type="email" class="form-control"  placeholder="Enter Subject"> 
					</div>			
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label>Textarea</label>		       		  
					<textarea class="textarea" placeholder="Enter text ..." style="width: 100%; height: 200px"></textarea>
				</div>
			</div>
			<div class="col-md-12 col-xs-12">
				<div class="checkbox">
					<label>
						<input type="checkbox"> Send me a copy of this message
					</label>
				</div>
			</div>
		</div>
		<!-- message-box -->
	</div>
	<!-- col-md-12 -->
</div>
<!-- row -->

