<div class="row grid">
  <div class="col-md-12" id="div_3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
             <i class="fa fa-filter"></i>Capture Complaint on Behalf of Complainant
             <span class="panel-options">
                <a href="#" class="panel-settings" >
                    <i class="fa fa-cogs"></i>
                </a>
                <a href="#" class="panel-refresh">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="#" class="panel-minimize">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="#" class="panel-close">
                    <i class="fa fa-times"></i>
                </a>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <form id="elementForm" method="post" action="validators.html" class="form-horizontal">
            <fieldset>
                <legend>Complaint Captured By NERC Officer</legend>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Username</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="Nworie Onyeka Hosea"  value="Nworie Onyeka Hosea" disabled="disabled"/>
                    </div>
                </div>
           
            </fieldset>

            <fieldset>
                <legend>Complainant Details</legend>
								
				<div class="form-group">
					<label class="col-lg-3 control-label">First Name</label>
					<div class="input-group" >
						
						<input type="text" class="form-control" name="username" placeholder="John Doe" value="John Doe" style="width:400px;">	    
					</div>							
				</div>
				
				<div class="form-group">
					<label class="col-lg-3 control-label">Last Name</label>
					<div class="input-group" >
						
						<input type="text" class="form-control" name="username" placeholder="John Doe" value="John Doe" style="width:400px;">	    
					</div>							
				</div>
			
			   <div class="form-group">
					<label class="col-lg-3 control-label">Other Names</label>
					<div class="input-group" >
						
						<input type="text" class="form-control" name="username" placeholder="John Doe" value="John Doe" style="width:400px;">	    
					</div>							
				</div>
			
				<div class="form-group">
                    <label class="col-lg-3 control-label">Phone Number</label>
                    <div class="col-lg-5 input-group">
                       <input type="text" class="form-control" name="phoneNumber" style="width:400px;"/>
                    </div>
                </div>
				
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email Address</label>
                    <div class="col-lg-5 input-group">
                       <input type="text" class="form-control" name="email" style="width:400px;"/>
                    </div>
                </div>
				
				 <div class="form-group">
                    <label class="col-lg-3 control-label">Residential Address</label>
                    <div class="col-lg-5 input-group">
                        <input type="text" class="form-control" name="email"  style="width:400px;" />
                    </div>
                </div>
				
				                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Recipient</label>
                                        <div class=" col-lg-5 input-group">
                                          
                                  <select id="select-beast" class="form-control" placeholder="Select a distribution company..."  style="width:400px;">
                                                <option value="">Select a distribution company...</option>
                                                <option value="4">Enugu Electricity Distribution Company</option>
                                                <option value="4">Benin Electricity Distribution Company</option>
                                                <option value="4">Eko Electricity Distribution Company</option>
                                                <option value="4">Port Harcourt Electricity Distribution Company</option>                                                
                                                <option value="4">Ikeja Electricity Distribution Company</option>
                                                <option value="4">Ibadan Electricity Distribution Company</option>
                                                <option value="4">Power Holding Company of Nigeria</option>
                                                <option value="4">Port Harcourt Electricity Distribution Company</option>
                                              </select>                                                                                                
                                        </div>									    
                                    </div>

                
                <div class="form-group">
                    <label class="col-lg-3 control-label">District/State</label>
 					<div class="col-lg-5 input-group">
                        
                        <select class="form-control" name="country"  style="width:400px;">
                            <option value="">-- Select a District or State--</option>
                            <option value="fr">Enugu</option>
                            <option value="de">Imo</option>
                            <option value="it">Abia</option>
                            <option value="jp">Anambara</option>
                     </select>
                  
                    </div>                </div>
				
				 <div class="form-group">
                    <label class="col-lg-3 control-label">Business Unit</label>
                    <div class="col-lg-5 input-group">
                        
                        <select class="form-control" name="country"  style="width:400px;">
                            <option value="">-- Select a business unit --</option>
                            <option value="fr">Enugu head-office </option>
                            <option value="de">Esut area 1</option>
                            <option value="it">Abakeliki south 2</option>
                            <option value="jp">Imo plot 2 unit</option>
                     </select>
                  
                    </div>
                </div>
				
            </fieldset>

            <fieldset>
                <legend>Complaint</legend>

                <div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label >Nature of Complaint</label>			
					<div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
						 <select id="select-beast" class="form-control" placeholder="Select a nature of complaint...">
                                                <option value="">Select a nature of complaint...</option>
                                                <option value="4">Metering</option>
                                                <option value="4">Load shedding</option>
                                                <option value="4">Billing</option>                          
                                                <option value="4">Voltage</option>   
                                                <option value="4">Disconnection</option>   
                                              </select> 	    
					</div>												
				</div>
			</div>
				
				<div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label >Subject</label>		
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-edit"></i></span>
						<input type="text" class="form-control"  placeholder="Enter Subject"> 
					</div>			
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label>Description</label>		       		  
					<textarea class="textarea" placeholder="Enter discription ..." style="width: 100%; height: 200px"></textarea>
				</div>
			</div>
			
			  <div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label>Attachments</label> 	       		  
					<input type="file" class="form-control"  placeholder="Upload a file">                                         
                                        <span ng-show="isShowMoreAttachments"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file">  
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file">
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                        </span>
				</div>
			</div>
			
			
			 <div class="form-group">
              <label></label>
				<div class="col-md-12 col-xs-12">						       		  
					 <button ng-if="!isShowMoreAttachments" type="button" class="btn btn-primary btn-sm" ng-click="showMoreBoxes()">Show more fields</button><button type="button" ng-if="isShowMoreAttachments" class="btn btn-primary btn-sm" ng-click="showMoreBoxes()">Show less fields</button>                                                                                
				</div>
			</div>

                
            </fieldset>

            <fieldset>
                <legend>Accept terms of use and Submit Complaint</legend>
					<div class="form-group">
						<div class="col-lg-9 col-lg-offset-3">
							<div class="checkbox">
								<input type="checkbox" name="acceptTerms" /> Accept the terms and policies
							</div>
						</div>
					</div>
            </fieldset>

            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /panel body -->
</div>
</div>

<script src="js/bootstrapValidator.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#defaultForm').bootstrapValidator({
        message: 'This value is not valid',
        submitHandler: function(validator, form) {
                // validator is the BootstrapValidator instance
                // form is the jQuery object present the current form
                form.find('.alert').html('Thanks for signing up. Now you can sign in as ' + validator.getFieldElement('username').val()).show();
                //form.submit();
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and can\'t be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        },
                        different: {
                            field: 'password',
                            message: 'The username and password can\'t be the same as each other'
                        }
                    }
                },
                email: {
                    validators: {
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required and can\'t be empty'
                        },
                        identical: {
                            field: 'confirmPassword',
                            message: 'The password and its confirm are not the same'
                        },
                        different: {
                            field: 'username',
                            message: 'The password can\'t be the same as username'
                        }
                    }
                },
                confirmPassword: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password is required and can\'t be empty'
                        },
                        identical: {
                            field: 'password',
                            message: 'The password and its confirm are not the same'
                        },
                        different: {
                            field: 'username',
                            message: 'The password can\'t be the same as username'
                        }
                    }
                },
                captcha: {
                    validators: {
                        callback: {
                            message: 'Wrong answer',
                            callback: function(value, validator) {
                                var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                                return value == sum;
                            }
                        }
                    }
                }
            }
        });

$('#customForm').bootstrapValidator({
    message: 'This value is not valid',
    submitHandler: function(validator, form) {
                // validator is the BootstrapValidator instance
                // form is the jQuery object present the current form
                form.find('.alert').html('you can handle this success submit. Now you can sign in as ' + validator.getFieldElement('username').val()).show();
                //form.submit();
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and can\'t be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'The email address is required and can\'t be empty'
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required and can\'t be empty'
                        }
                    }
                }
            }
        });

$('#elementForm').bootstrapValidator({
    message: 'This value is not valid',
    fields: {
        username: {
            message: 'The username is not valid',
            validators: {
                notEmpty: {
                    message: 'The username is required and can\'t be empty'
                },
                stringLength: {
                    min: 6,
                    max: 30,
                    message: 'The username must be more than 6 and less than 30 characters long'
                },
                regexp: {
                    regexp: /^[a-zA-Z0-9_\.]+$/,
                    message: 'The username can only consist of alphabetical, number, dot and underscore'
                }
            }
        },
        country: {
            validators: {
                notEmpty: {
                    message: 'The country is required and can\'t be empty'
                }
            }
        },
        acceptTerms: {
            validators: {
                notEmpty: {
                    message: 'You have to accept the terms and policies'
                }
            }
        },
        email: {
            validators: {
                notEmpty: {
                    message: 'The email address is required and can\'t be empty'
                },
                emailAddress: {
                    message: 'The input is not a valid email address'
                }
            }
        },
        website: {
            validators: {
                uri: {
                    message: 'The input is not a valid URL'
                }
            }
        },
        phoneNumber: {
            validators: {
                digits: {
                    message: 'The value can contain only digits'
                }
            }
        },
        color: {
            validators: {
                hexColor: {
                    message: 'The input is not a valid hex color'
                }
            }
        },
        zipCode: {
            validators: {
                usZipCode: {
                    message: 'The input is not a valid US zip code'
                }
            }
        },
        password: {
            validators: {
                notEmpty: {
                    message: 'The password is required and can\'t be empty'
                },
                identical: {
                    field: 'confirmPassword',
                    message: 'The password and its confirm are not the same'
                }
            }
        },
        confirmPassword: {
            validators: {
                notEmpty: {
                    message: 'The confirm password is required and can\'t be empty'
                },
                identical: {
                    field: 'password',
                    message: 'The password and its confirm are not the same'
                }
            }
        },
        ages: {
            validators: {
                lessThan: {
                    value: 100,
                    inclusive: true,
                    message: 'The ages has to be less than 100'
                },
                greaterThan: {
                    value: 10,
                    inclusive: false,
                    message: 'The ages has to be greater than or equals to 10'
                }
            }
        }
    }
});
});
</script>

</div>

