    <div class="row">
        <div class="col-md-3">
		 <div class="web-stats fadeInUp info">
                <span class=" pull-left">
				<div class="pull-left graph-summary">
                    <h5 class="value">1000000 </h5>
                    <span class="description">Total Complaint(s)</span>
                </div>
                <i class=" icon ion-ios7-people-outline fa-watermark"></i>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp success">
                       
                <div class="pull-left graph-summary">
                    <h5  class="timer" id="lollipop" data-to="5634" data-speed="5000">500,007 </h5>
                    <span class="description">Resolved Complaint(s)</span>
                </div>
                <li class="icon ion-ios7-cart-outline fa-watermark"></li>
            </div>
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp danger">
              
                <div class="pull-left graph-summary">
                    <h5 class="value">300,000</h5>
                    <span class="description">Unresolved Complaint(s) </span>
                </div>

                <i class=" icon ion-ios7-bell-outline fa-watermark"></i>
            </div>
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp inverse">
                
                <div class="pull-left graph-summary">
                    <h5 class="value">199,993 </h5>
                    <span class="description">Pending Complaints</span>
                </div>

                <i class=" icon ion-ios7-alarm-outline fa-watermark"></i>
            </div>
        </div>

    </div>
    <div class="row">
     
              
                	<div id="container" style=" margin-left:15px; width:1100px;">
                                            
                                            
                                        </div>
                  
                  

        </div><!-- end of row -->
    </div>
	
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>  -->
	<script src="../js/highcharts.js" type="text/javascript"></script>

