    <div class="row">
        <div class="col-md-3">
		 <div class="web-stats fadeInUp info">
                <span class=" pull-left">
				<div class="pull-left graph-summary">
                    <h5 class="value">3000</h5>
                    <span class="description">Total Complaint(s)</span>
                </div>
                <i class=" icon ion-ios7-people-outline fa-watermark"></i>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp success">
                       
                <div class="pull-left graph-summary">
                    <h5  class="timer" id="lollipop" data-to="5634" data-speed="5000">1,690</h5>
                    <span class="description">Resolved Complaint(s)</span>
                </div>
                <li class="icon ion-ios7-cart-outline fa-watermark"></li>
            </div>
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp danger">
              
                <div class="pull-left graph-summary">
                    <h5 class="value">1,010</h5>
                    <span class="description">Unresolved Complaint(s) </span>
                </div>

                <i class=" icon ion-ios7-bell-outline fa-watermark"></i>
            </div>
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp inverse">
                
                <div class="pull-left graph-summary">
                    <h5 class="value">300</h5>
                    <span class="description">Pending Complaints</span>
                </div>

                <i class=" icon ion-ios7-alarm-outline fa-watermark"></i>
            </div>
        </div>

    </div>
    <div class="row">
     
            
                	<div id="container" style=" margin-left:15px; width:1100px;">
                                            
                                            
                                        </div>
                  
                  

        </div><!-- end of row -->
    </div>
	
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>  -->
	<script src="../js/highcharts.js" type="text/javascript"></script>

   
    <script type="text/javascript">
	
        var chart1;
 // globally available 
 $(document).ready(function () {
     $(function () {
        $('#container').highcharts({
            title: {
                text: 'Monthly Average Complaints',
                x: -20 //center
            },
            subtitle: {
                text: 'For: BENIN DISCO',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Complaints'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Complaint(s)'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Total Complaints',
                data: [600, 690, 950, 945, 180, 210, 252, 265, 230, 183, 139, 960]
            }, {
                name: 'Pending',
                data: [567, 402, 570, 850, 119, 152, 170, 166, 142, 103, 66, 48]
				
            }, {
                name: 'Resolved',
                data: [80.0, 57, 113, 170, 22, 24, 241, 200, 141, 86, 20,30]
				
            }, {
                name: 'Unresolved',
                data: [100, 35, 84, 135, 170, 186, 170, 140, 100, 100, 100, 504]
            }]
        });
    });
    
 });
 
 
 
    
</script>
