    
  <div class="col-md-12 invoice-main" id="div_1">
    <div class="panel panel-primary">
      <div class="panel-heading invoice-head">
       <h3 class="panel-title">
         <i class="fa fa-money"></i> <strong>DISCO Complaint Upload Area</strong>
       <!--  <p class="pull-right">Date of invoice:14 march 2014</p> -->
      </h3>
    </div>
    <div class="panel-body invoice-main">
    <div class="row">
    <div class="col-md-8">

   <div class="col-md-12">
   <!-- ***** Invoice Table ***** -->
	 <div class="panel-body">
            <!-- form: -->
            <section>
                <form id="defaultForm" method="post" class="form-horizontal">
                    <div class="alert alert-success" style="display: none;"></div>
					
					<div class="form-group">
						<label class="col-lg-3 control-label">Uploaded By:</label>
						<div class="col-lg-5">
							<input type="text" class="form-control" value="Onyeka" disabled="disabled" name="username" />
						</div>
                    </div>

                   <div class="form-group">
                        <label class="col-lg-3 control-label">Upload Complaints</label>
                        <div class="col-lg-8">
                           <input id="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /> 
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary">Upload Now</button>
                        </div>
                    </div>
                </form>
            </section>
			
			<hr />
			
			<font color="#FF0000">Note: Please Ensure that you use the Complaint Template for a SUCCESSFULL Upload </font>
            <!-- :form -->
        </div>
        <!-- /panel body -->
  <!-- ***** End Of Invoice Table ***** -->

  </div>
  <!-- col-md-12 -->
  </div>

  <!-- ***** Start Of Right side Part ***** -->
  <div class="col-md-4 pay-tab">  
    <h4 class="invoice-actions">Complaint Upload Template</h4>
    <table class="table">
     <tr><td align="center">Download Excel Template Form Here</td></tr>
     <tr><td align="center"><a href="" ><img src="images/csv.png" alt="upload csv and excel"  /></a></td></tr>   
   </table>
   
  </div>
  <!-- ***** End Of Right side Part ***** -->

  </div>
  <!--main-- row -->

  </div>
  <!-- PANEL-BODY -->
  </div>
  <!-- panel -->
  </div>
  <!-- main --col-md-12 -->

