<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="compApp">
    <head>
        <link href="../css/bootstrap.css" rel="stylesheet">
         <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet">

    </head>
    <body>

<div ng-controller="DropdownCtrl">
    <!-- Simple dropdown -->
    
    <ul class="nav  nav-list">
        <li class=''>
          <a href='dashboard' data-original-title='Dashboard'>
              <i class='icon ion-home'></i>
              <span class='hidden-minibar'>Dashboard</span>
          </a>
      </li>
      <li class=' '>
          <a href class="dropdown dropdown-toggle" on-toggle="toggled(open)">
              <i class='fa fa-indent'></i>
              <span class='dropdown' >Portlets</span>
          </a>
      </li>
    </ul>
    
    
    <span class="dropdown" on-toggle="toggled(open)">
      <a href class="dropdown-toggle">
        <i class='icon ion-home'></i> Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in items">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </span>

    <!-- Single button -->
    <!--<div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>-->

    <!-- Split button -->
    <!--<div class="btn-group" dropdown>
      <button type="button" class="btn btn-danger">Action</button>
      <button type="button" class="btn btn-danger dropdown-toggle">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <hr />
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button dropdown</button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
    </p>-->

</div>

        <script src="../js/angular.js"></script>
                <script src="../js/angular-route.min.js"></script>
                <script src="../js/ui-bootstrap-tpls-0.11.0.js"></script>
                <script src="complainant-js/complainant.js"></script>
                <script src="complainant-js/complainant-controllers.js"></script>
        </body>
</html>
        
   