   <div class="row inbox bg-white" style="margin-top:-15px;">
    <!-- Left Side bar -->
    <div class="col-md-2 mail-left-box " style="width:220px;"> 
        <div class=" inbox-options">
            <a href="#/inbox" class="list-group-item list-inbox"><i class="fa fa-inbox"></i> All <span class="badge ">34</span> </a>                               
            <a class="list-group-item"><i class="fa fa-trash-o"></i> Pending <span class="badge ">20</span> </a> 
            <a class="list-group-item"><i class="fa fa-archive"></i> Resolved <span class="badge ">30</span> </a> 
		    <a class="list-group-item"><i class="fa fa-archive"></i> Not Resolved <span class="badge ">70</span> </a>  
        </div>        
        <div class="list-group inbox-labels">
            <h5 class="text-primary "><strong>Labels</strong></h5>
            <a class="list-group-item" href="#"><span class="pull-right bg-purple"><i class="fa fa-tag"></i></span>Voltage</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-seagreen"><i class="fa fa-tag"></i></span>Disconnection</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-yellow"><i class="fa fa-tag"></i></span>Metering</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-black"><i class="fa fa-tag"></i></span>Outage</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-seagreen"><i class="fa fa-tag"></i></span>Billing</a>            
        </div>          
        <div class="input-group">
            <input type="text" name="createLabel" class="form-control" id="write-label" placeholder="Create Label Here"> 
            <span class="input-group-btn">
                <button class="btn bg-primary text-white" type="button" id="create-label">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /Mail Left Side bar -->

<div class="main-timeline" style="margin-left:92px; width:928px;">
	<ul class="cbp_tmtimeline">
        
          <!-- ***** Timeline Event 11 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>20/10/13</span> <span>12:00</span></time>
			<div class="cbp_tmicon"><i class="fa fa-picture-o"></i></div>
			<div class="cbp_tmlabel">
				
	    	<div class="mail-matter">
	    		<h6><font size="+3"><strong>Disconnection</strong></font></h6> 
				  <button type="button" class="btn btn-success">From</button> 
				  Onyeka Fisher    
				  <button type="button" class="btn btn-warning ">To</button> EEDC<br />
				 <h4><span>Subject: My light supply was cut off without any reason</span> </h4><br />
				<h4><span> As: Complaints</span> </h4><br />
				<h4><span> Message</span></h4>			
	    		<p> My supply has been disconnected for like 2 days now, pls look into this ASAP  </p>
	    	</div>
	    	
			</div>
		</li>
        
        <!-- ***** Timeline Event 12 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>21/10/13</span> <span>06:00</span></time>
			<div class="cbp_tmicon"><i class="fa fa-picture-o"></i></div>
			<div class="cbp_tmlabel">
				
	    	<div class="mail-matter">
	    		<h6><font size="+3"><strong>Disconnection</strong></font></h6> 
				  <button type="button" class="btn btn-success">From</button> 
				  EEDC    
				  <button type="button" class="btn btn-warning ">To</button> Onyeka Fisher<br />
				  <h4><span> Subject: Acknowledgement of reciept of Complaint</span> </h4><br />
				<h4><span> As: Acknowledgement</span> </h4><br />
				<h4><span> Message</span></h4>			
	    		<p>This is to acknowledge the reciept of your complaint, we will endeavour to rectify that within 48 hours.</p>
	    	</div>
	    	
			</div>
		</li>
        
			<li style="height:auto">
			<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>Compose</span> <span>Now</span></time>
			<div class="cbp_tmicon"><i class="fa fa-map-marker"></i></div>
			<div class="cbp_tmlabel">
			    <div class="form-group" style="width:800px;">
				<label  class="col-sm-2 control-label">Select a Tag</label>
				<div class="col-sm-10">
				 <div class="control-group">
				  <select id="select-beast" class="demo-default" placeholder="Select a person...">
					<option value="">Select a Tag for this Message...</option>
					<option value="4">Acknoledgement</option>
					<option value="1">Resolved</option>
					<option value="3">Request for More Time</option>
					<option value="5">Upload Evidience</option>
				  </select>
				</div>
			  </div>
			 </div>
		
		  <div class="form-group" style=" margin-left:40px; width:600px; margin-top:50px; margin-bottom:100px; height:auto">
				<label  class="col-sm-2 control-label">Subject</label>
				<div class="col-sm-10">
				 <div class="control-group">
				  <input type="text" class="form-control" />
				</div>
			  </div>
		 </div>
			 
		 <div class="form-group" style="margin-top:50px; margin-bottom:40px;">
          <label  class="col-sm-2 control-label">Message</label>
          <div class="col-sm-10">
				  
						<textarea class="form-control" rows="4" style="width:500px;"></textarea>
				</div>
			</div>
				
                <br>
                <button type="button" class="btn bg-primary text-white">Send Reply! </button>
            </div>
</li>	
	</ul>

	</div>
</body>

