<div class="row">
	<div class="col-md-4 col-md-offset-4 ">
	<div class="error-page">
		<i class="fa fa-meh-o"></i>
		<h1>404</h1>
		<h3>PAGE NOT FOUND</h3>
		<p>Redirecting to <strong>Home Page...</strong></p>
	</div>
		
	</div>
</div>