<div class="row">
	<div class="col-md-3">
		<h2 class="text-primary">Default SideBar</h2>
		<p>It is the menu which you can see on the dashboard now!</p>
	</div>
	<div class="col-md-9">
	<h1></h1>
		<pre data-type="html"><code>
           		&lt;div class=&quot;site-holder&quot;&gt;

			&lt;!-- .navbar --&gt;
			&lt;nav class=&quot;navbar  navbar-default nav-delighted &quot; role=&quot;navigation&quot;&gt;
			@Nav bar
			&lt;/nav&gt;                    

			&lt;!-- .left-sidebar --&gt;
			&lt;div class=&quot;left-sidebar&quot;&gt;
			@Leftside Menu
			&lt;/div&gt;

		&lt;/div&gt;
            </code>
            </pre>
	</div>

	<div class="col-md-3">
		<h2 class="text-primary">Mini SideBar</h2>
		<p>Menu items defined in blocks to make the layout simple.</p>
	</div>
	<div class="col-md-9">
	<h1></h1>
			<pre data-type="html"><code>
		&lt;div class=&quot;site-holder mini-sidebar&quot;&gt;
			&lt;!-- .navbar --&gt;
			&lt;nav class=&quot;navbar  navbar-default nav-delighted &quot; role=&quot;navigation&quot;&gt;
			@Nav bar
			&lt;/nav&gt;                    

			&lt;!-- .left-sidebar --&gt;
			&lt;div class=&quot;left-sidebar&quot;&gt;
			@Leftside Menu
			&lt;/div&gt;

		&lt;/div&gt;
				</code>
            </pre>
	</div>

	<div class="col-md-3">
		<h2 class="text-primary">Fixed Layout</h2>
		<p>The fixed menu will stick to its position and overlay your other content.</p>
	</div>
	<div class="col-md-9">
		<pre data-type="html"><code>
	&lt;div class=&quot;site-holder top-side-fixed&quot;&gt;
             &lt;!-- .navbar --&gt;
             &lt;nav class=&quot;navbar  navbar-default nav-delighted navbar-fixed-to&quot; role=&quot;navigation&quot;&gt;
             @Nav bar
             &lt;/nav&gt;                    

             &lt;!-- .left-sidebar --&gt;
             &lt;div class=&quot;left-sidebar&quot;&gt;
             @Leftside Menu
        &lt;/div&gt;
				</code>
            </pre>
	</div>

	

</div>