<div class="row">
<div class="col-md-12" id="div_1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-exclamation-circle"></i> Overview
                    <span class="panel-options">
                      <a href="#" class="panel-settings"><i class="fa fa-cogs"></i></a>
                      <a href="#" class="panel-refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a>
                      <a href="#" class="panel-close"><i class="fa fa-times"></i></a>
                  </span>
              </h3>
          </div><!-- panel-heading -->
          <div class="panel-body">
            <strong class="text-primary">Delighted</strong> is a admin template built on Twitter Bootstrap 3 with enoromous feautures such as <strong class="text-primary">AJAX</strong>  loading and highly customisable options . In this documentation I am going to explain the best to make you go easy on the integration. All the best and enjoy coding with <strong class="text-primary">Delighted</strong>
            <h3 class="text-success">Summary</h3>
            <ul>
            	<li>Built on

            		<ul>
            			<li>AJAX</li>
            			<li>Less for more efficiency</li>
            			<li>Twitter bootstrap 3.</li>
            		</ul>
            	</li>
            	<li>Ulimited colourful themes</li>
            	<li>Responsive &amp; Light design</li>
            	<li>User friendly</li>
            	<li>Admin targeted widgets</li>
            	<li>Draggable portlets</li>
            	<li>Flexible layouts</li>
            	<li>User friendly navigation with search box</li>
            	<li>Working chatbox</li>
            	<li>Bunch of jq plugins</li>
            	<li>900 plus Icon</li>
            	<li>Awesome delighted gold pages</li>
            	<li>All bootstrap ui kits &amp; components</li>
            	<li>Advanced tickers</li>
            	<li>Mini timeline</li>
            	<li>dynamic colour changing tasks</li>
            	<li>Advanced notifications</li>
            </ul>
        </div><!--panel-body-->
        </div><!--panel-->  
    </div>

 </div>