	<div class="row">
		<div class="col-md-3">
			<h2 class="text-primary">Normal Portlets</h2>
			<p>While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.</p>
		</div>
		<div class="col-md-9">
			<h1></h1>
			<pre data-type="html"><code>
&lt;div class=&quot;row grid&quot;&gt;
	&lt;div class=&quot;col-md-3&quot; id=&quot;div_1&quot;&gt;
		&lt;div class=&quot;panel&quot;&gt;
			&lt;div class=&quot;panel-heading&quot;&gt;
				&lt;h3 class=&quot;panel-title &quot;&gt;
					Portlet One
					&lt;span class=&quot;panel-options&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-settings&quot; &gt;
							&lt;i class=&quot;fa fa-cogs&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-refresh&quot;&gt;
							&lt;i class=&quot;fa fa-refresh&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-minimize&quot;&gt;
							&lt;i class=&quot;fa fa-chevron-up&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-close&quot;&gt;
							&lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					&lt;/span&gt;
				&lt;/h3&gt;
			&lt;/div&gt;
			&lt;div class=&quot;panel-body&quot;&gt;
				&lt;ul&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
			&lt;!-- /panel body --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col-md-3&quot; id=&quot;div_2&quot;&gt;
		&lt;div class=&quot;panel&quot;&gt;
			&lt;div class=&quot;panel-heading&quot;&gt;
				&lt;h3 class=&quot;panel-title &quot;&gt;
					Portlet Two
					&lt;span class=&quot;panel-options&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-settings&quot; &gt;
							&lt;i class=&quot;fa fa-cogs&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-refresh&quot;&gt;
							&lt;i class=&quot;fa fa-refresh&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-minimize&quot;&gt;
							&lt;i class=&quot;fa fa-chevron-up&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-close&quot;&gt;
							&lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					&lt;/span&gt;
				&lt;/h3&gt;
			&lt;/div&gt;
			&lt;div class=&quot;panel-body&quot;&gt;
				&lt;ul&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
			&lt;!-- /panel body --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>



	<div class="col-md-3">
		<h2 class="text-primary">Draggable Portlets</h2>
		<p>Portlets can be draggable within the defined number of rows.</p>
	</div>
	<div class="col-md-9">
		<pre data-type="html"><code>
&lt;div class=&quot;row&gt;
	&lt;div class=&quot;col-md-3&quot;&gt;
		&lt;div class=&quot;panel&quot;&gt;
			&lt;div class=&quot;panel-heading&quot;&gt;
				&lt;h3 class=&quot;panel-title &quot;&gt;
					Portlet One
					&lt;span class=&quot;panel-options&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-settings&quot; &gt;
							&lt;i class=&quot;fa fa-cogs&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-refresh&quot;&gt;
							&lt;i class=&quot;fa fa-refresh&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-minimize&quot;&gt;
							&lt;i class=&quot;fa fa-chevron-up&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-close&quot;&gt;
							&lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					&lt;/span&gt;
				&lt;/h3&gt;
			&lt;/div&gt;
			&lt;div class=&quot;panel-body&quot;&gt;
				&lt;ul&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
			&lt;!-- /panel body --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col-md-3&quot;&gt;
		&lt;div class=&quot;panel&quot;&gt;
			&lt;div class=&quot;panel-heading&quot;&gt;
				&lt;h3 class=&quot;panel-title &quot;&gt;
					Portlet Two
					&lt;span class=&quot;panel-options&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-settings&quot; &gt;
							&lt;i class=&quot;fa fa-cogs&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-refresh&quot;&gt;
							&lt;i class=&quot;fa fa-refresh&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-minimize&quot;&gt;
							&lt;i class=&quot;fa fa-chevron-up&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
						&lt;a href=&quot;#&quot; class=&quot;panel-close&quot;&gt;
							&lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					&lt;/span&gt;
				&lt;/h3&gt;
			&lt;/div&gt;
			&lt;div class=&quot;panel-body&quot;&gt;
				&lt;ul&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
					&lt;li&gt;Data&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
			&lt;!-- /panel body --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
		</code>
	</pre>
	</div>

	</div>