@import "../css/jquery-ui-1.10.3.custom.min.css";
@import "../css/animate.css";
@import "../css/ionicons.css";
@import "../css/font-awesome.css";
@import "../css/metro.css";
@import "../css/messenger.css";
@import "../css/messenger-theme-future.css";
@import "../css/messenger-theme-flat.css";
@import "../css/bootstrap-progressbar-3.0.0.min.css";
@import "../css/xcharts.css";
@import "../css/fullcalendar.css";
@import "../css/gallery.css";
@import "../css/jquery.easy-pie-chart.css";
@import "../css/tick.css";
@import "../css/jquery.mCustomScrollbar.css";
@import "../css/widgets.css";
@import "../css/timeline.css";
@import "../css/elfinder.min.css";
@import "../css/elfinder.theme.css";
@import "../css/component.css";
@import "../css/chosen.css";
@import "../css/jtree.css";
@import "../css/nestable.css";
@import "../css/icheck/skins/flat/all.css";
@import "../css/icheck/skins/square/all.css";
@import "../css/icheck/skins/polaris/polaris.css";
@import "../css/daterangepicker-bs3.css";
@import "../css/bootstrap-switch.css";
@import "../css/morris-0.4.3.min.css";
@import "../css/dataurl.css";
@import "../css/nvd3.css";
@import "../css/selectize/selectize.css";
@import "../css/selectize/selectize.legacy.css";
@import "../css/selectize/selectize.default.css";
@import "../css/jquery.gritter.css";
@import "../css/lightbox.css";
@import "../css/bootstrap-dialog.min.css";
@import "../css/prettify.css";
@import "../css/summernote-bs3.css";
@import "../css/summernote.css";
@import "../css/jquery.ml-keyboard.css";
@import "../css/jquery.motionCaptcha.0.2.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
/*
*	 Author: Vijay Kumar
*	 Template: Delighted - Flat & Responsive Bootstrap Admin Template
*	 Version: 1.0
*	 Bootstrap version: 3.0.0
*	 Copyright 2013 bootstrapguru
*	 www: http://bootstrapguru.com
*	 mail: support@bootstrapguru.com
*	 You can find our other themes on: https://bootstrapguru.com/themes/
---------------------------------------------------------------------------------------------- */
/* Predefined Variables
---------------------------------------------------------------------------------------------- */
/*	 External Less Files
---------------------------------------------------------------------------------------------- */
/******************* Color variables *********************/
/*	 Global Color variables @requested not to change these values if you are not sure of what you are doing
----------------------------------------------------------------------------------------------------------- */
/*	 Fonts
-------------------------------------------------------------------------------------------------- */
/*	 Navbar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/* Desired height is 90px , below 80px is not recommended */
/*	 LeftSidebar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/*	 LeftSidebar variables @you change these variables , make sure to get a good color combination ;)
-------------------------------------------------------------------------------------------------- */
/*	 Panels variables
-------------------------------------------------------------------------------------------------- */
@media (max-width: 1200px) {
  /* left-sidebar toggler
  ---------------------------------------------------------------------------------------------- */
  .toggle-left-sidebar {
    display: block !important;
  }
  .left-sidebar {
    
    width: 100% !important;
    min-height: 100%;
    position: relative !important;
    display: none;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
  }
  .user-details-close {
    height: 100%;
    min-height: 100%;
    position: absolute;
    left: -220px;
  }
  .user-details {
    display: none;
  }
  .content {
    margin-left: 0 !important;
    padding-left: 10px;
  }
  .breadcrumb > li + li:before,
  .breadcrumb li {
    display: none;
  }
  .breadcrumb li.active {
    font-size: 12px !important;
    display: block;
  }
  .panel-title {
    font-size: 12px !important;
  }
  #panel-tab li a {
    padding: 4px;
    font-size: 12px !important;
  }
  .site-holder {
    overflow: hidden;
  }
  .left-sidebar,
  .content {
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    -ms-transition: 500ms ease;
    transition: 500ms ease;
  }
  .navbar .btn-nav-toggle-responsive {
    background: none;
    border-color: #e0e0e0;
    border-radius: 0px;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .navbar .btn-nav-toggle-responsive {
    display: none;
  }
}
@media (max-width: 770px) {
  .content .options-holder {
    height: 200px;
  }
  .content .options-holder .tile {
    height: 60px !important;
  }
  .content .options-holder .tile a i,
  .content .options-holder .tile a h1 {
    font-size: 16px !important;
  }
}
/*	 Import Fonts
---------------------------------------------------------------------------------------------- */
/*	 Import External Css Files
---------------------------------------------------------------------------------------------- */
/******************* CSS Override for main bootstrap Classes *********************/
.panel {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
}
/******************* CSS Code *********************/
body {
  background-color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}
.site-holder {
  position: relative;
  overflow: hidden;
  min-height: 100px;
}
.frame {
  position: relative;
  overflow: hidden;
  min-height: 1200px;
}
/**
VERY IMPORTANT FOR THE HEIGHT

Minimun Height was 1200px

**/
.box-holder {
  min-height: 100px !important;
}
.btn:focus,
a {
  outline: none !important;
}
.site-holder.show-leftsidebar {
  margin-left: -280px;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
*:focus {
  outline: 0;
}
.nopadding {
  padding: 0px;
}
.bg-primary {
  background: #e97436 !important;
}
.bg-warning {
  background: #eac841 !important;
}
.bg-info {
  background: #6cadd1 !important;
}
.bg-danger {
  background: #df6c6e !important;
}
.bg-success {
  background: #a0d269 !important;
}
.bg-gray {
  color: #eeeeee !important;
}
.bg-pink {
  background: #ff6c60 !important;
}
.bg-purple {
  color: #8175c7 !important;
}
.bg-seagreen {
  color: #01a89e !important;
}
.bg-yellow {
  color: #f8d347 !important;
}
.bg-black {
  color: #000000 !important;
}
.bg-success:hover,
.bg-success-dark {
  background: #87c642 !important;
}
.bg-primary:hover,
.bg-primary-dark {
  background: #1b8f8b !important;
}
.bg-warning:hover,
.bg-warning-dark {
  background: #dfb719 !important;
}
.bg-info:hover,
.bg-info-dark {
  background: #4597c5 !important;
}
.bg-danger:hover,
.bg-danger-dark {
  background: #d64245 !important;
}
.bg-none {
  background: none !important;
}
.bg-white {
  background: #FFFFFF !important;
}
.text-primary {
  color: #e97436 !important;
}
.text-warning {
  color: #eac841 !important;
}
.text-danger {
  color: #df6c6e !important;
}
.text-success {
  color: #a0d269 !important;
}
.text-info {
  color: #6cadd1 !important;
}
.text-white {
  color: #FFFFFF !important;
}
.text-inverse {
  color: #9ea7b3;
}
/*	 Left Sidebar
---------------------------------------------------------------------------------------------- */
.navbar.nav-delighted.navbar-default {
  height: 60px;
  background-color: #e97436;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar.nav-delighted.navbar-default .navbar-brand {
  color: white;
  font-size: 24px;
  font-family: 'Droid Sans', sans-serif;
  padding: 0px;
  line-height: 60px;
  width: 220px;
  text-align: center;
}
.navbar.nav-delighted.navbar-default .navbar-brand i {
  font-size: 24px;
}
.navbar.nav-delighted.navbar-default .navbar-brand img {
  height: 30px !important;
  margin-left: -17px;
}
.navbar.nav-delighted.navbar-default a.toggle-left-sidebar {
  color: white;
  float: left;
  font-size: 24px;
  line-height: 60px;
  padding-left: 20px;
  opacity: 0.4;
  display: none;
}
.navbar.nav-delighted.navbar-default a.logout {
  font-size: 34px;
  color: #e97436;
  background-color: #232b2d;
  float: right;
  height: 60px;
  width: 60px;
  text-align: center;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
.navbar.nav-delighted.navbar-default a.logout:hover {
  background-color: #2e393b;
  color: #27cfca;
}
.navbar.nav-delighted.navbar-default .search-form {
  margin-top: 13px;
  margin-right: 34px;
}
.navbar.nav-delighted.navbar-default .search-form input {
  height: 32px;
  width: 155px;
  border-radius: 16px;
  color: #e97436;
  padding-left: 30px;
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar.nav-delighted.navbar-default .search-form input:focus {
  border-color: white;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar.nav-delighted.navbar-default .search-form i.fa-search {
  color: #c2c7c1;
  margin-top: -26px;
  margin-left: 5px;
  position: absolute;
  font-size: 20px;
}
/*	 Left Sidebar
---------------------------------------------------------------------------------------------- */
.left-sidebar {
  position: absolute;
  background-color: #232b2d;
  width: 220px;
  z-index: 1001;
  height: 100%;
  color: #80969c;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  -ms-transition: 500ms ease;
  transition: 500ms ease;
}
.left-sidebar.left-sidebar-open {
  display: block;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.left-sidebar .user-menu {
  width: 100%;
  height: 90px;
  padding-top: 20px;
  padding-left: 25px;
  border-bottom: 1px solid #2e393b;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
.left-sidebar .user-menu:hover {
  background-color: #2a3336;
  cursor: pointer;
}
.left-sidebar .user-menu img.avatar {
  float: left;
  border: 2px solid #e97436;
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.left-sidebar .user-menu .user-info {
  padding-top: 8px;
  display: inline-block;
}
.left-sidebar .user-menu .user-info .welcome {
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  line-height: 12px;
}
.left-sidebar .user-menu .user-info .username {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  height: 20px;
  color: #80969c;
}
.left-sidebar .user-menu .user-status {
  display: inline-block;
  font-size: 12px;
  color: #fd6c6d;
  position: absolute;
  margin-top: 25px;
  margin-left: 5px;
  /*float: left;
		         */
}
.left-sidebar .sidebar-holder .nav li a {
  color: #80969c;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 10px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.left-sidebar .sidebar-holder .nav li a:hover {
  text-decoration: none;
  background-color: #e97436;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.left-sidebar .sidebar-holder .nav li a:hover i {
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.left-sidebar .sidebar-holder .nav li a i {
  display: inline-block;
  font-size: 14px;
  margin: 0 10px;
  text-align: center;
  width: 20px;
}
.left-sidebar .sidebar-holder .nav li a .fa-chevron-right {
  color: #445458;
  font-size: 10px;
  float: right;
  line-height: 20px;
  padding: 0 5px;
}
.left-sidebar .sidebar-holder .nav li.active > a {
  text-decoration: none;
  background-color: #1A2022;
  border-left: 3px solid #e97436;
  color: #ffffff;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.left-sidebar .sidebar-holder .nav li.active > a i {
  color: #ffffff;
}
.left-sidebar .sidebar-holder .nav > li ul {
  list-style: none;
  padding-left: 0px;
  display: none;
  background-color: #2a3336;
  margin-left: -1px;
}
.left-sidebar .sidebar-holder .nav > li ul > li > a {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 5px;
  display: block;
  color: #80969c;
}
.left-sidebar .sidebar-holder .nav > li ul > li ul {
  background-color: #2e393b;
}
.left-sidebar .sidebar-holder .nav > li ul > li ul > li ul {
  background-color: #333e41;
}
.left-sidebar .sidebar-holder .nav > li ul > li ul > li ul > li ul {
  background-color: #374447;
}
.site-holder.mini-sidebar .left-sidebar {
  width: 80px !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.site-holder.mini-sidebar .left-sidebar li.submenu ul {
  width: 200px;
  display: block;
  position: absolute;
  margin-left: 80px !important;
  z-index: 300000;
  margin-top: -65px;
  border: 1px solid #e97436;
}
.site-holder.mini-sidebar .left-sidebar .user-menu .avatar {
  margin-left: -10px;
}
.site-holder.mini-sidebar .left-sidebar .user-menu .user-info,
.site-holder.mini-sidebar .left-sidebar .user-menu .user-status {
  display: none;
}
.site-holder.mini-sidebar .left-sidebar .nav > li > a {
  font-size: 12px;
  width: 80px !important;
  overflow: hidden;
  border-bottom: 1px solid #0d1010;
  text-align: center;
  height: 65px;
}
.site-holder.mini-sidebar .left-sidebar .nav > li > a .hidden-minibar {
  font-size: 11px;
  text-align: center;
  line-height: 22px;
}
.site-holder.mini-sidebar .left-sidebar .nav > li > a .fa-chevron-right {
  display: none;
}
.site-holder.mini-sidebar .left-sidebar .nav > li > a i {
  margin-top: 5px;
  display: block;
  font-size: 20px;
  text-align: center;
  width: 40px;
}
.site-holder.mini-sidebar .breadcrumb-holder {
  margin-top: -9px;
}
.site-holder.mini-sidebar .user-details {
  margin-left: 80px;
  background-color: #f5f5f5;
  z-index: 0;
  position: absolute;
  text-align: justify;
  width: 270px;
  height: 100%;
  color: #80969c;
  z-index: 1000;
  overflow: hidden;
  -webkit-transition: 2000ms ease;
  -moz-transition: 2000ms ease;
  -o-transition: 2000ms ease;
  transition: 2000ms ease;
  -webkit-box-shadow: 2px 0px 1px 0px #e2e2e2;
  -moz-box-shadow: 2px 0px 1px 0px #e2e2e2;
  box-shadow: 2px 0px 1px 0px #e2e2e2;
}
.site-holder.mini-sidebar .user-details.user-details-close {
  margin-left: -220px;
  -webkit-transition: 2000ms ease;
  -moz-transition: 2000ms ease;
  -o-transition: 2000ms ease;
  transition: 2000ms ease;
}
.site-holder.mini-sidebar .content {
  margin-left: 80px;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  padding: 10px;
}
/*	Content
---------------------------------------------------------------------------------------------- */
.content {
  margin-left: 220px;
  padding-left: 10px;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.content .main-content {
  padding-top: 15px;
  min-height: 300px;
}
.content.left-sidebar-open {
  margin-left: 220px !important;
}
.content .row {
  margin-right: 0px;
}
.content.user-details-open {
  margin-left: 490px;
}
.content .breadcrumb-holder {
  height: 60px;
  background-color: white;
  margin-left: -15px;
  -webkit-box-shadow: 0px 1px 0px 0px #e2e2e2;
  -moz-box-shadow: 0px 1px 0px 0px #e2e2e2;
  box-shadow: 0px 1px 0px 0px #e2e2e2;
}
.content .breadcrumb-holder .breadcrumb {
  display: inline-block;
  background-color: white;
  margin-bottom: 0px;
  font-family: 'Droid Sans', sans-serif;
  padding: 16px 15px;
  border-radius: 0px;
}
.content .breadcrumb-holder .breadcrumb .active {
  color: #232b2d;
  font-size: 18px;
  text-transform: uppercase;
}
.content .breadcrumb-holder .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #adafb0;
  content: "\00AB";
}
.content .breadcrumb-holder .breadcrumb li a {
  color: #adafb0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
.content .breadcrumb-holder a.options-toggle,
.content .breadcrumb-holder a.refresh-storage {
  font-size: 34px;
  color: #adafb0;
  background-color: #f4f4f4;
  display: inline-block;
  line-height: 60px;
  float: right;
  height: 60px;
  width: 60px;
  text-align: center;
}
.content .breadcrumb-holder a.options-toggle:hover,
.content .breadcrumb-holder a.refresh-storage:hover {
  background-color: #e7e7e7;
}
.content .options-holder {
  min-height: 140px;
  background-color: #ececec;
  padding: 20px 0px;
  margin-left: -10px;
  padding-left: 10px;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  -webkit-box-shadow: 0px 1px 0px 0px #cccccc;
  -moz-box-shadow: 0px 1px 0px 0px #cccccc;
  box-shadow: 0px 1px 0px 0px #cccccc;
  .options
		{
			li 
			{
				height: 80px;
				width: 80px;
				text-align: center;
				&.active,&:hover
				{
					background-color: white;
					border-bottom: 1px solid @primary;
				}
				&.create-new
				{
					border:1px dashed #000000;
					border-radius: 5px;
				}
				a
				{
					text-align: center;
					font-size: 14px;
					color: #5a6466;
					text-decoration: none;
					i
					{
						font-size: 20px;
						margin-top: 10px;
						display: block;
					}
				}
			}
			}
}
.content .options-holder.closed {
  display: none;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.content .options-holder .thumbnail.tile {
  width: 100%;
  height: 100px;
  padding-top: 20px;
}
.content .options-holder .thumbnail.tile h1 {
  font-size: 24px;
  margin-top: 0px;
}
/*	User Details
---------------------------------------------------------------------------------------------- */
.user-details {
  margin-left: 220px;
  background-color: #f5f5f5;
  z-index: 0;
  position: absolute;
  text-align: justify;
  width: 270px;
  height: 100%;
  color: #80969c;
  z-index: 1000;
  overflow: hidden;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  -webkit-box-shadow: 2px 0px 1px 0px #e2e2e2;
  -moz-box-shadow: 2px 0px 1px 0px #e2e2e2;
  box-shadow: 2px 0px 1px 0px #e2e2e2;
}
.user-details.user-details-close {
  margin-left: -50px;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
/*	panels
---------------------------------------------------------------------------------------------- */
.panel {
  padding: 0px;
  border-top: 1px solid #e97436;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
  border-radius: 0px;
}
.panel.bg-none {
  background-color: none !important;
  border-top: 0px solid #e97436;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
}
.panel > .panel-heading {
  border-bottom: 1px solid #e9e9e9;
  font-weight: normal;
  background: none;
}
.panel > .panel-heading h3 {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  color: #b1b2b4;
}
.panel > .panel-heading a {
  text-decoration: none !important;
}
.panel > .panel-heading .panel-options {
  float: right;
}
.panel > .panel-heading .panel-options a {
  padding: 3px;
  color: #e9e9e9;
  font-size: 16px;
}
.panel > .panel-heading .panel-options a:hover {
  text-decoration: none;
  color: #cfcece;
}
.panel > .panel-body.no-padding {
  padding: 0px !important;
}
.panel > .panel-body .padding {
  padding: 15px !important;
}
.panel.panel-primary {
  border: none;
  border-color: none;
}
.panel.panel-primary > .panel-heading {
  color: #e97436 !important;
  background-color: #ffffff;
  border-top: 1px solid #e97436;
}
.panel.panel-primary > .panel-heading h3 {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
.panel.panel-success {
  border-top: 1px solid #a0d269;
}
.panel.panel-danger {
  border-top: 1px solid #df6c6e;
}
.panel.panel-info {
  border-top: 1px solid #6cadd1;
}
.panel.panel-warning {
  border-top: 1px solid #eac841;
}
.submenu.current > a i.fa-chevron-right {
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
}
/*	Jpreloader
---------------------------------------------------------------------------------------------- */
#jpreOverlay {
  background-color: #e97436;
}
#jpreSlide {
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
  width: 50%;
  height: 30%;
}
#jpreLoader {
  width: 300px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 2px;
}
#jpreBar {
  background: #232b2d;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.brand {
  color: white;
  font-size: 24px;
  font-family: 'Droid Sans', sans-serif;
  padding: 0px;
  line-height: 60px;
  width: 220px;
  text-align: center;
}
#jprePercentage {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  top: 100%;
}
/*	Load Mask
---------------------------------------------------------------------------------------------- */
.loadmask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.5;
  opacity: .20;
  filter: alpha(opacity=50);
  background-color: #000000;
  width: 100%;
  height: 100%;
  zoom: 1;
}
.loadmask-msg {
  z-index: 20001;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  padding: 2px;
}
.loadmask-msg div {
  padding: 5px 10px 5px 25px;
  line-height: 16px;
  color: #e97436;
  font: normal 11px tahoma, arial, helvetica, sans-serif;
  cursor: wait;
}
.masked {
  overflow: hidden !important;
}
.masked-relative {
  position: relative !important;
}
.masked-hidden {
  visibility: hidden !important;
}
.placeholder {
  background-color: white;
}
/* Nav Tabs
---------------------------------------------------------------------------------------------- */
.nav-tabs {
  border-color: #e97436;
  margin-bottom: 5px;
}
.nav-tabs li a {
  color: #667d83;
  font-weight: normal;
  margin-bottom: -1px;
}
.nav-tabs li.active > a,
.nav-tabs li.active > a:hover {
  font-weight: 500;
  color: #e97436;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #e97436;
  border-bottom-width: 0px;
}
.nav-stacked-left {
  border-color: #e97436 !important;
  margin-bottom: 5px;
}
.nav-stacked-left li a {
  color: #667d83;
  font-weight: normal;
  border-color: #e97436;
}
.nav-stacked-left li.active > a,
.nav-stacked-left li.active > a:hover {
  font-weight: 500;
  color: #e97436 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #e97436 !important;
  border-right-width: 0px !important;
  border-radius: 0px;
}
.nav-stacked-right {
  border-color: #e97436 !important;
}
.nav-stacked-right li a {
  color: #667d83;
  font-weight: normal;
  border-color: #e97436;
}
.nav-stacked-right li.active > a,
.nav-stacked-right li.active > a:hover {
  font-weight: 500;
  color: #e97436 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #e97436 !important;
  border-left-width: 0px !important;
  border-radius: 0px;
  margin-left: 1px;
}
#panel-tab {
  margin-top: -10px;
  margin-right: 10px;
  border-width: 0px;
}
#panel-tab li a {
  padding: 8px;
  color: #667d83;
  font-size: 14px;
  font-weight: normal;
  border-width: 0px;
}
#panel-tab li.active a {
  border-top-color: #e97436;
  font-weight: 500;
  color: #e97436;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #e97436;
}
.nav-tab-right li {
  float: right;
}
.nav-stacked-left {
  border-right: 1px solid #dddddd;
}
.nav-stacked-left > li {
  margin-right: -4px;
}
.nav-stacked-left > li > a {
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-stacked-left > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-stacked-left > li.active > a,
.nav-stacked-left > li.active > a:hover,
.nav-stacked-left > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-right-color: transparent;
}
.nav-stacked-right {
  border-left: 1px solid #dddddd;
}
.nav-stacked-right > li {
  margin-left: -2px;
}
.nav-stacked-right > li > a {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-stacked-right > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-stacked-right > li.active > a,
.nav-stacked-right > li.active > a:hover,
.nav-stacked-right > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-color: transparent;
}
/* Progress bar Custom styles
---------------------------------------------------------------------------------------------- */
.progress {
  height: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #e97436;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar-success {
  background-color: #a0d269;
}
.progress-bar-primary {
  background-color: #e97436 !important;
}
.progress-bar-info {
  background-color: #6cadd1;
}
.progress-bar-warning {
  background-color: #eac841;
}
.progress-bar-danger {
  background-color: #df6c6e;
}
/* Dashboard widget styles
---------------------------------------------------------------------------------------------- */
.fa-opacity {
  opacity: 0.5;
}
.fa-watermark {
  position: absolute;
  right: 10%;
  font-size: 58px;
  color: rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transition: 100ms ease;
  -moz-transition: 100ms ease;
  -o-transition: 100ms ease;
  transition: 100ms ease;
}
.avatar.avatar-xs {
  width: 25px;
}
.avatar.avatar-sm {
  width: 50px;
}
.avatar.avatar-md {
  width: 75px;
}
.avatar.avatar-lg {
  width: 100px;
}
.avatar.avatar-left {
  float: left;
}
.profile-incomplete {
  height: 280px;
}
.profile-incomplete img {
  border-radius: 3px;
}
.profile-incomplete .welcome-user {
  margin-top: 0px;
}
.profile-incomplete .welcome-user .small {
  font-family: 'Open Sans', sans-serif;
}
.profile-incomplete .welcome-user h6 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  padding-left: 100px;
  font-size: 15px;
}
.profile-incomplete .welcome-user h4 {
  font-weight: 900;
  color: #333;
  font-size: 15px;
  padding-left: 100px;
  font-family: 'Droid Sans', sans-serif;
}
.profile-incomplete .welcome-user h4 hr {
  margin-top: 15px;
}
.profile-incomplete .lists {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.profile-incomplete .lists .fa {
  font-size: 8px;
  color: #6d6d6d;
  padding-right: 5px;
}
.demo-chart-one-summary {
  text-align: center;
}
.demo-chart-one-summary h4 {
  margin-bottom: 0px;
}
.carousel-inner img {
  width: 100%;
}
/*  Buttons overwrite css
---------------------------------------------------------------------------------------------- */
.btn-default {
  color: #aca9a9;
  background-color: #FFFFFF;
  border-color: #cecece;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #bab8b8;
  background-color: #f9f9f9;
  border-color: #bab8b8;
}
.btn-primary {
  color: #ffffff;
  background-color: #e97436;
  border-color: #21b1ad;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1fa5a0;
  border-color: #1b8f8b;
}
.btn-warning {
  color: #ffffff;
  background-color: #eac841;
  border-color: #e9c538;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #e7c12a;
  border-color: #dfb719;
}
.btn-danger {
  color: #ffffff;
  background-color: #df6c6e;
  border-color: #dd6466;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #da5759;
  border-color: #d64245;
}
.btn-info {
  color: #ffffff;
  background-color: #6cadd1;
  border-color: #64a9cf;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #59a2cb;
  border-color: #4597c5;
}
.btn-inverse {
  color: #ffffff;
  background-color: #373947;
  border-color: #333441;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #2c2d39;
  border-color: #21222a;
}
/* Demo  Icons  @Font Awesome
---------------------------------------------------------------------------------------------- */
.fontawesome-icon-list {
  margin-top: 22px;
}
.fontawesome-icon-list .fa-hover {
  display: block;
  color: #222;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
}
.fontawesome-icon-list .fa-hover:hover {
  cursor: pointer;
}
.fontawesome-icon-list .fa-hover .fa {
  width: 32px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  color: #e97436;
}
.fontawesome-icon-list .fa-hover:hover {
  background-color: #ececec;
  color: #000;
  text-decoration: none;
}
.fontawesome-icon-list .fa-hover:hover .fa {
  font-size: 28px;
  vertical-align: -6px;
}
.fontawesome-icon-list .fa-hover:hover .text-muted {
  color: #bbe2d5;
}
.icon-show .fa-2x {
  font-size: 2em;
}
.icon-show .fa-3x {
  font-size: 4em;
}
.icon-show .fa-4x {
  font-size: 7em;
}
.icon-show .fa-5x {
  font-size: 12em;
}
.icon-show .fa-6x {
  font-size: 20em;
}
/* Demo  Icons  @Font Awesome
---------------------------------------------------------------------------------------------- */
.ion-icons {
  margin-top: 22px;
}
.ion-icons .fa-hover {
  display: block;
  color: #222;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
}
.ion-icons .fa-hover:hover {
  cursor: pointer;
}
.ion-icons .fa-hover .icon {
  width: 32px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  color: #e97436;
}
.ion-icons .fa-hover:hover {
  background-color: #ececec;
  color: #000;
  text-decoration: none;
}
.ion-icons .fa-hover:hover .icon {
  font-size: 28px;
  vertical-align: -6px;
}
.ion-icons .fa-hover:hover .text-muted {
  color: #bbe2d5;
}
/* Full calendar
---------------------------------------------------------------------------------------------- */
#external-events {
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
  margin-bottom: 20px;
  padding: 0px 40px;
}
#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}
.external-event {
  /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 10px 4px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  height: 30px;
  line-height: 10px;
}
external-event:active {
  background-color: #000000;
}
.fc-event {
  border: 0px solid #93D0EA !important;
  /* default BORDER color */
  border-radius: 0px;
  /* default BACKGROUND color */
  color: #FFF !important;
  /* default TEXT color */
  font-size: .85em;
  cursor: default;
  padding: 1px 5px ;
}
.event-color {
  margin: 10px 0px;
}
.fc-header-title {
  color: #e97436;
}
#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}
#external-events p input {
  margin: 0;
  vertical-align: middle;
}
#write-event,
#create-event {
  border-radius: 0px;
}
.fc-header .fc-button {
  background: #e97436;
  color: #FFFFFF;
  text-shadow: none;
}
/* The file upload form
---------------------------------------------------------------------------------------------- */
#upload {
  font-family: 'Droid Sans', sans-serif;
  padding: 30px;
}
#drop {
  padding: 100px 50px;
  margin-bottom: 30px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  color: #e97436;
  border: 4px dotted #e97436;
}
#drop a {
  background-color: #e97436;
  padding: 12px 26px;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  line-height: 1;
}
#drop a:hover {
  background-color: #37d9d4;
  text-decoration: none;
}
#drop input {
  display: none;
}
#upload ul {
  list-style: none;
}
#upload ul li {
  background-color: #333639;
  background-image: -webkit-linear-gradient(top, #333639, #303335);
  background-image: -moz-linear-gradient(top, #333639, #303335);
  background-image: linear-gradient(top, #333639, #303335);
  border-top: 1px solid #3d4043;
  border-bottom: 1px solid #2b2e31;
  height: 75px;
  left: -20px;
  position: relative;
}
#upload ul li input {
  display: none;
}
#upload ul li p {
  width: 144px;
  overflow: hidden;
  white-space: nowrap;
  color: #EEE;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 100px;
}
#upload ul li i {
  font-weight: normal;
  font-style: normal;
  color: #7f7f7f;
  display: block;
}
#upload ul li canvas {
  top: 15px;
  left: 32px;
  position: absolute;
}
#upload ul li span {
  width: 15px;
  height: 12px;
  background: url('../images/icons.png') no-repeat;
  position: absolute;
  top: 34px;
  right: 33px;
  cursor: pointer;
}
#upload ul li.working span {
  height: 16px;
  background-position: 0 -12px;
}
#upload ul li.error p {
  color: red;
}
/* Mail Box
---------------------------------------------------------------------------------------------- */
.inbox {
  border: 1px solid #dde0e8;
  padding-left: 10px;
}
.mail-left-box {
  height: 600px;
  padding: 10px;
}
.mail-left-box .btn-compose {
  background: #df6c6e;
  margin-bottom: 10px;
  color: #FFFFFF;
  border-width: 2px;
  padding: 3px;
  font-weight: bold;
  width: 100%;
}
.mail-left-box .btn-compose:hover {
  background-color: #dc5f62;
}
.mail-left-box .form-control {
  border-color: #ccc;
}
.mail-left-box .inbox-options a {
  border: 1px solid #FFFFFF;
  padding: 5px 18px;
  cursor: pointer;
  font-weight: 600;
}
.mail-left-box .inbox-options a.list-group-item.active,
.mail-left-box .inbox-options a.list-group-item.active:hover,
.mail-left-box .inbox-options a.list-group-item.active:focus {
  z-index: 2;
  color: #df6c6e;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #f5f5f5;
}
.mail-left-box .inbox-options a.list-group-item.active .badge,
.mail-left-box .inbox-options a.list-group-item.active:hover .badge,
.mail-left-box .inbox-options a.list-group-item.active:focus .badge {
  color: #FFFFFF;
  background-color: #df6c6e !important;
}
.mail-left-box .inbox-options a:first-child,
.mail-left-box .inbox-options a:last-child {
  border-radius: 0px;
}
.mail-left-box .inbox-options a i {
  width: 20px;
}
.mail-left-box .inbox-labels {
  margin-top: 20px;
}
.mail-left-box .inbox-labels a {
  border-color: #FFFFFF;
  font-size: 12px;
  line-height: 10px;
  background: transparent;
}
.mail-left-box .inbox-labels a.list-group-item.active,
.mail-left-box .inbox-labels a.list-group-item.active:hover,
.mail-left-box .inbox-labels a.list-group-item.active:focus {
  z-index: 2;
  color: #e97436;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.mail-left-box .inbox-labels a i {
  font-size: 15px;
}
.mail-left-box .inbox-labels h5 {
  color: #b0b5b9 !important;
}
.mail-right-box {
  border-left: 1px solid #dde0e8;
  height: auto;
  padding: 0px;
}
.mail-right-box .mail-options a {
  border: 1px solid #dde0e8;
  padding: 10px;
  font-size: 16px;
}
.mail-right-box .mail-options a:hover {
  text-decoration: none;
}
.mail-right-box .mail-options .fa-chevron-right,
.mail-right-box .mail-options .fa-chevron-left {
  color: #555555;
}
.mail-right-box .mail-options .fa-chevron-right:hover,
.mail-right-box .mail-options .fa-chevron-left:hover {
  text-decoration: none;
  color: #6f6f6f;
}
.mail-right-box .mail-options-nav {
  padding: 10px;
  border-bottom: 1px solid #dde0e8;
}
.mail-right-box .mail-options-nav .option-btn {
  background: #F1ECEC;
  border: 1px solid #E7E2E2;
  color: #df6c6e;
  border-radius: 3px !important;
}
.mail-right-box .mail-options-nav .select-all {
  width: 40px;
  float: left;
  margin-right: 20px;
}
.mail-right-box .mail-options-nav .mail-pagination {
  font-size: 14px;
}
.mail-right-box .mail-options-nav .mail-pagination label {
  font-size: 14px;
}
.mail-right-box .mails {
  height: 745px;  
  margin-right: -15px;
}
.mail-right-box .dropdown-optionss .btn {
  border-radius: 3px;
}
.mail-right-box .dropdown-optionss .input-group-addon {
  background: none;
  border-left: 0px;
  border-radius: 0px;
}
.mail-right-box .dropdown-optionss input {
  border-radius: 0px;
  color: #2e393b !important;
  border-right: 0px;
}
.mail-right-box .dropdown-optionss .form-control:focus {
  border-color: #dfdfd5 !important;
  box-shadow: none !important;
}
.mail-right-box .dropdown-optionss .fa-search {
  opacity: 0.5;
}
/* Web Statistics mini
---------------------------------------------------------------------------------------------- */
.web-stats {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #d7e3f0;
  height: 80px;
}
.web-stats:hover .fa-watermark {
  font-size: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
.web-stats > span {
  padding: 10px;
}
.web-stats .graph-summary {
  padding-left: 20px;
}
.web-stats .graph-summary h5 {
  margin-top: 3px;
  font-size: 20px;
}
.web-stats .fa-stack {
  margin-top: -10px !important;
  color: #373947;
  font-size: 30px;
}
.web-stats .icon {
  font-size: 50px;
}
.web-stats.primary {
  border-bottom: 1px solid #e97436;
}
.web-stats.success {
  border-bottom: 1px solid #a0d269;
}
.web-stats.warning {
  border-bottom: 1px solid #eac841;
}
.web-stats.danger {
  border-bottom: 1px solid #df6c6e;
}
.web-stats.info {
  border-bottom: 1px solid #6cadd1;
}
.web-stats.inverse {
  border-bottom: 1px solid #373947;
}
.web-stats .success {
  background-color: #a0d269;
}
.web-stats .info {
  background-color: #6cadd1;
}
.web-stats .warning {
  background-color: #eac841;
}
.web-stats .danger {
  background-color: #df6c6e;
}
.web-stats .inverse {
  background-color: #373947;
}
.chart {
  width: 60px !important;
  height: 60px !important;
  line-height: 60px !important;
  margin-top: 0px;
}
.chart canvas {
  width: 60px !important;
  height: 60px !important;
  line-height: 60px !important;
}
.chart.user-canvas {
  width: 150px !important;
  height: 150px !important;
  line-height: 150px !important;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
/*compose styles*/
.compose .compose-head {
  min-height: 100px;
  background: #eef1f8;
}
.compose .compose-head h1 {
  font-size: 30px;
  font-weight: 200;
  padding-left: 15px;
  color: #5c617b;
  padding-top: 20px;
}
.compose .compose-head h1 .send-mail {
  margin-right: 40px;
}
.compose .compose-head h6 {
  padding-left: 15px;
  color: #5c617b;
}
.compose .title-box {
  min-height: 180px;
  padding-top: 20px;
}
.compose .title-box hr {
  border-width: 1px;
  border-color: #5c617b;
  opacity: 0.3;
}
.compose .title-box label {
  color: #5c617b;
  font-size: 15px;
}
.compose .title-box input {
  border-radius: 0px;
  outline: none !important;
  background: #f9fafb;
  box-shadow: none !important;
  border-color: #dfdfd5 !important;
}
.compose .title-box .input-group-addon {
  background: #f9fafb;
  border-right: 0px;
  color: #999999;
  border-radius: 0px;
  border-color: #dfdfd5 !important;
}
.compose .title-box .form-control:focus {
  border-color: #dfdfd5 !important;
  box-shadow: none !important;
  background: #eaedf1;
}
.compose .message-box {
  min-height: 200px;
  padding-top: 5px;
}
.compose .message-box hr {
  border-width: 1px;
  border-color: #5c617b;
  opacity: 0.3;
}
.compose .message-box label {
  color: #5c617b;
  font-size: 15px;
  margin-top: 10px;
}
.compose .message-box input {
  border-radius: 0px;
  outline: none !important;
  background: #f9fafb;
  box-shadow: none !important;
  border-color: #dfdfd5 !important;
}
.compose .message-box .input-group-addon {
  background: #f9fafb;
  border-right: 0px;
  color: #999999;
  border-radius: 0px;
  border-color: #dfdfd5 !important;
}
.compose .message-box .form-control:focus {
  border-color: #dfdfd5 !important;
  box-shadow: none !important;
  background: #eaedf1;
}
.compose .message-box .textarea {
  border-radius: 0px;
  outline: none !important;
  background: #f9fafb;
  box-shadow: none !important;
  border-color: #dfdfd5 !important;
}
.compose .compose-options {
  height: 80px;
  background: #cccccc !important;
}
.tasks {
  margin-bottom: 20px;
}
.list-tasks {
  margin-left: -30px;
  list-style: none;
}
.list-tasks .task-placeholder {
  background-color: #f9f9f9;
  border: 2px dashed #cccccc;
  border-radius: 4px;
}
.list-tasks li {
  min-height: 50px !important;
  margin: 5px;
  padding-left: 5px;
  padding-top: 5px;
  border-radius: 2px;
}
.list-tasks li.completed {
  opacity: 0.5 !important;
}
.list-tasks li.completed .createdby,
.list-tasks li.completed .title {
  text-decoration: line-through;
}
.list-tasks li .check,
.list-tasks li .fa-bars {
  float: left;
  width: 15px;
  height: 40px;
  display: none;
  position: absolute;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.list-tasks li .check {
  margin-left: 25px;
}
.list-tasks li .fa-bars {
  margin-top: 15px;
  font-size: 16px;
  cursor: move;
}
.list-tasks li:hover .check,
.list-tasks li:hover .fa-bars {
  display: block;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.list-tasks li .title {
  font-weight: bold;
  padding-left: 60px;
}
.list-tasks li .createdby {
  float: left;
  width: 70%;
  height: 20px;
  overflow: hidden !important;
  padding-left: 60px;
  font-style: italic;
  font-size: 12px;
}
.list-tasks li.task-heading {
  margin-top: 30px;
}
.list-tasks li.task-heading .title,
.list-tasks li.task-heading .createdby {
  padding-left: 10px !important;
}
.list-tasks li.alert-danger {
  border-left: 8px solid #df6c6e;
}
.list-tasks li.alert-success {
  border-left: 8px solid #a0d269;
}
.list-tasks li.alert-primary {
  border-left: 8px solid #e97436;
  background-color: #8de9e6;
}
.list-tasks li.alert-info {
  border-left: 8px solid #5bb1dc;
}
.list-tasks li.alert-warning {
  border-left: 8px solid #eac841;
}
.list-tasks li .time {
  font-style: italic;
  float: right;
  font-size: 10px;
  line-height: 14px;
  padding-right: 20px;
  margin-top: -10px;
}
.list-tasks li .time .created {
  display: block;
  padding-left: 1px;
}
.task-body {
  background-color: #f1f1f1;
  padding-left: 30px;
}
.task-body .task-title {
  font-weight: bold;
  color: #949494;
  display: inline-block;
}
.task-body .task-content {
  min-height: 400px;
  margin-bottom: 20px;
}
.task-body .task-content > .task-head {
  background: #f2f2f2;
  height: 100px;
  color: #949494;
}
.task-body .task-content > .task-head > h4,
.task-body .task-content > .task-head h5 {
  font-weight: bolder;
}
.task-body .task-content > .task-head > h4 i,
.task-body .task-content > .task-head h5 i {
  color: #309C9C;
}
.task-body .task-content > .task-aside {
  background: #e8e5e5;
  height: 100px;
  font-size: 15px;
}
.task-body .task-content > .task-aside li {
  padding-top: 20px;
  text-align: center;
}
.task-body .task-content > .task-aside li a {
  color: #B5B3B8;
}
.task-body .task-content#task-content-info {
  border: 1px solid #CDE7F5;
}
.task-body .task-content#task-content-info .task-info {
  border-bottom: 1px solid #CDE7F5;
}
.task-body .task-content#task-content-info .task-info i {
  color: #5bb1dc;
}
.task-body .task-content#task-content-info > .task-head {
  background: #d9edf7;
  color: #31708f;
}
.task-body .task-content#task-content-info > .task-head > h4 i,
.task-body .task-content#task-content-info > .task-head h5 i {
  color: #31708f;
}
.task-body .task-content#task-content-info > .task-head .task-title {
  color: #31708f;
}
.task-body .task-content#task-content-info > .task-aside {
  background: #5bb1dc;
}
.task-body .task-content#task-content-info > .task-aside li a {
  color: #FFFFFF;
}
.task-body .task-content#task-content-info .task-links {
  background: #CDE7F5;
}
.task-body .task-content#task-content-info .task-input .input-group-addon {
  color: #5bb1dc;
}
.task-body .task-content#task-content-danger {
  border: 1px solid #FAE4E5;
}
.task-body .task-content#task-content-danger .task-info {
  border-bottom: 1px solid #FAE4E5;
}
.task-body .task-content#task-content-danger .task-info i {
  color: #F5BBBB;
}
.task-body .task-content#task-content-danger > .task-head {
  background: #f2dede;
  color: #a94442;
}
.task-body .task-content#task-content-danger > .task-head > h4 i,
.task-body .task-content#task-content-danger > .task-head h5 i {
  color: #a94442;
}
.task-body .task-content#task-content-danger > .task-head .task-title {
  color: #a94442;
}
.task-body .task-content#task-content-danger > .task-aside {
  background: #df6c6e;
}
.task-body .task-content#task-content-danger > .task-aside li a {
  color: #FFFFFF;
}
.task-body .task-content#task-content-danger .task-links {
  background: #FAE4E5;
}
.task-body .task-content#task-content-danger .task-input .input-group-addon {
  color: #F5BBBB;
}
.task-body .task-content#task-content-primary {
  border: 1px solid #CFF6F4;
}
.task-body .task-content#task-content-primary .task-info {
  border-bottom: 1px solid #CFF6F4;
}
.task-body .task-content#task-content-primary .task-info i {
  color: #e97436;
}
.task-body .task-content#task-content-primary > .task-head {
  background: #8de9e6;
  color: #333333;
}
.task-body .task-content#task-content-primary > .task-head > h4 i,
.task-body .task-content#task-content-primary > .task-head h5 i {
  color: #333333;
}
.task-body .task-content#task-content-primary > .task-head .task-title {
  color: #333333;
}
.task-body .task-content#task-content-primary > .task-aside {
  background: #e97436;
}
.task-body .task-content#task-content-primary > .task-aside li a {
  color: #FFFFFF;
}
.task-body .task-content#task-content-primary .task-links {
  background: #8de9e6;
}
.task-body .task-content#task-content-primary .task-input .input-group-addon {
  color: #e97436;
}
.task-body .task-content#task-content-success {
  border: 1px solid #dff0d8;
}
.task-body .task-content#task-content-success .task-info {
  border-bottom: 1px solid #E3F5D0;
}
.task-body .task-content#task-content-success .task-info i {
  color: #a0d269;
}
.task-body .task-content#task-content-success > .task-head {
  background: #dff0d8;
  color: #3c763d;
}
.task-body .task-content#task-content-success > .task-head > h4 i,
.task-body .task-content#task-content-success > .task-head h5 i {
  color: #3c763d;
}
.task-body .task-content#task-content-success > .task-head .task-title {
  color: #3c763d;
}
.task-body .task-content#task-content-success > .task-aside {
  background: #a0d269;
}
.task-body .task-content#task-content-success > .task-aside li a {
  color: #FFFFFF;
}
.task-body .task-content#task-content-success .task-links {
  background: #dff0d8;
}
.task-body .task-content#task-content-success .task-input .input-group-addon {
  color: #a0d269;
}
.task-body .task-content#task-content-warning {
  border: 1px solid #FAF6E8;
}
.task-body .task-content#task-content-warning .task-info {
  border-bottom: 1px solid #FAF6E8;
}
.task-body .task-content#task-content-warning .task-info i {
  color: #eac841;
}
.task-body .task-content#task-content-warning > .task-head {
  background: #fcf8e3;
  color: #8a6d3b;
}
.task-body .task-content#task-content-warning > .task-head > h4 i,
.task-body .task-content#task-content-warning > .task-head h5 i {
  color: #8a6d3b;
}
.task-body .task-content#task-content-warning > .task-head .task-title {
  color: #8a6d3b;
}
.task-body .task-content#task-content-warning > .task-aside {
  background: #eac841;
}
.task-body .task-content#task-content-warning > .task-aside li a {
  color: #FFFFFF;
}
.task-body .task-content#task-content-warning .task-links {
  background: #fcf8e3;
}
.task-body .task-content#task-content-warning .task-input .input-group-addon {
  color: #eac841;
}
.task-body .task-content > .task-subject {
  background: #49927B;
  height: 40px;
  color: #FFFFFF;
  padding-top: 10px;
  font-weight: bolder;
}
.task-body .task-content > .task-info {
  background: #fefefe;
  height: 80px;
  color: #949494;
  font-weight: bold;
  font-size: 12px;
  padding-top: 30px;
}
.task-body .task-content .task-info-right {
  font-size: 15px;
  line-height: 30px;
  color: #309C9C;
}
.task-body .task-content .task-input {
  padding: 0px;
  padding-bottom: 0px;
}
.task-body .task-content .task-input input {
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  border-top: 0px;
  height: 100px;
}
.task-body .task-content .task-input .input-group-addon {
  border-radius: 0px;
  background-color: #FFFFFF;
  border: 0px;
  font-size: 20px;
}
.task-body .task-content .task-input .form-group {
  margin-bottom: 0px;
}
.task-body .task-content .task-links {
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.task-body .task-content .task-links li {
  padding: 20px;
}
.task-body .task-content .task-links li a {
  color: #616364;
  font-size: 15px;
}
.task-body .task-content .task-links li a:hover {
  color: #000;
}
.create-task {
  padding-left: 15px;
  padding-right: 10px;
}
/*inbox styles*/
.mail .mail-list {
  overflow: hidden;
}
.mail .mail-list tr :first-child {
  border-top: 0px;
}
.mail .mail-list tr td {
  height: 110px;
  padding: 10px;
  border: 1px solid #dde0e8;
  border-left: 0px;
}
.mail .mail-list tr td:hover {
  background: #f9f9f9;
}
.mail .mail-list tr .mail-img {
  width: 70px;
}
.mail .mail-list tr .mail-img img {
  width: 100%;
  float: left;
  margin-left: 20px;
  border-radius: 3px;
}
.mail .mail-list tr .mail-matter {
  margin-left: 100px;
  height: 80px;
  overflow: hidden;
}
.mail .mail-list tr .mail-matter h6 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #171a21;
  font-weight: bold;
}
.mail .mail-list tr .mail-matter h6 .fa-paperclip {
  color: #dde0e8;
  font-size: 20px;
}
.mail .mail-list tr .mail-matter h5 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px !important;
  margin-bottom: 2px !important;
  color: #171a21;
  font-family: 'Droid Sans', sans-serif;
}
.mail .mail-list tr .mail-matter p {
  font-size: 12px;
  margin-top: 3px !important;
  color: #868b98;
}
/*mailbody*/
.mail-content {
  padding-left: 20px;
}
.mail-content h5 {
  font-size: 25px;
  color: #171a21;
  font-weight: bolder;
  font-family: 'Droid Sans', sans-serif;
}
.mail-content h6 {
  font-size: 14px;
  color: #171a21;
}
.mail-content P {
  color: #868b98;
  font-size: 14px !important;
}
.mail-content .mail-content-head {
  height: 80px;
}
.mail-content .mail-content-head h5 i {
  color: #b3c0c3;
  font-size: 15px;
  padding: 5px;
  padding-top: 0px;
}
.mail-content hr {
  border-width: 1px;
  border-color: #5c617b;
  opacity: 0.3;
}
.mail-content .mail-content-text {
  min-height: 300px;
}
.mail-content .mail-content-text img {
  float: left;
  padding-right: 20px;
}
.mail-content .mail-content-text a {
  color: #d04f3a;
}
.mail-content .mail-content-text h3 {
  color: #d04f3a;
  font-weight: bolder;
  font-family: 'Droid Sans', sans-serif;
}
.mail-content .attach {
  height: 80px;
  border: 1px solid #dde0e8;
  line-height: 80px;
  border-left: 0px;
  border-right: 0px;
}
.mail-content .attach .attach-files {
  padding-left: 20px;
  font-size: 15px;
  color: #495051;
  font-weight: bolder;
}
.mail-content .attach .attach-files .fa-windows {
  font-size: 30px;
  color: #e97436;
}
.mail-content .attach .attach-files .fa-apple {
  font-size: 30px;
  color: #a0d269 ;
}
.mail-content .attach .directors {
  padding-left: 50px !important;
}
.mail-content .attach .directors .fa {
  padding: 5px;
  font-size: 22px;
  color: #e7ebec;
}
.mail-content .attach .dload {
  height: 80px;
  float: right;
  margin-right: 60px;
  font-size: 30px;
  border-left: 1px solid #dde0e8;
}
.mail-content .attach .dload .fa {
  padding: 10px;
  padding-left: 20px;
  color: #b3c0c3;
}
.mail-content .messageinput {
  margin-top: 20px;
}
.mail-content .messageinput input {
  border-radius: 0px;
  border: none;
  color: #2e393b !important;
}
.mail-content .messageinput .form-control:focus {
  border-color: #dfdfd5 !important;
  box-shadow: none;
}
.mail-content .messageinput ul {
  margin-top: 10px;
  color: #d04f3a;
}
.mail-content .messageinput ul .btn {
  background: #d04f3a;
  color: #FFFFFF;
}
/***************************profile**************************************/
.profile {
  /*timeline-left*/
  /*timeline right */
  /*time-line-right*/
}
.profile .navbar-default {
  margin-bottom: 1px;
  border-radius: 0px;
}
.profile .timeline-left {
  /*timeline-posts-left*/
}
.profile .timeline-left .timeline-img {
  height: 200px;
  background: #e2e6ec;
  padding: 0px;
}
.profile .timeline-left .timeline-img img {
  width: 100%;
  height: 100%;
}
.profile .timeline-left .timeline-img-info {
  height: 200px;
  background: #fafafa;
  padding: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #71847d;
  padding-top: 30px;
}
.profile .timeline-left .timeline-img-info ul li {
  padding-bottom: 9px;
}
.profile .timeline-left .timeline-img-info .fa {
  font-size: 18px;
  color: #47544f;
  padding-right: 10px;
  padding-bottom: 5px;
}
.profile .timeline-left .timeline-img-info a:hover {
  text-decoration: none;
}
.profile .timeline-left .timeline-img-info a strong {
  color: #b13e12;
}
.profile .timeline-left .timeline-img-info a strong:hover {
  color: #832e0d;
}
.profile .timeline-left .timeline-photos {
  background: #b45226;
  background: #e2e6ec;
}
.profile .timeline-left .timeline-photos .gallery-holder {
  padding-left: 0px;
}
.profile .timeline-left .timeline-photos .gallery-holder img {
  width: 50px;
  height: 50px;
}
.profile .timeline-left hr {
  border-width: 1px;
  border-color: #d8dce1;
  margin-top: 0px;
}
.profile .timeline-left .profile-name {
  background: #fcfcfd;
  margin-bottom: 0px;
}
.profile .timeline-left .profile-name h3 {
  margin-top: 40px;
  font-weight: bolder;
  font-size: 20px;
  color: #40505a;
  padding-left: 10px;
}
.profile .timeline-left .profile-name small {
  padding-left: 10px;
  color: #98a2a8;
}
.profile .timeline-left .profile-name .pull-right i {
  font-size: 25px;
  padding-right: 20px;
  line-height: 120px;
  color: #39b0b0;
}
.profile .timeline-left .send-posts input {
  border-radius: 0px !important;
  border: 1px solid #d8dce1;
  border-bottom: 0px;
  outline: none;
  box-shadow: none;
  color: #89949b;
  height: 70px;
}
.profile .timeline-left .send-posts .send-posts-body {
  background: #eaedf1;
  height: 60px;
  padding-left: 10px;
  border: 1px solid #d8dce1;
}
.profile .timeline-left .send-posts .send-posts-body i {
  line-height: 60px;
  padding-left: 25px;
  color: #39b0b0;
  font-size: 20px;
}
.profile .timeline-left .send-posts .send-posts-body i:hover {
  color: #2d8989;
  text-decoration: none;
}
.profile .timeline-left .send-posts .send-posts-body .btn {
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 0px;
  font-weight: bolder;
  background: #39b0b0;
  outline: none !important;
  border: 0px;
  font-size: 12px;
}
.profile .timeline-left .timeline-posts-left {
  background: #fcfcfd;
  height: 520px;
  margin-top: 40px;
  border: 1px solid #d8dce1;
}
.profile .timeline-left .timeline-posts-left hr {
  border-width: 1px;
  border-color: #d8dce1;
  margin: 0px;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head {
  padding-top: 15px;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head .pull-left h3 {
  margin: 0px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bolder;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head .pull-left h3 a {
  color: #4d5b65;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head .pull-left h3 a:hover {
  color: #248a76;
  text-decoration: none;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head .pull-left small {
  padding-left: 10px;
  color: #919ba2;
  font-size: 12px;
  font-weight: bolder;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head .pull-left i {
  font-size: 12px;
  color: #2eb398;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head .pull-right p {
  padding-right: 10px;
  color: #919ba2;
  font-size: 12px;
  font-weight: bolder;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head .timeline-posts-left-img {
  width: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.profile .timeline-left .timeline-posts-left ul.timeline-head .timeline-posts-left-img img {
  width: 100%;
  border-radius: 50%;
}
.profile .timeline-left .timeline-posts-left .uploaded-image img {
  width: 100%;
  height: 300px;
}
.profile .timeline-left .timeline-posts-left .like-bar {
  height: 40px;
  background: #eaedf1;
}
.profile .timeline-left .timeline-posts-left .like-bar ul {
  margin: 0px;
}
.profile .timeline-left .timeline-posts-left .like-bar ul li a {
  font-size: 14px;
  font-weight: bolder;
  padding-left: 10px;
  color: #40505a;
  line-height: 40px;
}
.profile .timeline-left .timeline-posts-left .like-bar ul li a:hover {
  color: #2b363c;
  text-decoration: none;
}
.profile .timeline-left .timeline-posts-left .like-people {
  height: 40px;
  background: #eaedf1;
  overflow: hidden;
  margin-bottom: 0px;
}
.profile .timeline-left .timeline-posts-left .like-people ul {
  margin: 0px;
}
.profile .timeline-left .timeline-posts-left .like-people ul li a {
  font-size: 12px;
  padding-left: 10px;
  color: #40505a;
  line-height: 40px;
  font-weight: bold;
}
.profile .timeline-left .timeline-posts-left .like-people ul li a:hover {
  color: #2b363c;
  text-decoration: none;
}
.profile .timeline-left .timeline-posts-left .like-people ul .like-image {
  width: 40px;
  padding: 0px;
}
.profile .timeline-left .timeline-posts-left .like-people ul .like-image img {
  width: 100%;
}
.profile .timeline-left .timeline-posts-left input {
  border-radius: 0px !important;
  border: 0px;
  outline: none;
  box-shadow: none;
  color: #89949b;
  height: 60px;
}
.profile .timeline-right {
  padding: 0px;
  background: #1f282d;
  /*profile-map*/
}
.profile .timeline-right .profile-map {
  /*map-footer*/
}
.profile .timeline-right .profile-map img {
  width: 100%;
  height: 300px;
}
.profile .timeline-right .profile-map .map-footer {
  background: #1d282c;
  color: #d2d6d8;
  font-size: 15px;
  height: 39px;
  /*ul*/
}
.profile .timeline-right .profile-map .map-footer ul {
  margin: 0px;
}
.profile .timeline-right .profile-map .map-footer ul .pull-left {
  padding-left: 10px;
  padding-top: 10px;
}
.profile .timeline-right .profile-map .map-footer ul .pull-right {
  padding: 0px;
}
.profile .timeline-right .profile-map .map-footer ul .pull-right .fa-search-plus {
  background: #39b0b0;
  padding: 12px;
  color: #ffffff;
}
.profile .timeline-right .profile-map .map-footer ul .pull-right .fa-search-plus:hover {
  color: #15483e;
}
.profile .timeline-right .profile-map .map-footer ul .pull-right .fa-search-minus {
  background: #3f9999;
  padding: 12px;
  color: #ffffff;
}
.profile .timeline-right .profile-map .map-footer ul .pull-right .fa-search-minus:hover {
  color: #15483e;
}
.profile .timeline-right .timeline-right-options {
  background: #eaedf1;
  height: 80px;
  text-align: center;
  padding-top: 20px;
  border: 1px solid  #d8dce1;
  font-size: 15px;
  font-weight: bold;
  color: #40505a;
  font-family: 'Open Sans', sans-serif;
}
.profile .timeline-right .timeline-right-posts h3 {
  color: #919ba2;
  font-size: 12px;
  font-weight: bolder;
}
.profile .timeline-posts-right {
  background: #fcfcfd;
  height: 400px;
}
.profile .timeline-posts-right hr {
  border-width: 1px;
  border-color: #d8dce1;
  margin: 0px;
}
.profile .timeline-posts-right ul.timeline-head {
  padding-top: 15px;
}
.profile .timeline-posts-right ul.timeline-head .pull-left h3 {
  margin: 0px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bolder;
}
.profile .timeline-posts-right ul.timeline-head .pull-left h3 a {
  color: #4d5b65;
}
.profile .timeline-posts-right ul.timeline-head .pull-left h3 a:hover {
  color: #248a76;
  text-decoration: none;
}
.profile .timeline-posts-right ul.timeline-head .pull-left small {
  padding-left: 10px;
  color: #919ba2;
  font-size: 12px;
  font-weight: bolder;
}
.profile .timeline-posts-right ul.timeline-head .pull-left i {
  font-size: 12px;
  color: #2eb398;
}
.profile .timeline-posts-right ul.timeline-head .pull-right p {

  padding-right: 10px;
  color: #919ba2;
  font-size: 12px;
  font-weight: bolder;
}
.profile .timeline-posts-right ul.timeline-head .timeline-posts-left-img {
  width: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.profile .timeline-posts-right ul.timeline-head .timeline-posts-left-img img {
  width: 100%;
  border-radius: 50%;
}
.profile .timeline-posts-right .uploaded-image img {
  width: 100%;
  height: 200px;
}
.profile .timeline-posts-right .like-bar {
  height: 40px;
  background: #eaedf1;
}
.profile .timeline-posts-right .like-bar ul {
  margin: 0px;
}
.profile .timeline-posts-right .like-bar ul li a {
  font-size: 14px;
  font-weight: bolder;
  padding-left: 10px;
  color: #40505a;
  line-height: 40px;
}
.profile .timeline-posts-right .like-bar ul li a:hover {
  color: #2b363c;
  text-decoration: none;
}
.profile .timeline-posts-right .like-people {
  height: 40px;
  background: #eaedf1;
  overflow: hidden;
}
.profile .timeline-posts-right .like-people ul {
  margin: 0px;
}
.profile .timeline-posts-right .like-people ul li a {
  font-size: 12px;
  padding-left: 10px;
  color: #40505a;
  line-height: 40px;
  font-weight: bold;
}
.profile .timeline-posts-right .like-people ul li a:hover {
  color: #2b363c;
  text-decoration: none;
}
.profile .timeline-posts-right .like-people ul .like-image {
  width: 40px;
  padding: 0px;
}
.profile .timeline-posts-right .like-people ul .like-image img {
  width: 100%;
}
.profile .timeline-posts-right input {
  border-radius: 0px !important;
  border: 0px;
  outline: none;
  box-shadow: none;
  color: #89949b;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.image-crop {
  width: 100%;
}
/************************elfinder*******************/
.elfinder-button {
  padding-top: 0px !important;
  padding-left: 0px !important;
  border: 1px solid #e6e4e4!important;
  background: #f7f6f6;
  height: 30px !important;
  width: 30px !important;
}
.elfinder-toolbar {
  background: #e6e4e4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.ui-widget-header {
  background: #e6e4e4;
}
.elfinder-toolbar-button-separator {
  display: ;
}
.ui-helper-clearfix .ui-widget-content .ui-state-default {
  padding: 0px !important;
}
.ui-helper-clearfix .ui-widget-content .ui-state-default .elfinder-button-icon {
  margin: 5px auto;
}
.ui-helper-clearfix .ui-widget-content .ui-state-default .elfinder-button-icon .elfinder-buttonset {
  border: none;
}
/*my-contact*/
.my-contact .contact-right-content .right-content .btn-success {
  margin-left: 15px;
  padding: 10px;
  border-radius: 2px;
  font-size: 12px;
}
.my-contact .contact-right-content .right-content .btn-default {
  padding: 10px;
  border-radius: 2px;
  font-size: 14px;
}
.my-contact .contact-right-content .right-contact-info .info-holders {
  padding: 10px;
  padding-left: 0px;
  font-size: 14px;
  color: #807F7F;
}
.my-contact .contact-right-content .right-contact-info .info-holders i {
  color: #6B898A;
}
.my-contact .contact-right-content .right-contact-info .info-holders i:hover {
  color: #283334;
}
.my-contact .contact-right-content .right-contact-info .info-holders .info-img {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}
.my-contact .contact-right-content .right-contact-info .info-holders .info-img img {
  width: 100%;
  height: 100%;
}
.my-contact .contact-left-content .feed-head {
  padding: 20px;
  border: 1px solid #9BA7A7;
  background: #e3e5e6;
  color: #3E4040;
  font-weight: bold;
}
.my-contact .contact-left-content .feed-block {
  border: 1px solid #9BA7A7;
  border-top: none;
  padding-top: 10px;
  font-size: 14px;
  color: #807F7F;
  padding-bottom: 10px;
}
.my-contact .contact-left-content .feed-block li:last-child {
  color: #cfcfcf;
}
.my-contact .contact-left-content .feed-block a {
  color: #ff6600;
}
.my-contact .contact-left-content .feed-block a:hover {
  color: #b34700;
  text-decoration: none;
}
.my-contact .contact-left-content .feed-block .image-holder img {
  width: 100%;
}
.my-contact .contact-left-content .feed-panels {
  border: 1px solid #9BA7A7;
  margin-top: 20px;
  padding-bottom: 10px;
}
.my-contact .contact-left-content .feed-panels .feed-import {
  background: #e3e5e6;
  font-size: 14px;
  padding: 10px;
  color: #3E4040;
  font-weight: bold;
}
.my-contact .contact-left-content .feed-panels p {
  text-align: center;
  padding: 5px;
  padding: 15px;
}
.my-contact .contact-left-content .feed-panels .btn-success {
  border-radius: 2px;
}
.realtime-bar {
  margin-left: 0px !important;
}
.image-crop {
  width: 100%;
}
.icheck-buttons li {
  padding-bottom: 5px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 25px;
}
/*profile*/
/*profile*/
/*general elements*/
.list-todo {
  margin-bottom: 0px;
}
.list-todo .list-group-item {
  height: 50px;
}
.list-todo .list-group-item i.finish {
  font-size: 16px;
  cursor: pointer;
}
.list-todo .list-group-item i.finish:hover {
  color: #6cadd1;
}
.list-todo .list-group-item.finished {
  background: #eeeeee;
  opacity: 0.25;
  -webkit-transition: 0.3s ease-in;
}
.list-todo .list-group-item.finished span {
  text-decoration: line-through;
}
.list-todo .list-group-item:last-child {
  border-bottom: 0px;
}
#elementForm legend {
  font-size: 16px;
}
/*Demo glyphicons*/
.bs-glyphicons .glyphicon {
  padding-right: 10px;
}
.glyphicons-icon-list {
  margin-top: 22px;
}
.glyphicons-icon-list .icon {
  display: block;
  color: #222;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
}
.glyphicons-icon-list .icon .glyphicon {
  width: 32px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.glyphicons-icon-list .icon:hover {
  background-color: #ececec;
  color: #000;
  text-decoration: none;
}
/************************************tree view***********************************/
.tree {
  border: none;
}
.tree .parent {
  background: #65bd77;
  color: #ffffff;
  border: 1px solid #65bd77;
}
.tree .parent:hover {
  background: #53b567 !important;
  border: 1px solid #65bd77 !important;
  color: #ffffff !important;
}
.tree .child {
  background: #ffbc1a;
  color: #ffffff;
  border: 1px solid #ffbc1a;
}
.tree .child:hover {
  background: #ffb500 !important;
  border: 1px solid #ffbc1a !important;
  color: #ffffff !important;
}
.tree .grandchild {
  background: #fa6251;
  color: #ffffff;
  border: 1px solid #fa6251;
}
.tree .grandchild:hover {
  background: #f94c38 !important;
  border: 1px solid #fa6251 !important;
  color: #ffffff !important;
}
.tree .great-grandchild {
  background: #5798fb;
  color: #ffffff;
  border: 1px solid #5798fb;
}
.tree .great-grandchild:hover {
  background: #3e89fa !important;
  border: 1px solid #5798fb !important;
  color: #ffffff !important;
}
.tree .greatgrand-grandchild {
  background: #85b6fe;
  color: #ffffff;
  border: 1px solid #85b6fe;
}
.tree .fa-folder-open {
  color: #ffffff;
}
.tree li span {
  border-radius: 3px !important;
}
/* Nestable Lists Custom
---------------------------------------------------------------------------------------------- */
#nestable-menu {
  margin: 0px !important;
}
.dd-handle {
  border-left: 6px solid #000000;
}
.dd-handle.success {
  border-left: 6px solid #48C9B0;
}
.dd-handle.info {
  border-left: 6px solid #3498DB;
}
.dd-handle.warning {
  border-left: 6px solid #F5D313;
}
.dd-handle.danger {
  border-left: 6px solid #E74C3C;
}
.dd-handle.drag-success {
  background-color: #48C9B0;
  border: none;
}
.dd-handle.drag-info {
  background-color: #3498DB;
  border: none;
}
.dd-handle.drag-warning {
  background-color: #F5D313;
  border: none;
}
.dd-handle.drag-danger {
  background-color: #E74C3C;
  border: none;
}
/*	Charts
---------------------------------------------------------------------------------------------- */
.graph {
  height: 350px;
}
.realtime-bar {
  height: 350px;
}
.realtime-bar svg {
  padding-left: 0px;
}
#chart1,
#donuts-holder {
  height: 350px;
  background: #f9f9f9;
}
#test1 {
  height: 350px;
}
.realtime-bar {
  height: 350px;
  margin-left: -80px;
}
#chart1 svg {
  height: 350px;
}
#chart4 svg,
#chart5,
#pieOne,
#pieTwo,
#flotOne,
#nvdLive,
#flotTwo,
#flotThree {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
  /*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
  */
}
#placeholder {
  height: 400px;
}
.switches-table {
  margin-bottom: 0px!important;
  margin-left: 20px;
}
.switches-table tr td {
  border-top: 0px !important;
  padding: 10px !important;
}
.switches-table tr td strong {
  color: #a7acae;
}
.switches-table tr td input {
  outline: none;
}
.extended-zoom .alert-info {
  padding: 10px !important;
  margin-left: 10px;
}
.extended-zoom p {
  margin-left: 20px;
  margin-right: 20px;
  background: #faebcc;
}
.extended-zoom .demo-image {
  margin-bottom: 10px;
}
/**** galaxyy theme ***/
#hovermenu {
  width: 230px;
  height: 230px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hm-btn {
  width: 110px;
  height: 110px;
  /*overflow: hidden;*/
  position: absolute;
  cursor: pointer;
}
.hm-pie {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hm-btn.active .hm-pie {
  border-color: #09c;
}
.hm-btn.tl {
  top: 0;
  left: 0;
}
.hm-btn.tr {
  top: 0;
  right: 0;
}
.hm-btn.bl {
  left: 0;
  bottom: 0;
}
.hm-btn.br {
  right: 0;
  bottom: 0;
}
/***********************************
ANIMATIONS
***********************************/
.hm-btn {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
#hovermenu.initial .hm-btn {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
#hovermenu.initial {
  margin-top: -300px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=0);
  opacity: 0;
}
#hovermenu.initial .hm-btn.tl {
  top: 5px;
  left: 5px;
}
#hovermenu.initial .hm-btn.tr {
  top: 5px;
  right: 5px;
}
#hovermenu.initial .hm-btn.bl {
  left: 5px;
  bottom: 5px;
}
#hovermenu.initial .hm-btn.br {
  right: 5px;
  bottom: 5px;
}
/***********************************/
.hm-btn.tr .hm-pie {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -100%;
}
.hm-btn.bl .hm-pie {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  top: -100%;
}
.hm-btn.br .hm-pie {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  top: -100%;
  left: -100%;
}
.hm-pie {
  width: 30px;
  height: 30px;
  border-radius: 100% !important;
  border: 109px solid rgba(0, 0, 0, 0.7);
  background: transparent;
  clip: rect(-12px, 110px, 110px, -10px);
  position: absolute;
  color: #fff;
}
.hm-text {
  position: relative;
  display: block;
  font-size: 10px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.hm-btn.tr .hm-text,
.hm-btn.tl .hm-text {
  margin-top: 50px;
}
.hm-text i {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
/* Invoice Page
---------------------------------------------------------------------------------------------- */
.invoice-main .btn-info {
  background: #5bc0de !important;
}
.invoice-main h1,
.invoice-main h2,
.invoice-main h3,
.invoice-main h4,
.invoice-main h5,
.invoice-main p {
  font-family: 'Lato', sans-serif;
  color: #333;
}
.invoice-main .table > thead > tr > th,
.invoice-main .table > tbody > tr > th,
.invoice-main .table > tfoot > tr > th,
.invoice-main .table > thead > tr > td,
.invoice-main .table > tbody > tr > td,
.invoice-main .table > tfoot > tr > td {
  border: 1px solid #f8f8f8 !important;
}
.invoice-main .table > thead > tr > th,
.invoice-main .table > tbody > tr > th,
.invoice-main .table > tfoot > tr > th,
.invoice-main .table > thead > tr > td {
  border: 0px !important;
  border-color: none !important;
}
.invoice-main .fa,
.invoice-main strong {
  color: #5bc0de;
}
.invoice-main thead {
  background: #5bc0de;
  color: #FFFFFF;
}
.invoice-main .pay-tab {
  border-left: 1px solid #e0e0e0;
}
.invoice-main .pay-tab .pay-tab-bold {
  font-weight: bold;
}
.invoice-main .invoice-head {
  padding-bottom: 25px;
}
.invoice-main .invoice-head .btn {
  border-radius: 0px;
}
.invoice-main .panel-invoice > .panel-heading a {
  width: 60px;
}
.invoice-main .invoice-from {
  width: 90px;
}
.invoice-main .invoice-from img {
  width: 100%;
  border: 1px solid #333;
  padding: 2px;
  border-radius: 3px;
}
.invoice-main .invoice-actions {
  background: #fafafa;
  padding: 5px;
  color: #a0d269 !important;
  border-left: 1px solid #a0d269;
  border-right: 1px solid #a0d269;
  text-align: center;
}
.invoice-main .closed-invoice {
  background: #fafafa;
  padding: 5px;
  color: #df6c6e !important;
  border-left: 1px solid #df6c6e;
  border-right: 1px solid #df6c6e;
  text-align: center;
}
/*******************************Login Page****************************/
.login-page .header-section {
  min-height: 50px;
  padding: 10px 80px;
}
.login-page .header-section img {
  height: 60px;
}
.login-page .header-section .menu {
  float: right;
}
.login-page .header-section .menu > li {
  list-style: none;
  display: inline-block;
  line-height: 40px;
  padding: 0px 10px;
  font-family: 'Open Sans', sans-serif;
}
.login-page .header-section .menu > li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #294e68;
}
.login-page .header-section .menu > li a:hover {
  color: #40647d;
}
.login-page .form-section {
  min-height: 520px;
  background: url("../images/logins.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-page .form-section .form-inputs {
  float: right;
  margin-top: 200px;
}
.login-page .form-section .form-inputs h4 {
  color: #a9eeff;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
.login-page .form-section .form-inputs .input-group {
  width: 300px;
  margin-bottom: 30px;
}
.login-page .form-section .form-inputs .input-group .form-control {
  border-right: 0px !important;
}
.login-page .form-section .form-inputs .input-group .form-control:focus {
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}
.login-page .form-section .form-inputs .input-group .input-group-addon {
  background: #ffffff;
  border-left: none;
}
.login-page .form-section .form-inputs .input-group .input-group-addon i {
  color: #cfcfcf;
}
.login-page .form-section .form-inputs .square-input {
  margin-top: 10px;
}
.login-page .form-section .form-inputs .check-text {
  color: #b0deee;
  font-family: 'Open Sans', sans-serif;
}
.login-page .form-section .btn {
  outline: none;
  padding: 5px 40px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.login-page .form-section h5 {
  text-align: center;
  margin-top: 35px;
}
.login-page .form-section h5 a {
  color: #c4f3ff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.login-page .footer {
  min-height: 20px;
  margin: 0px;
  line-height: 20px;
  padding: 0px 80px;
}
.login-page .footer p {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #919191;
}
.login-page .footer p > a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #676767;
}
.login-page .footer ul li {
  display: inline;
  padding-left: 25px;
}
.login-page .footer ul li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #919191;
}
.login-page .sign-in {
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid #294d67 !important;
  font-family: 'Open Sans', sans-serif;
}
.login-page .register-btn {
  padding: 5px 20px !important;
}
@media (max-width: 480px) {
  .login-page .header-section {
    padding: 10px 10px !important;
    height: 80px;
  }
  .login-page .header-section .menu {
    float: right;
  }
  .login-page .header-section .menu > li {
    line-height: 0px !important;
  }
  .login-page .form-section .form-inputs .input-group {
    width: 250px;
  }
  .login-page .footer {
    padding: 10px 10px;
  }
  .login-page .footer p {
    line-height: 15px;
  }
  .login-page .footer ul {
    padding-left: 0px !important;
  }
}
/*buttons customization*/
.btn-primary {
  background-color: #e97436 !important;
}
.btn-danger {
  background-color: #DF4F4E !important;
  color: #FFFFFF!important;
}
.btn-warning {
  background-color: #EAA559 !important;
  color: #FFFFFF!important;
}
.btn-success {
  background-color: #33A60A !important2
	color: #FFFFFF!important;
}
.btn-info {
  background-color: #1693D2 !important;
  color: #FFFFFF!important;
}
.buttons-page .btn {
  margin: 5px;
}
.buttons-page .dropdown-fix .btn {
  margin: 0px !important;
  padding: 5px;
}
.buttons-page .dropdown-fix .btn-group {
  margin-bottom: 5px;
}
.buttons-page .buttons-page-select {
  margin-bottom: 10px !important;
}
/*dashboard-calender*/
.calendar-dashboard {
  font-family: 'Lato', sans-serif;
}
.calendar-dashboard .calendar-head {
  background: #6dc5dd;
  color: #FFFFFF;
  height: 80px;
}
.calendar-dashboard .calendar-head a {
  color: #FFFFFF;
}
.calendar-dashboard .calendar-head .fa-angle-right {
  position: absolute;
  right: 10%;
  top: 8%;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
}
.calendar-dashboard .calendar-head .fa-angle-left {
  position: absolute;
  left: 10%;
  top: 8%;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
}
.calendar-dashboard .calendar-head h4 {
  padding-top: 30px;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 300;
  margin-top: 0px;
}
.calendar-dashboard .calendar-head p {
  font-size: 16px;
  background: #5ab2ca;
  width: 90px;
  padding: 3px 5px;
  margin: 0px auto;
  border-radius: 15px;
}
.calendar-dashboard .table {
  padding: 5px;
  margin-top: 30px !important;
  padding-bottom: 10px;
}
.calendar-dashboard .table a {
  font-size: 12px ;
  cursor: pointer;
}
.calendar-dashboard .table a.current {
  background-color: #5ab2ca;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px 7px;
}
.calendar-dashboard .table a .event {
  font-size: 8px;
  display: block;
}
.calendar-dashboard .table a:hover {
  text-decoration: none;
}
.calendar-dashboard .table thead {
  font-weight: bold;
}
.calendar-dashboard .table td {
  padding: 6px;
  text-align: center;
}
.calendar-dashboard .table > thead > tr > th,
.calendar-dashboard .table > tbody > tr > th,
.calendar-dashboard .table > tfoot > tr > th,
.calendar-dashboard .table > thead > tr > td,
.calendar-dashboard .table > tbody > tr > td,
.calendar-dashboard .table > tfoot > tr > td {
  border-top: 0px solid #dddddd;
}
.mini-chat-panel,
.mini-chat-panel.panel-primary,
.mini-chat-panel.panel-danger,
.mini-chat-panel.panel-info,
.mini-chat-panel.panel-success {
  border: none;
}
.chat-menu .chat-tabs {
  font-family: 'Lato', sans-serif;
  height: 50px;
  margin-bottom: 0px;
  background-color: #df6c6e;
  border-bottom: 1px solid #d9deec;
}
.chat-menu .chat-tabs li {
  padding-left: 15px;
}
.chat-menu .chat-tabs li a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 50px;
  font-weight: normal;
}
.chat-menu .chat-notifications {
  background: #FFFFFF;
  height: 265px;
  overflow: auto;
  margin-bottom: 0px;
  padding: 0px;
  padding-left: 10px;
}
.chat-menu .chat-notifications .chat-message {
  background-color: #eeeeee;
  height: 60px;
}
.chat-menu .chat-notifications li {
  min-height: 60px;
  margin-bottom: 10px;
}
.chat-menu .chat-notifications li .avatar {
  float: left;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  border: 2px solid #e0e4ee;
}
.chat-menu .chat-notifications li .avatar img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.chat-menu .chat-notifications li .message {
  font-family: 'Lato', sans-serif;
  color: #b9e8f6;
  margin-left: 60px;
  padding: 4px;
  font-size: 14px;
}
.chat-menu .chat-notifications li .time {
  margin-left: 60px;
  color: #c4c9d5;
  font-size: 10px;
}
.chat-menu .chat-notifications li:before {
  /* lines */
  content: "";
  position: absolute;
  left: 24px;
  /* adjust manually */
  border-left: 2px solid #e0e4ee;
  height: 100%;
  width: 1px;
  z-index: 0;
}
.chat-menu .chat-notifications li:first-child:before {
  /* first li's line */
  top: 6px;
  /* moves the line down so that it disappears under the bullet. Adjust manually */
}
.chat-menu .chat-notifications li:last-child:before {
  /* last li's line */
  height: 0px;
  /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}
.chat-menu .chat-notifications li:nth-child(even) .message {
  color: #6d7473;
  font-weight: normal;
}
.chat-menu .chat-notifications li:nth-child(odd) .message {
  color: #bfc5d8;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}
.message-group {
  border-radius: 0px;
}
.message-group .form-control,
.message-group .btn {
  height: 40px;
  border-radius: 0px;
  border-width: 1px;
  border-color: #d8dce4;
}
.message-group .form-control:focus,
.message-group .btn:focus {
  box-shadow: none;
}
.message-group .btn {
  width: 100px;
  background: #FFFFFF !important;
  border-color: #d8dce4;
  color: #b1b2b4 !important;
}
/***************************Delighted-ticker************************/
#vertical-ticker {
  height: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid #95a1b5;
  padding: 0px 20px;
  background: #ffffff;
}
#vertical-ticker li {
  padding: 35px 20px;
  display: block;
  background: #FFFFFF;
  color: #333;
  border-bottom: 1px solid #95a1b5;
  text-align: center;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}
/*	Charts
---------------------------------------------------------------------------------------------- */
.graph {
  height: 350px;
}
.realtime-bar {
  height: 350px;
  margin-left: -80px;
}
#chart1,
#donuts-holder {
  height: 350px;
  background: #f9f9f9;
}
#test1 {
  height: 350px;
}
.realtime-bar {
  height: 350px;
  margin-left: -80px;
}
#chart1 svg {
  height: 350px;
}
#chart4 svg,
#chart5,
#pieOne,
#pieTwo,
#flotOne,
#nvdLive,
#flotTwo,
#flotThree {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
  /*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
  */
}
#canvas {
  width: 100% !important;
  height: 300px !important;
}
#canvas_parent {
  height: 300px;
  margin-bottom: 20px;
}
#canvas_bar_parent {
  height: 400px;
  margin-bottom: 20px;
}
@media (max-width: 1300px) {
  .web-stats .value {
    font-size: 16px !important;
  }
}
/* Sliders overwrite
---------------------------------------------------------------------------------------------- */
.table-sliders .default td {
  padding: 20px;
}
.ui-slider-range {
  background: #e97436;
  border-color: none;
}
.ui-slider-handle {
  border-color: #87ceeb !important;
  width: 24px;
  height: 24px;
  background: #fafafa !important;
  border-radius: 10px;
  border: 1px solid #87ceeb;
}
.ui-slider-handle:focus {
  outline: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #d8ebf3;
}
#red,
#green,
#blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#swatch {
  width: 120px;
  height: 100px;
  margin-top: 18px;
  margin-left: 350px;
  background-image: none;
}
#red .ui-slider-range {
  background: #df6c6e;
}
#red .ui-slider-handle {
  border-color: #df6c6e !important;
}
#green .ui-slider-range {
  background: #a0d269;
}
#green .ui-slider-handle {
  border-color: #a0d269 !important;
}
#blue .ui-slider-range {
  background: #6cadd1;
}
#blue .ui-slider-handle {
  border-color: #6cadd1 !important;
}
#eq span {
  height: 120px;
  float: left;
  margin: 15px;
  background: #f4f4f4;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #FFFFFF !important;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body a {
  text-decoration: none !important;
}
.panel-group .panel,
.panel-group .panel-primary {
  margin-bottom: 10px;
}
.panel-group .panel .panel-heading,
.panel-group .panel-primary .panel-heading {
  border-top-color: #FFFFFF;
  background-color: #FFFFFF;
}
.panel-group .panel .panel-heading a,
.panel-group .panel-primary .panel-heading a {
  color: #b1b2b4;
  font-weight: normal;
}
/* Demo purpose only
---------------------------------------------------------------------------------------------- */
#animateTest {
  position: fixed;
  z-index: 1000;
}
.animate-demo-buttons {
  margin-top: 100px;
}
.demo-input-group {
  margin-top: 10px;
}
.btn-animate-demo {
  margin-top: 10px;
}
/* Gritter Custom classes
---------------------------------------------------------------------------------------------- */
#gritter-notice-wrapper {
  top: 90px;
}
/* contextual gritters  */
.success .gritter-item,
.success .gritter-top,
.success .gritter-bottom {
  background: none;
  background-color: #5CB85C !important;
}
.info .gritter-item,
.info .gritter-top,
.info .gritter-bottom {
  background: none;
  background-color: #5BC0DE;
}
.danger .gritter-item,
.danger .gritter-top,
.danger .gritter-bottom {
  background: none;
  background-color: #D9534F;
}
.warning .gritter-item,
.warning .gritter-top,
.warning .gritter-bottom {
  background: none;
  background-color: #F0AD4E;
}
/**************info-boxes****************/
.info-boxes-seagreen {
  background: #e97436;
  color: #e97436;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
}
.info-boxes-orange {
  background: #e97436;
  color: #e97436;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
}
.info-boxes-green {
  background: #85bc18;
  color: #85bc18;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
}
.info-boxes-yellow {
  background: #ffcc33;
  color: #ffcc33;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
}
.info-boxes-red {
  background: #e97436;
  color: #e97436;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
}
.info-boxes-purple {
  background: #c969c9;
  color: #c969c9;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
}
.info-page .info-left {
  min-height: 110px;
  width: 88%;
  background: #FFFFFF;
}
.info-page .info-left ul {
  margin-top: 4%;
  margin-left: 10%;
}
.info-page .info-left ul i {
  font-size: 50px;
}
.info-page .info-left ul p {
  color: #6a6a6a;
  display: block;
  font-size: 14px;
}
.info-page .info-right {
  min-height: 110px;
  width: 12%;
  text-align: center;
}
.info-page .info-right li > a > i {
  margin-top: 30%;
  color: #FFFFFF;
  font-size: 25px;
}
.info-page .info-boxes-medium .small-left {
  min-height: 110px;
  width: 20%;
  background: #e97436;
  text-align: center;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
}
.info-page .info-boxes-medium .small-left i {
  font-size: 50px;
  margin-top: 25%;
  color: #FFFFFF;
}
.info-page .info-boxes-medium .small-right {
  height: 110px;
  background: #FFFFFF;
  width: 80%;
  padding-top: 7%;
  padding-left: 3%;
  color: #e97436;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
}
.info-page .info-boxes-medium .small-right p {
  color: #6a6a6a;
  display: block;
  font-size: 14px;
}
.info-page .info-boxes-medium .small-right > li > a > i {
  font-size: 20px;
  padding: 10px;
}
.info-page .info-boxes-medium.seagreen .small-left {
  background: #e97436;
}
.info-page .info-boxes-medium.seagreen .small-right {
  color: #e97436;
}
.info-page .info-boxes-medium.green .small-left {
  background: #85bc18;
}
.info-page .info-boxes-medium.green .small-right {
  color: #85bc18;
}
.info-page .info-boxes-medium.red .small-left {
  background: #e97436;
}
.info-page .info-boxes-medium.red .small-right {
  color: #e97436;
}
.info-page .info-boxes-medium.purple .small-left {
  background: #c969c9;
}
.info-page .info-boxes-medium.purple .small-right {
  color: #c969c9;
}
.info-page .info-boxes-medium.yellow .small-left {
  background: #ffcc33;
}
.info-page .info-boxes-medium.yellow .small-right {
  color: #ffcc33;
}
.info-page .info-boxes-medium.orange .small-left {
  background: #e97436;
}
.info-page .info-boxes-medium.orange .small-right {
  color: #e97436;
}
.info-page .square-info {
  -webkit-box-shadow: 0px 0px 2px 0px #cec8c8;
  -moz-box-shadow: 0px 0px 2px 0px #cec8c8;
  box-shadow: 0px 0px 2px 0px #cec8c8;
  background: #FFFFFF;
}
.info-page .square-info i {
  font-size: 30px;
  color: #e97436;
}
.info-page .square-info h3 {
  background: #383733;
  padding: 40px;
  color: #d8d8d8;
}
.info-page .square-info .square-icon {
  background: #e97436;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: -35px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Opera, Chrome, and Safari */
}
.info-page .square-info .square-icon i {
  font-size: 40px;
  padding: 3px 8px;
  color: #FFFFFF;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Opera, Chrome, and Safari */
}
.info-page .square-info .square-icon i:hover {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Opera, Chrome, and Safari */
}
.info-page .square-info:hover .square-icon i {
  transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  /* IE 9 */
  -webkit-transform: rotate(315deg);
  /* Opera, Chrome, and Safari */
}
.info-page .square-info p {
  text-align: left !important;
  padding-left: 10px;
  padding-top: 10px;
}
.info-page .square-info.seagreen .square-icon {
  background: #e97436;
}
.info-page .square-info.green .square-icon {
  background: #85bc18;
}
.info-page .square-info.red .square-icon {
  background: #e97436;
}
.info-page .square-info.purple .square-icon {
  background: #c969c9;
}
.info-page .square-info.yellow .square-icon {
  background: #ffcc33;
}
.info-page .square-info.orange .square-icon {
  background: #e97436;
}
/****************************************404 page*******************************/
.error-page {
  text-align: center;
}
.error-page i {
  font-size: 170px;
  margin-top: 50px;
  color: #c1c0c0;
}
.error-page h1 {
  font-size: 90px;
  color: #c1c0c0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0px;
}
.error-page h3 {
  color: #c1c0c0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.error-page p {
  color: #c1c0c0;
  font-family: 'Open Sans', sans-serif;
}
/****************************************User menu options*******************************/
.right-sidebar-holder {
  border-left: 1px solid #dddddd;
}
.right-sidebar-holder .panel-group .panel {
  border: none !important;
  margin: 0px;
  border-radius: 0px;
}
.right-sidebar-holder .panel-group .panel .panel-heading {
  border: none;
  background-color: #fafafa;
  color: #FFFFFF !important;
}
.right-sidebar-holder .panel-group .panel .panel-heading h4 a {
  color: #808080;
  font-family: 'Droid Sans', sans-serif !important;
  font-size: 14px;
}
/**************************************** Contact List *******************************/
.contact-list {
  margin: 0px;
}
.contact-list .chat-user-avatar {
  width: 35px;
  border-radius: 50%;
  float: left;
}
.contact-list .contact-info {
  margin-left: 40px;
  height: 35px;
}
.contact-list .contact-info .name {
  display: block;
}
.contact-list .contact-info .status {
  font-size: 10px !important;
  font-family: 'Lato', sans-serif;
  opacity: 0.7;
}
.contact-list .contact-info .fa {
  float: right;
  margin-top: -5px;
}
.contact-list .contact-info .fa.online {
  opacity: 1;
  color: #a0d269;
}
.contact-list .contact-info .fa.offline {
  opacity: 1;
  color: #e97436;
}
.contact-list .contact-info .fa.busy {
  opacity: 1;
  color: #df6c6e;
}
.contact-list .list-group-item {
  border: 0px;
  cursor: pointer;
}
.no-padding {
  padding: 0px !important;
}
.live-pie-chart {
  width: 200;
}
.live-pie-chart .user-canvas,
.live-pie-chart .user-canvas-two {
  margin: 0px auto;
}
.top-side-fixed .left-sidebar {
  position: fixed;
}
.top-side-fixed .content {
  margin-top: 60px !important;
}
.navbar-fixed-top {
  border-bottom: 1px solid #f1f1f1 !important;
  /***********gallery hover optiions*********************/
}
.navbar-fixed-top .gallery a {
  display: none;
}
/*jsplash styles*/
@media (max-width: 700px) {
  #jSplash {
    margin-top: 0px !important;
  }
  #jSplash img {
    width: 150px;
    margin-bottom: 0px !important;
  }
  #jSplash h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }
}
#jSplash h2 {
  font-family: 'Open Sans', sans-serif;
}
