<div class="row grid">

    <div class="col-md-12 bg-white" id="div_1">
        <div class="panel-heading">                        
        </div>
        <div class="panel-body nopadding">
            <div class="profile">


    <!-- navbar -->
    <div class="timeline-left col-md-12">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"><i class="fa fa-glass"></i> Glass</a>
                    </div>

                  <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Profile</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Friends</a></li>
                        <li><a href="#">Status</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Password</a></li>
                            <li><a href="#">user action</a></li>
                            <li><a href="#">Events</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Pages</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Shake</a></li>
                          </ul>
                        </li>
                      </ul>
                      
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Recent</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign out <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Uploads</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Emails</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Head</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
            </nav>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-4 col-xs-4 timeline-img">
                    <img src="../images/profiles/one.png" alt="">
                </div>
                <div class="col-md-8 col-xs-8 timeline-img-info">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i> Working as <a href="#"><strong>Webdevelepor</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <a href="#"><strong>Chicago</strong></a></li>
                        <li><i class="fa fa-edit"></i>Schooling manhattan-reford</li>
                        <li><i class="fa fa-rss-square"></i> Followed By 4459</li>
                        <li><i class="fa fa-ellipsis-h"></i>  <a href="#">More...</a></li>
                    </ul>
                </div>
                <!-- col-md-6 -->
                <div class="col-md-12 nopadding"> 
                    <div class="timeline-photos">
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/one.png" data-lightbox="image-1" title="Image"><img src="../images/profiles/one.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/two.png" data-lightbox="image-2" title="Image"><img src="../images/profiles/two.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/eight.png" data-lightbox="image-3" title="Image"><img src="../images/profiles/eight.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/nine.png" data-lightbox="image-4" title="Image"><img src="../images/profiles/nine.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/ten.png" data-lightbox="image-5" title="Image"><img src="../images/profiles/ten.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/twelve.png" data-lightbox="image-6" title="Image"><img src="../images/profiles/twelve.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/one.png" data-lightbox="image-7" title="Image"><img src="../images/profiles/one.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/two.png" data-lightbox="image-8" title="Image"><img src="../images/profiles/two.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/eight.png" data-lightbox="image-9" title="Image"><img src="../images/profiles/eight.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/nine.png" data-lightbox="image-10" title="Image"><img src="../images/profiles/nine.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/eight.png" data-lightbox="image-11" title="Image"><img src="../images/profiles/eight.png" alt=""></a></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 gallery-holder"><a href="images/profiles/nine.png" data-lightbox="image-12" title="Image"><img src="../images/profiles/nine.png" alt=""></a></div>
                        
                    </div>
                </div>
          <!-- col-md-6 -->
        
                <div class="col-md-12">
                    <ul class="list-unstyled profile-name">
                     <li class="pull-left "><h3>Bootstrapguru</h3><small><i class="fa fa-map-marker"></i> Canada Hamilton</small></li>
                     <li class="pull-right"><a href="#"><i class="fa fa-users"></i></a></li>
                     <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i></a></li>
                     </ul> 
                 </div>
            
             

             <div class="send-posts">
                <input type="text" class="form-control" id="comment4" placeholder="Update your Status">
                <div class="send-posts-body">
                    <ul class="list-unstyled">
                        <li class="pull-left"><a href="#"><i class="fa fa-map-marker"></i></a></li>
                        <li class="pull-left"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                        <li class="pull-right"><a href="#" class="btn btn-success">SEND</a></li>
                    </ul>
                </div>
            </div>

            <div class="timeline-posts-left">
                <ul class="list-unstyled timeline-head">
                    <li class="pull-left timeline-posts-left-img"><a href="#"><img src="../images/profiles/profile.png" alt=""></a></li>
                    <li class="pull-left"><h3><a href="#">Anna joseph</a></h3><small><i class="fa fa-map-marker"></i> Chicago,inturn</small></li>
                    <li class="pull-right"><p>4H ago</p></li>                            
                </ul>
                <div class="uploaded-image">
                    <img src="../images/gallery/profileleft-1.jpg" alt="">
                </div>
                <div class="like-bar">
                    <ul class="list-unstyled list-inline" >
                        <li><a href="#">Like <i class="fa fa-star"></i></a></li>
                        <li><a href="#">Comment <i class="fa fa-comment-o"></i></a></li>
                    </ul>
                </div>
                <hr>
                <div class="like-people">
                    <ul class="list-unstyled list-inline" >
                        <li class="pull-left"><a href="#">666 Like This.</a></li>                                
                        <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                        <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>
                        <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                        <li class="like-image pull-right"><img src="../images/profiles/nine.png" alt=""></li>
                        <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>                                
                    </ul>                        
                </div>
                <input type="text" class="form-control" placeholder="Comment On Status....">

            </div>
            <!-- timeline-posts-left -->

            <div class="timeline-posts-left">
                <ul class="list-unstyled timeline-head">
                    <li class="pull-left timeline-posts-left-img"><a href="#"><img src="../images/profiles/three.png" alt=""></a></li>
                    <li class="pull-left"><h3><a href="#">Larry jooe</a></h3><small><i class="fa fa-map-marker"></i> Chicago,inturn</small></li>
                    <li class="pull-right"><p>6H ago</p></li>                            
                </ul>
                <div class="uploaded-image">
                    <img src="../images/gallery/profileleft-2.jpg" alt="">
                </div>
                <div class="like-bar">
                    <ul class="list-unstyled list-inline" >
                        <li><a href="#">Like <i class="fa fa-star"></i></a></li>
                        <li><a href="#">Comment <i class="fa fa-comment-o"></i></a></li>
                    </ul>
                </div>
                <hr>
                <div class="like-people">
                    <ul class="list-unstyled list-inline" >
                        <li class="pull-left"><a href="#">210 Like This...</a></li>                                
                        <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                        <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>
                        <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                        <li class="like-image pull-right"><img src="../images/profiles/nine.png" alt=""></li>
                        <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>                                
                    </ul>


                </div>
                <input type="text" class="form-control" placeholder="Comment On Status....">

            </div>
            <!-- timeline-posts-left -->

        </div>
        <!-- row -->
    </div>
    <!-- col-md-4 -->

    <div class="col-md-7 timeline-right">

        <div class="profile-map">
            <img src="../images/map.jpg" alt="">
            <div class="map-footer">
                <ul class="list-unstyled list-inline">
                    <li class="pull-left"><i class="fa fa-rocket"></i> Paris,Hotspot</li>
                    <li class="pull-right"><a href="#"><i class="fa fa-search-plus"></i></a></li>
                    <li class="pull-right"><a href="#"><i class="fa fa-search-minus"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 timeline-right-options"><i class="fa fa-briefcase"></i> 20187 Miles Travelled</div>
        <div class="col-md-3 timeline-right-options"><i class="fa fa-building-o"></i> 8816 Hotels Visited</div>
        <div class="col-md-3 timeline-right-options"><i class="fa fa-camera"></i> 787665 Photography</div>
        <div class="col-md-3 timeline-right-options"><i class="fa fa-globe"></i> 8 Countries Around World</div>
        
        <!-- ***** Start Timeline ***** -->
        <div class="timeline-right-posts">
            &nbsp;
            <ul class='timeline'>
                <li class="year">2013</li>

                <li class="event offset-first">
                    <div class="timeline-posts-right">
                        <ul class="list-unstyled timeline-head">
                            <li class="pull-left timeline-posts-left-img"><a href="#"><img src="../images/profiles/profile.png" alt=""></a></li>
                            <li class="pull-left"><h3><a href="#">Anna joseph</a></h3><small><i class="fa fa-map-marker"></i> Chicago,inturn</small></li>
                            <li class="pull-right"><p>4H ago</p></li>                            
                        </ul>
                        <div class="uploaded-image">
                            <img src="../images/gallery/profileright-1.jpg" alt="">
                        </div>
                        <div class="like-bar">
                            <ul class="list-unstyled list-inline" >
                                <li><a href="#">Like <i class="fa fa-star"></i></a></li>
                                <li><a href="#">Comment <i class="fa fa-comment-o"></i></a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="like-people">
                            <ul class="list-unstyled list-inline" >
                                <li class="pull-left"><a href="#">666 Like This.</a></li>                                
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>                              
                            </ul>                        
                        </div>
                        <input type="text" class="form-control" placeholder="Comment On Status....">

                    </div>
                </li>
                <li class="event">
                    <div class="timeline-posts-right">
                        <ul class="list-unstyled timeline-head">
                            <li class="pull-left timeline-posts-left-img"><a href="#"><img src="../images/profiles/profile.png" alt=""></a></li>
                            <li class="pull-left"><h3><a href="#">Anna joseph</a></h3><small><i class="fa fa-map-marker"></i> Chicago,inturn</small></li>
                            <li class="pull-right"><p>4H ago</p></li>                            
                        </ul>
                        <div class="uploaded-image">
                            <img src="../images/gallery/profileright-2.jpg" alt="">
                        </div>
                        <div class="like-bar">
                            <ul class="list-unstyled list-inline" >
                                <li><a href="#">Like <i class="fa fa-star"></i></a></li>
                                <li><a href="#">Comment <i class="fa fa-comment-o"></i></a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="like-people">
                            <ul class="list-unstyled list-inline" >
                                <li class="pull-left"><a href="#">666 Like This.</a></li>                                
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>                              
                            </ul>                        
                        </div>
                        <input type="text" class="form-control" placeholder="Comment On Status....">

                    </div>
                </li>
                <li class="year">2012</li>
                <li class="event offset-first">
                    <div class="timeline-posts-right">
                        <ul class="list-unstyled timeline-head">
                            <li class="pull-left timeline-posts-left-img"><a href="#"><img src="../images/profiles/three.png" alt=""></a></li>
                            <li class="pull-left"><h3><a href="#">Larry jooe</a></h3><small><i class="fa fa-map-marker"></i> Chicago,inturn</small></li>
                            <li class="pull-right"><p>6H ago</p></li>                            
                        </ul>
                        <div class="uploaded-image">
                            <img src="../images/gallery/profileright-3.jpg" alt="">
                        </div>
                        <div class="like-bar">
                            <ul class="list-unstyled list-inline" >
                                <li><a href="#">Like <i class="fa fa-star"></i></a></li>
                                <li><a href="#">Comment <i class="fa fa-comment-o"></i></a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="like-people">
                            <ul class="list-unstyled list-inline" >
                                <li class="pull-left"><a href="#">210 Like This...</a></li>                                
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/nine.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>                                
                            </ul>


                        </div>
                        <input type="text" class="form-control" placeholder="Comment On Status....">

                    </div>

                </li>
                <li class="event">
                    <div class="timeline-posts-right">
                        <ul class="list-unstyled timeline-head">
                            <li class="pull-left timeline-posts-left-img"><a href="#"><img src="../images/profiles/profile.png" alt=""></a></li>
                            <li class="pull-left"><h3><a href="#">Anna joseph</a></h3><small><i class="fa fa-map-marker"></i> Chicago,inturn</small></li>
                            <li class="pull-right"><p>4H ago</p></li>                            
                        </ul>
                        <div class="uploaded-image">
                            <img src="../images/gallery/profileright-4.jpg" alt="">
                        </div>
                        <div class="like-bar">
                            <ul class="list-unstyled list-inline" >
                                <li><a href="#">Like <i class="fa fa-star"></i></a></li>
                                <li><a href="#">Comment <i class="fa fa-comment-o"></i></a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="like-people">
                            <ul class="list-unstyled list-inline" >
                                <li class="pull-left"><a href="#">666 Like This.</a></li>                                
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>                              
                            </ul>                        
                        </div>
                        <input type="text" class="form-control" placeholder="Comment On Status....">

                    </div>
                </li>

                <li class="event">
                    <div class="timeline-posts-right">
                        <ul class="list-unstyled timeline-head">
                            <li class="pull-left timeline-posts-left-img"><a href="#"><img src="../images/profiles/three.png" alt=""></a></li>
                            <li class="pull-left"><h3><a href="#">Larry jooe</a></h3><small><i class="fa fa-map-marker"></i> Chicago,inturn</small></li>
                            <li class="pull-right"><p>6H ago</p></li>                            
                        </ul>
                        <div class="uploaded-image">
                            <img src="../images/gallery/profileright-1.jpg" alt="">
                        </div>
                        <div class="like-bar">
                            <ul class="list-unstyled list-inline" >
                                <li><a href="#">Like <i class="fa fa-star"></i></a></li>
                                <li><a href="#">Comment <i class="fa fa-comment-o"></i></a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="like-people">
                            <ul class="list-unstyled list-inline" >
                                <li class="pull-left"><a href="#">210 Like This...</a></li>                                
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/nine.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>                                
                            </ul>


                        </div>
                        <input type="text" class="form-control" placeholder="Comment On Status....">

                    </div>

                </li>
                <li class="event offset-first">
                    <div class="timeline-posts-right">
                        <ul class="list-unstyled timeline-head">
                            <li class="pull-left timeline-posts-left-img"><a href="#"><img src="../images/profiles/three.png" alt=""></a></li>
                            <li class="pull-left"><h3><a href="#">Larry jooe</a></h3><small><i class="fa fa-map-marker"></i> Chicago,inturn</small></li>
                            <li class="pull-right"><p>6H ago</p></li>                            
                        </ul>
                        <div class="uploaded-image">
                            <img src="../images/gallery/profileright-2.jpg" alt="">
                        </div>
                        <div class="like-bar">
                            <ul class="list-unstyled list-inline" >
                                <li><a href="#">Like <i class="fa fa-star"></i></a></li>
                                <li><a href="#">Comment <i class="fa fa-comment-o"></i></a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="like-people">
                            <ul class="list-unstyled list-inline" >
                                <li class="pull-left"><a href="#">210 Like This...</a></li>                                
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/one.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/nine.png" alt=""></li>
                                <li class="like-image pull-right"><img src="../images/profiles/eight.png" alt=""></li>                                
                            </ul>
                        </div>
                        <input type="text" class="form-control" placeholder="Comment On Status....">
                    </div>
                </li>
            </ul>
        </div>
        <!-- ***** End Of Timeline ***** -->

    </div>
    <!-- col-md-7 -->

</div>

</div>
<!-- profile -->

</div>
<!-- /panel body -->
</div>
</div>


  <script src="../js/lightbox-2.6.min.js"></script>