<div class="row inbox bg-white">
    <!-- Left Side bar -->
    <div class="col-md-2 mail-left-box ">
        <a class="btn  btn-compose "><i class="fa fa-"></i> Compose Mail </a> 
        <div class=" inbox-options">
            <a class="list-group-item list-inbox"><i class="fa fa-inbox"></i> Inbox <span class="badge ">1,234</span> </a> 
            <a class="list-group-item"><i class="fa fa-bolt"></i> Unread <span class="badge ">58</span> </a> 
            <a class="list-group-item"><i class="fa fa-magic"></i> Important <span class="badge ">65</span> </a> 
            <a class="list-group-item"><i class="fa fa-bookmark-o"></i> Starred <span class="badge ">56</span> </a> 
            <a class="list-group-item"><i class="fa fa-check-square-o"></i> Sent <span class="badge ">658</span> </a> 
            <a class="list-group-item active"><i class="fa fa-ban"></i> Spam <span class="badge ">20</span> </a> 
            <a class="list-group-item"><i class="fa fa-trash-o"></i> Trash <span class="badge ">620</span> </a> 
            <a class="list-group-item"><i class="fa fa-archive"></i> Archived <span class="badge ">30</span> </a> 
        </div>        
        <div class="list-group inbox-labels">
            <h5 class="text-primary "><strong>Labels</strong></h5>
            <a class="list-group-item" href="#"><span class="pull-right bg-purple"><i class="fa fa-tag"></i></span>Work</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-seagreen"><i class="fa fa-tag"></i></span>Shopping</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-yellow"><i class="fa fa-tag"></i></span>Promotions</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-black"><i class="fa fa-tag"></i></span>Finance</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-seagreen"><i class="fa fa-tag"></i></span>Games</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-purple"><i class="fa fa-tag"></i></span>Family</a>
        </div>          
        <div class="input-group">
            <input type="text" name="createLabel" class="form-control" id="write-label" placeholder="Create Label Here"> 
            <span class="input-group-btn">
                <button class="btn bg-primary text-white" type="button" id="create-label">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /Mail Left Side bar -->

    <!-- Mail Right Sidebar -->
    <div class="col-md-10  mail-right-box ">
        <div class="mail-options-nav hidden-xs ">

            <div class="row">
                <div class="col-md-4">
                 <div class="input-group dropdown-optionss">
                  <input type="text" class="form-control">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
              </div>
          </div>
          <div class="col-md-8">
            <div class="btn-group mail-options pull-right">
                <a href="#"<i class="fa fa-archive text-success"></i> </a>
                <a href="#"<i class="fa fa-ban text-info"></i></a>
                <a href="#"<i class="fa fa-trash-o text-danger"></i> </a>
                <a href="#"<i class="fa fa-flag"></i> </a>
                <a href="#"<i class="fa fa-chevron-left"></i> </a>
                <a href="#"<i class="fa fa-chevron-right"></i> </a>
            </div>

            <div class="input-group select-all dropdown-optionss "> 
                <div class="input-group-btn ">
                    <button type="button" class="btn option-btn btn-sm dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                        <span >Options</span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Mark as Unread</a></li>
                        <li><a href="#">Mark as Important</a></li>
                        <li><a href="#">Add to Tasks</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>
    <div class="main-timeline" style="overflow: hidden; outline: none;" tabindex="5000">
	<ul class="cbp_tmtimeline">

		<!-- ***** Timeline Event 1 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>4/10/13</span> <span>18:30</span></time>
			<div class="cbp_tmicon"><i class="fa fa-picture-o"></i></div>
			<div class="cbp_tmlabel">
				<h2>Rick yoern</h2>
				<p>posted an update was watching <i class="fa fa-caret-square-o-right"></i> <a href="#">DIE HARD 2.0</a></p>
			</div>
		</li>
		<!-- ***** Timeline Event 2 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>4/11/13</span> <span>12:04</span></time>
			<div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
			<div class="cbp_tmlabel">
				<h2>Nelson John</h2>
				<p>New updates on cascade has been released please visit us for more details.. <a href="#"><i class="fa fa-info-circle"></i></a></p>
			</div>
		</li>
		<!-- ***** Timeline Event 3 ***** -->					
		<li>
			<time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>4/15/13</span> <span>13:15</span></time>
			<div class="cbp_tmicon"><i class="fa fa-envelope"></i></div>
			<div class="cbp_tmlabel">
				<h2>Henry richards</h2>
				<p>shared location at <a href="#"> <i class="fa fa-map-marker"></i></a> newyork,kpc</p>
			</div>
		</li>
		<!-- ***** Timeline Event 4 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>4/13/13</span> <span>05:36</span></time>
			<div class="cbp_tmicon"><i class="fa fa-globe"></i></div>
			<div class="cbp_tmlabel">
				<h2>Shara joseph</h2>
				<p>posted image at <a href="#">chicago</a></p>
				<div class="post-lgimage">
					<img src="images/3.jpg" alt="Map">								
				</div>
				<p>A new study conducted by Dove revealed about 63% of women believe social media is influencing today’s definition of beauty more than print media, film and music.</p>
				<a href="#" class="btn btn-default btn-sm btn-animate-demo">share <i class="fa fa-eye"></i></a>
				<a href="#" class="btn btn-success btn-sm btn-animate-demo">download <i class="fa fa-download"></i></a>

			</div>
		</li>
		<!-- ***** Timeline Event 5 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>4/16/13</span> <span>21:30</span></time>
			<div class="cbp_tmicon"><i class="fa fa-desktop"></i></div>
			<div class="cbp_tmlabel">
				<h2>Ruther daikon</h2>
				<p>Shared video with <a href="#">donald richards</a></p>
				<iframe src="//player.vimeo.com/video/50522981" width="100%" class="article-image" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/50522981"></a>
			</div>
		</li>
		<!-- ***** Timeline Event 6 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>4/17/13</span> <span>12:11</span></time>
			<div class="cbp_tmicon"><i class="fa fa-gear"></i></div>
			<div class="cbp_tmlabel">
				<h2>Yanome</h2>
				<p>posted pictures</p>							
				<div class="col-md-3 col-sm-3 col-xs-3 post-smimage"><img src="images/profiles/one.png" alt=""></div>
				<div class="col-md-3 col-sm-3 col-xs-3 post-smimage"><img src="images/profiles/one.png" alt=""></div>
				<div class="col-md-3 col-sm-3 col-xs-3 post-smimage"><img src="images/profiles/one.png" alt=""></div>
				<div class="col-md-3 col-sm-3 col-xs-3 post-smimage"><img src="images/profiles/one.png" alt=""></div>	
				&nbsp;																															
			</div>
		</li>
		<!-- ***** Timeline Event 7***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
			<div class="cbp_tmicon"><i class="fa fa-map-marker"></i></div>
			<div class="cbp_tmlabel">
				<h2>Sprout garlic kohlrabi</h2>
				<p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
			</div>
		</li>		
	</ul>

</div>

</div><!-- /Right Side mail bar -->
<!-- Modal -->
<div class="modal fade" id="inboxMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Subject</h3>
            </div>
            <div class="modal-body">
                <div class="icon-show">

                </div>
            </div>
            <div class="modal-footer">
                <textarea class="form-control" rows="4"></textarea>
                <br>
                <button type="button" class="btn bg-primary text-white">Send Reply! </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>



<script src="js/inbox.js"></script>

