<div class="row compose">
	<div class="col-md-12">
		<div class="compose-head">
                    <h1>Create Complaint <button ng-if="!isBusy" ng-click="send()" class="btn btn-success pull-right btn-lg send-mail">Send</button> <button disabled="true" ng-if="isBusy" class="btn btn-success pull-right btn-lg send-mail"> Sending...</button></h1>			
		</div>
		<!-- compose-head -->
		<div class="title-box">
			<div class="col-md-12 col-xs-12">
				<form role="form">                                                                                                            
                                    <div class="form-group">
                                        <label >Recipient</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-anchor"></i></span>
                                            <select id="select-beast" class="form-control" placeholder="Select a distribution company...">
                                                <option value="">Select a distribution company...</option>
                                                <option value="4">Enugu Electricity Distribution Company</option>
                                                <option value="4">Benin Electricity Distribution Company</option>
                                                <option value="4">Eko Electricity Distribution Company</option>
                                                <option value="4">Port Harcourt Electricity Distribution Company</option>                                                
                                                <option value="4">Ikeja Electricity Distribution Company</option>
                                                <option value="4">Ibadan Electricity Distribution Company</option>
                                                <option value="4">Power Holding Company of Nigeria</option>
                                                <option value="4">Port Harcourt Electricity Distribution Company</option>
                                              </select>                                                                                                
                                        </div>									    
                                    </div>
				</form>
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="form-group">
					<label >Your Name</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control"  placeholder="John Doe" value="John Doe">	    
					</div>							
				</div>
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="form-group">
					<label >Nature of Complaint</label>			
					<div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
						 <select id="select-beast" class="form-control" placeholder="Select a nature of complaint...">
                                                <option value="">Select a nature of complaint...</option>
                                                <option value="4">Metering</option>
                                                <option value="4">Load shedding</option>
                                                <option value="4">Billing</option>                          
                                                <option value="4">Voltage</option>   
                                                <option value="4">Disconnection</option>   
<<<<<<< HEAD
=======
                                                <option value="4">Others</option> 
>>>>>>> f99e3b90c4509f49330eb2a8674829a3a3cc4083
                                              </select> 	    
					</div>												
				</div>
			</div>
		</div>
		<hr>
		<!-- title-box -->
		<div class="message-box">
			<div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label >Subject</label>		
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-edit"></i></span>
						<input type="text" class="form-control"  placeholder="Enter Subject"> 
					</div>			
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label>Description</label>		       		  
					<textarea class="textarea" placeholder="Enter discription ..." style="width: 100%; height: 200px"></textarea>
				</div>
			</div>
                        <div class="form-group">
				<div class="col-md-12 col-xs-12">
					<label>Attachments</label> 	       		  
					<input type="file" class="form-control"  placeholder="Upload a file">                                         
                                        <span ng-show="isShowMoreAttachments"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file">  
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file">
                                            <br/>
                                            <input type="file" class="form-control"  placeholder="Upload a file"> 
                                        </span>
				</div>
			</div>
                    
                        <div class="form-group">
                            <label></label>
				<div class="col-md-12 col-xs-12">						       		  
					 <button ng-if="!isShowMoreAttachments" type="button" class="btn btn-primary btn-sm" ng-click="showMoreBoxes()">Show more fields</button><button type="button" ng-if="isShowMoreAttachments" class="btn btn-primary btn-sm" ng-click="showMoreBoxes()">Show less fields</button>                                                                                
				</div>
			</div>
                    
		</div>                
		<!-- message-box -->                
	</div>
	<!-- col-md-12 -->
</div>
<!-- row -->

<p></p>