    
  <div class="col-md-12 invoice-main" id="div_1">
    <div class="panel panel-primary">
      <div class="panel-heading invoice-head">
       <h3 class="panel-title">
         <i class="fa fa-money"></i> <strong>Logged Complaints</strong>
       <!--  <p class="pull-right">Date of invoice:14 march 2014</p> -->
      </h3>
    </div>
    <div class="panel-body invoice-main">
    <div class="row">
    <div class="col-md-8">

   <div class="col-md-12">
   <!-- ***** Invoice Table ***** -->
   <div class="table-responsive">
	  <div id="external_filter_container_wrapper">
        <label>View Complaints by slecting a Date Range</label>
        <div id="external_filter_container"></div>
      </div>
    <table class="table table-bordered table-hover table-striped display display" id="example" style="width:680px; margin-top:40px;">
		
         <thead> 
		 <tr>
           <th width="400">Complainant Details</th>
           <th width="100">Nature of Complaint</th>
		   <th width="100">Status of Complaint</th>
		   <th> Date of Complaint </th>
         </tr>
       </thead>
      <tbody>
	          <tr class="odd gradeX">
	            <td><p><img src="../images/avater_1.png" width="50" height="50" alt="default image" /></p><div class="col-md-8 col-xs-8 timeline-img-info" style="margin-left:50px; margin-top:-60px;">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i><a href="#"><strong>Mr. Emeka Megwa</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <strong>Maitama</strong></li>
                     </ul>
                </div></td>
	            <td>Metering</td>
	            <td>Unresolved</td> 
				<td>6/15/2009</td> 
	          </tr>
	          <tr class="even gradeC">
	              <td><p><img src="../images/avater_1.png" width="50" height="50" alt="default image" /></p><div class="col-md-8 col-xs-8 timeline-img-info" style="margin-left:50px; margin-top:-60px;">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i><a href="#"><strong>Mr. Emeka Megwa</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <strong>Maitama</strong></li>
                     </ul>
                </div></td>
	            <td>Billing</td>
	            <td>Resolved</td>
	           <td>6/15/2009</td>
	          </tr>
	          <tr class="odd gradeA">
	            <td><p><img src="../images/avater_1.png" width="50" height="50" alt="default image" /></p><div class="col-md-8 col-xs-8 timeline-img-info" style="margin-left:50px; margin-top:-60px;">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i><a href="#"><strong>Mr. Emeka Megwa</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <strong>Maitama</strong></li>
                     </ul>
                </div></td>
	            <td>Metering</td>
	            <td>Unresolved</td> 
				<td>6/15/2009</td>
	          </tr>
	          <tr class="even gradeA">
	              <td><p><img src="../images/avater_1.png" width="50" height="50" alt="default image" /></p><div class="col-md-8 col-xs-8 timeline-img-info" style="margin-left:50px; margin-top:-60px;">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i><a href="#"><strong>Mr. Emeka Megwa</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <strong>Maitama</strong></li>
                     </ul>
                </div></td>
	            <td>Billing</td>
	            <td>Pending</td>
	            <td>6/15/2009</td>
	          </tr>
	          <tr class="odd gradeA">
	              <td><p><img src="../images/avater_1.png" width="50" height="50" alt="default image" /></p><div class="col-md-8 col-xs-8 timeline-img-info" style="margin-left:50px; margin-top:-60px;">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i><a href="#"><strong>Mr. Emeka Megwa</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <strong>Maitama</strong></li>
                     </ul>
                </div></td>
	            <td>Metering</td>
	            <td>Unresolved</td>
	            <td>6/15/2009</td>
	          </tr>
	          <tr class="even gradeA">
	              <td><p><img src="../images/avater_1.png" width="50" height="50" alt="default image" /></p><div class="col-md-8 col-xs-8 timeline-img-info" style="margin-left:50px; margin-top:-60px;">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i><a href="#"><strong>Mr. Emeka Megwa</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <strong>Maitama</strong></li>
                     </ul>
                </div></td>
	            <td>Billing</td>
	            <td>Resolved</td>
	           <td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	              <td><p><img src="../images/avater_1.png" width="50" height="50" alt="default image" /></p><div class="col-md-8 col-xs-8 timeline-img-info" style="margin-left:50px; margin-top:-60px;">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i><a href="#"><strong>Mr. Emeka Megwa</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <strong>Maitama</strong></li>
                     </ul>
                </div></td>
	            <td>Metering</td>
	            <td>Unresolved</td>
	            <td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	              <td><p><img src="../images/avater_1.png" width="50" height="50" alt="default image" /></p><div class="col-md-8 col-xs-8 timeline-img-info" style="margin-left:50px; margin-top:-60px;">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-briefcase"></i><a href="#"><strong>Mr. Emeka Megwa</strong></a></li>
                        <li><i class="fa fa-home"></i> Lives at <strong>Maitama</strong></li>
                     </ul>
                </div></td>
	            <td>Metering</td>
	            <td>Unresolved</td>
	            <td>6/15/2009</td>
	          </tr>	      
	        </tbody>
         <tfoot>
          <tr>
           <th width="400">Complainant Details</th>
           <th width="100">Nature of Complaint</th>
		   <th width="100">Status of Complaint</th>
		   <th>Date Of Complaint </th>
         </tr>  
       </tfoot>
     </table>
  <!-- ***** End Of Invoice Table ***** -->
 </div>
  </div>
  <!-- col-md-12 -->
  </div>

  <!-- ***** Start Of Right side Part ***** -->
  <div class="col-md-4 pay-tab">  
    <h4 class="invoice-actions">Complaints Status</h4>
    <table class="table table-bordered">
     <tr><td><i class="fa fa-envelope"></i> Pending</td></tr>
     <tr><td><i class="fa fa-times"></i> Resolved</td></tr>
     <tr><td><i class="fa fa-edit"></i> Unresolved</td></tr>     
   </table>
   <h4 class="closed-invoice">Complaints Category</h4>
   <table class="table table-bordered ">
     <tr><td><i class="fa fa-file"></i> <span class="pay-tab-bold">Meter</span> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td></tr>
     <tr><td><i class="fa fa-file"></i> <span class="pay-tab-bold">Voltage</span> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td></tr>
     <tr><td><i class="fa fa-file"></i> <span class="pay-tab-bold">Disconnection</span> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td></tr>
     <tr><td><i class="fa fa-file"></i> <span class="pay-tab-bold">Billing</span> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td></tr>
     <tr><td><i class="fa fa-file"></i> <span class="pay-tab-bold">Reconnection</span> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td></tr>
   </table>
  </div>
  <!-- ***** End Of Right side Part ***** -->

  </div>
  <!--main-- row -->

  </div>
  <!-- PANEL-BODY -->
  </div>
  <!-- panel -->
  </div>
  <!-- main --col-md-12 -->
