

   <div class="row inbox bg-white" style="margin-top:-15px;">
    <!-- Left Side bar -->
    <div class="col-md-2 mail-left-box " style="width:220px;"> 
        <div class=" inbox-options">
            <a href="#/inbox" class="list-group-item list-inbox"><i class="fa fa-inbox"></i> All <span class="badge ">34</span> </a>                               
            <a class="list-group-item"><i class="fa fa-trash-o"></i> Pending <span class="badge ">20</span> </a> 
            <a class="list-group-item"><i class="fa fa-archive"></i> Resolved <span class="badge ">30</span> </a> 
		    <a class="list-group-item"><i class="fa fa-archive"></i> Not Resolved <span class="badge ">70</span> </a> 

			 
        </div>        
        <div class="list-group inbox-labels">
            <h5 class="text-primary "><strong>Labels</strong></h5>
            <a class="list-group-item" href="#"><span class="pull-right bg-purple"><i class="fa fa-tag"></i></span>Voltage</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-seagreen"><i class="fa fa-tag"></i></span>Disconnection</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-yellow"><i class="fa fa-tag"></i></span>Metering</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-black"><i class="fa fa-tag"></i></span>Outage</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-seagreen"><i class="fa fa-tag"></i></span>Billing</a>            
        </div>          
        <div class="input-group">
            <input type="text" name="createLabel" class="form-control" id="write-label" placeholder="Create Label Here"> 
            <span class="input-group-btn">
                <button class="btn bg-primary text-white" type="button" id="create-label">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /Mail Left Side bar -->

       
    <!-- Mail Right Sidebar -->

    <div class="col-md-10  mail-right-box" style="margin-left:200px; margin-top:-600px;">

        <div class="mail-options-nav hidden-xs ">

            <div class="row">
                <div class="col-md-4">
                 <div class="input-group dropdown-optionss">
				<label>Serach:</label>
                <div id="external_filter_container">
                </div>        
       
              </div>
          </div>
          <div class="col-md-8">
            <div class="btn-group mail-options pull-right">
                <a href="#"<i class="fa fa-archive text-success"></i> </a>
                <a href="#"<i class="fa fa-ban text-info"></i></a>
                <a href="#"<i class="fa fa-trash-o text-danger"></i> </a>
                <a href="#"<i class="fa fa-flag"></i> </a>
                <a href="#"<i class="fa fa-chevron-left"></i> </a>
                <a href="#"<i class="fa fa-chevron-right"></i> </a>
            </div>

         </div>
    </div>
</div>

<div class="mails" tabindex="5000" style="width:800px;">
   
   <table id="example" class="table table-striped table-hover" width="100%">
	<thead> 
		 <tr>
           <th width="100">S/N</th>
           <th width="300">From</th>
           <th width="400">Subject</th>
           <th>Attachment</th>
		   <th width="200">Date </th>

         </tr>
       </thead>
	<tbody>

		<tr id="msg1" class="unread">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>

					Sunday Joseph

				</div>
			</td>
			<td class="inbox-data-message">
				<div>

					<a href="#/timeline3"><strong>High Volatage has damaged my appliances</a></strong>

				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="FILES: rocketlaunch.jpg, timelogs.xsl" class="txt-color-darken"><i class="fa fa-paperclip fa-lg"></i></a>
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg2" class="unread">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>

					Wilson Johnson 

				</div>
			</td>
			<td class="inbox-data-message">
				<div>

					<a href="#/timeline4"><strong>Low Volatage has rendered your supply useless</strong></a>
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="rocketlaunch.jpg, timelogs.xsl" class="txt-color-darken"><i class="fa fa-paperclip fa-lg"></i></a>
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg3">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Onyeka Fisher 

				</div>
			</td>
			<td class="inbox-data-message">
				<div>

					<a href="#/timeline5"><strong> My light supply was cut off without any reason</strong></a>

				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg4">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>

					Forum Office

				</div>
			</td>
			<td class="inbox-data-message">
				<div>

					<a href="#/timeline6"><strong>Reciept of Unattended Complaint from your Customer Care</strong></a>

				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg5">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					John Limar
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<a href="#/timeline"><span>Project Date</span> Sed ut perspiciatis unde omnis iste natus...</a>
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="payscale-changes.pdf" class="txt-color-darken"><i class="fa fa-paperclip fa-lg"></i></a>
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg6">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Jeff Hopkin <span class="text-danger">Draft</span>
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Hey John!</span> Sed ut perspiciatis unde omnis...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg7">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Toronto News
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Mayor Rod Fierd!</span> Sed ut perspiciatis unde sit...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg8">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Michael Bleigh
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Past due</span> Sed ut perspiciatis unde omnis iste na
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg9">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Me, Navin
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span><span class="label bg-color-teal">HOME</span> John!</span> Sed ut perspiciatis...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg10">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Trello Laka
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Project development</span> @Sed ut perspiciatis unde omnis...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg11">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Doug Baird 
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Pora korta casta ricka?</span> Sed ut perspiciatis unde omnis iste...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg12">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Michael Ray, P. Eng
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>John, please add me to your linkedin</span> Linked in request pending.
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg13">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Doug Baird 
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Pora korta casta ricka?</span> Sed ut perspiciatis unde omnis iste...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg14">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Doug Baird 
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Pora korta casta ricka?</span> Sed ut perspiciatis unde omnis iste...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg15" class="unread">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					<i class="fa fa-warning text-warning"></i> System Email
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span><span class="">New</span> Sustem Update</span> 2:00PM to 2PM
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg16">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Amazon.ca
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Baby deal of the week!</span> Two new items on your cart...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg17">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					New server for datacenter needed New server for datacenter ne...
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Header blha blah</span> New server for datacenter needed
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg18">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					New server for datacenter needed New server for datacenter ne...
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Header blha blah</span> New server for datacenter needed
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg19">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg20">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg21">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg22">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg23">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Sunny
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Important question!</span> Hey John, I hope you are okay...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg24">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg25">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					Dogue Biryrd
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>Hey whats up?</span> Just checking up on ya...
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>


		<tr id="msg26">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg27">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg28">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg29">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

		<tr id="msg30">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					System
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span>SmartAdmin</span> You have a new friend request!
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
				<div>
					
				</div>
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					10:23 am
				</div>
			</td>
		</tr>

	</tbody>
</table>

<!-- mail -->

</div>

</div><!-- /Right Side mail bar -->






