   <div class="row inbox bg-white">
    <!-- Left Side bar -->
    <div class="col-md-2 mail-left-box ">
        <a href="#/compose" class="btn  btn-compose "><i class="fa fa-"></i> Create </a> 
        <div class=" inbox-options">
            <a href="#/inbox" class="list-group-item list-inbox"><i class="fa fa-inbox"></i> All <span class="badge ">34</span> </a> 
            <a class="list-group-item"><i class="fa fa-bolt"></i> New <span class="badge ">58</span> </a>                         
            <a class="list-group-item"><i class="fa fa-check-square-o"></i> Sent <span class="badge ">658</span> </a>             
            <a class="list-group-item"><i class="fa fa-trash-o"></i> Pending <span class="badge ">20</span> </a> 
            <a class="list-group-item"><i class="fa fa-archive"></i> Resolved <span class="badge ">30</span> </a> 
        </div>        
        <div class="list-group inbox-labels">
            <h5 class="text-primary "><strong>Labels</strong></h5>
            <a class="list-group-item" href="#"><span class="pull-right bg-purple"><i class="fa fa-tag"></i></span>Voltage</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-seagreen"><i class="fa fa-tag"></i></span>Disconnection</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-yellow"><i class="fa fa-tag"></i></span>Metering</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-black"><i class="fa fa-tag"></i></span>Outage</a>
            <a class="list-group-item" href="#"><span class="pull-right bg-seagreen"><i class="fa fa-tag"></i></span>Billing</a>            
        </div>          
        <div class="input-group">
            <input type="text" name="createLabel" class="form-control" id="write-label" placeholder="Create Label Here"> 
            <span class="input-group-btn">
                <button class="btn bg-primary text-white" type="button" id="create-label">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /Mail Left Side bar -->

<div class="main-timeline">
	<ul class="cbp_tmtimeline">

		<!-- ***** Timeline Event 1 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>4/10/13</span> <span>18:30</span></time>
			<div class="cbp_tmicon"><i class="fa fa-picture-o"></i></div>
			<div class="cbp_tmlabel">
				
	    	<div class="mail-matter">
	    		<h6><i class="fa fa-bookmark text-danger"></i><font size="+3"><strong>Fallen Pole</strong></font></h6> 
				  <button type="button" class="btn btn-success">From</button> Mr. Emeka Megwa     <button type="button" class="btn btn-warning ">To</button> EEDC <br />
				<h4><span> As: Complaint </span> </h4><br />
				<h4><span> Description of Complaint</span></h4>			
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, itaque debitis illum ......</p>
	    	</div>
	    	
			</div>
		</li>
		<!-- ***** Timeline Event 2 ***** -->
		<li>
			<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>4/10/13</span> <span>20:30</span></time>
			<div class="cbp_tmicon"><i class="fa fa-picture-o"></i></div>
			<div class="cbp_tmlabel">
				
	    	<div class="mail-matter">
	    		<h6><i class="fa fa-bookmark text-danger"></i><font size="+3"><strong>RE: Fallen Pole</strong></font></h6> 
				  <button type="button" class="btn btn-success">From</button> EEDC    <button type="button" class="btn btn-warning ">To</button> Mr. Emeka Megwa <br />
				<h4><span> As: Acknowledgement </span> </h4><br />
				<h4><span> Message</span></h4>			
	    		<p>This is to acknowledge the reciept of your complaint, we will try to resolve it within 48 hours.</p>
	    	</div>
	    	
			</div>
		</li>
		
			<li>
			<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
			<div class="cbp_tmicon"><i class="fa fa-map-marker"></i></div>
			<div class="cbp_tmlabel">
			    <div class="form-group" style="width:800px;">
				<label  class="col-sm-2 control-label">Select a Tag</label>
				<div class="col-sm-10">
				 <div class="control-group">
				  <select id="select-beast" class="demo-default" placeholder="Select a person...">
					<option value="">Select a Tag for this Message...</option>
					<option value="4">Acknoledgement</option>
					<option value="1">Resolved</option>
					<option value="3">Request for More Time</option>
					<option value="5">Upload Evidience</option>
				  </select>
				</div>
			  </div>
			 </div>
			 
				  <div class="form-group" style="margin-top:50px; margin-bottom:40px;">
          <label  class="col-sm-2 control-label">Message</label>
          <div class="col-sm-10">
				  
						<textarea class="form-control" rows="4" style="width:500px;"></textarea>
				</div>
			</div>
				
                <br>
                <button ng-if="!isBusy" ng-click="send()" class="btn bg-primary text-white">Send Reply</button> <button disabled="true" ng-if="isBusy" class="btn bg-primary text-white"> Sending...</button>                

            </div>
</li>	
	</ul>

	</div>

