    <div class="row">
        <div class="col-md-3">
		 <div class="web-stats fadeInUp info">
                <span class=" pull-left">
				<div class="pull-left graph-summary">
                    <h5 class="value">1,669 </h5>
                    <span class="description">Total Complaint(s)</span>
                </div>
                <i class=" icon ion-ios7-people-outline fa-watermark"></i>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp success">
                       
                <div class="pull-left graph-summary">
                    <h5  class="timer" id="lollipop" data-to="5634" data-speed="5000">1,69 </h5>
                    <span class="description">Resolved Complaint(s)</span>
                </div>
                <li class="icon ion-ios7-cart-outline fa-watermark"></li>
            </div>
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp danger">
              
                <div class="pull-left graph-summary">
                    <h5 class="value">100</h5>
                    <span class="description">Unresolved Complaint(s) </span>
                </div>

                <i class=" icon ion-ios7-bell-outline fa-watermark"></i>
            </div>
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp inverse">
                
                <div class="pull-left graph-summary">
                    <h5 class="value">996</h5>
                    <span class="description">Pending Complaints</span>
                </div>

                <i class=" icon ion-ios7-alarm-outline fa-watermark"></i>
            </div>
        </div>

    </div>
    <div class="row">
     
                
					<div id="container" style="width: 99%; height: 400px"></div>
              
               
        
    </div>
                  

        </div><!-- end of row -->
    </div>
	
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>  -->
	<script src="js/highcharts.js" type="text/javascript"></script>

   
    <script type="text/javascript">
	
        var chart1;
 // globally available 
 $(document).ready(function () {
     $(function () {
        $('#container').highcharts({
            title: {
                text: 'Monthly Average Complaints',
                x: -20 //center
            },
            subtitle: {
                text: 'For: PORTHARCOURT DISCO',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Complaints'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Complaint(s)'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Total Complaints',
                data: [10.0, 690, 950, 1450, 1820, 2150, 2520, 2650, 2330, 1830, 1390, 960]
            }, {
				name: 'Pending',
                data: [0, 42, 57, 85, 119, 152, 170, 166, 142, 103, 66, 48]
                
            }, {
                name: 'Resolved',
                data: [4, 57, 113, 170, 220, 248, 241, 201, 141, 86, 25,33]
				
            }, {
                name: 'Unresolved',
                data: [0, 35, 84, 135, 170, 186, 179, 143, 90, 39, 10, 54]
            }]
        });
    });
    
 });
 
 
 
    
</script>
