    <div class="row">
        <div class="col-md-3">
		 <div class="web-stats fadeInUp info">
                <span class=" pull-left">
				<div class="pull-left graph-summary">
                    <h5 class="value">4,200 </h5>
                    <span class="description">Total Complaint(s)</span>
                </div>
                <i class=" icon ion-ios7-people-outline fa-watermark"></i>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp success">
                       
                <div class="pull-left graph-summary">
                    <h5  class="timer" id="lollipop" data-to="5634" data-speed="5000">2,500 </h5>
                    <span class="description">Resolved Complaint(s)</span>
                </div>
                <li class="icon ion-ios7-cart-outline fa-watermark"></li>
            </div>
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp danger">
              
                <div class="pull-left graph-summary">
                    <h5 class="value">1,200</h5>
                    <span class="description">Unresolved Complaint(s) </span>
                </div>

                <i class=" icon ion-ios7-bell-outline fa-watermark"></i>
            </div>
        </div>
        <div class="col-md-3">
            <div class="web-stats fadeInUp inverse">
                
                <div class="pull-left graph-summary">
                    <h5 class="value">500</h5>
                    <span class="description">Pending Complaints</span>
                </div>

                <i class=" icon ion-ios7-alarm-outline fa-watermark"></i>
            </div>
        </div>

    </div>
    <div class="row">
     
                
					<div id="container" style="width: 99%; height: 400px"></div>
              
               
        
    </div>
                  

        </div><!-- end of row -->
    </div>
	
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>  -->
	<script src="js/highcharts.js" type="text/javascript"></script>

   
    <script type="text/javascript">
	
        var chart1;
 // globally available 
 $(document).ready(function () {
     $(function () {
        $('#container').highcharts({
            title: {
                text: 'Monthly Average Complaints',
                x: -20 //center
            },
            subtitle: {
                text: 'For: EKO DISCO',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Complaints'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Complaint(s)'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Total Complaints',
                data: [0.0, 600.9, 900.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 42000.0]
            }, {
                name: 'Pending',
                data: [0.0, 4.2, 5.7, 8.5, 11.9, 15.2, 1700.0, 16.6, 14.2, 10.3, 6.6, 500.0]
            }, {
                 name: 'Resolved',
                 data: [0.0, 5.7, 1100.3, 17.0, 2200.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5, 2500.0]
				
            }, {
				name: 'Unresolved',
                data: [0.0, 3.5, 8.4, 1300.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0, 1200.0]               
			    
            }]
        });
    });
    
 });
 
 
 
    
</script>
