
<div class="col-md-12" id="div_4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-archive"></i> Complaints
        <span class="panel-options">
          <a href="#" class="panel-settings" >
            <i class="fa fa-cogs"></i>
          </a>
          <a href="#" class="panel-refresh">
            <i class="fa fa-refresh"></i>
          </a>
          <a href="#" class="panel-minimize">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a href="#" class="panel-close">
            <i class="fa fa-times"></i>
          </a>
        </span>
      </h3>
    </div>
	
    <div class="panel-body">
	  <div class="table-responsive">
	  <div id="external_filter_container_wrapper">
        <label>View Report by slecting a Date Range</label>
        <div id="external_filter_container">
            
            
        </div>
      </div>
	  
	 <table class="table table-bordered table-hover table-striped display display" id="example">
		
         <thead> 
		 <tr>
           <th>DISCO's</th>
           <th>Total Complaints</th>
           <th>Resolved</th>
           <th>Unresolved</th>
           <th>Pending</th>
		   <th>Date of Report</th>
         </tr>
       </thead>
      <tbody>
	          <tr class="odd gradeX">
	            <td><span class="label lightblue"><a href="#">EKO DISCO</a></span></td>
	            <td>1000</td>
	            <td>2000</td>
	            <td>566</td>
	            <td>5344</td>
				<td>6/15/2009</td>
	          </tr>
	          <tr class="even gradeC">
	            <td><span class="label lightblue"><a href="#">PORTHARCOURT DISCO</a></span></td>
	            <td>2322</td>
	            <td>450</td>
	            <td>453</td>
	            <td>100</td>
				<td>6/1/2009</td>
	          </tr>
	          <tr class="odd gradeA">
	            <td><span class="label lightblue"><a href="#">KANO DISCO</a></span></td>
	            <td>33000</td>
	            <td>1000</td>
	            <td>200</td>
	            <td>1200</td>
				<td>6/1/2009</td>
	          </tr>
	          <tr class="even gradeA">
	            <td><span class="label lightblue"><a href="#">YOLA DISCO</a></span></td>
	            <td>44000</td>
	            <td>2000</td>
	            <td>2000</td>
	            <td>400</td>
				<td>6/1/2008</td>
	          </tr>
	          <tr class="odd gradeA">
	            <td><span class="label lightblue"><a href="#">ENUGU DISCO</a></span></td>
	            <td>55000</td>
	            <td>2000</td>
	            <td>22000</td>
	            <td>500</td>
				<td>2/5/2007</td>
	          </tr>
	          <tr class="even gradeA">
	            <td><span class="label lightblue"><a href="#">BENIN DISCO</a></span></td>
	            <td>11100</td>
	            <td>2000</td>
	            <td>333</td>
	            <td>1000</td>
				<td>4/4/2010</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#/abuja_complaints" class="fa-links">ABUJA DISCO</a></span></td>
	            <td>22000</td>
	            <td>2000</td>
	            <td>1000</td>
	            <td>5000</td>
				<td>8/2/2007</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">LAGOS DISCO</a></span></td>
	            <td>33000</td>
	            <td>2330</td>
	            <td>2000</td>
	            <td>2000</td>
				<td>5/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">IBADAN DISCO</a></span></td>
	            <td>40004</td>
	            <td>2000</td>
	            <td>2043</td>
	            <td>100</td>
				<td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">JOS DISCO</a></span></td>
	            <td>55000</td>
	            <td>1200</td>
	            <td>2033</td>
	            <td>2000</td>
				<td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">DELTA DISCO</a></span></td>
	            <td>10000</td>
	            <td>200</td>
	            <td>900</td>
	            <td>3000</td>
				<td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">ABIA DISCO</a></span></td>
	            <td>22000</td>
	            <td>3044</td>
	            <td>3299</td>
	            <td>3000</td>
				<td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">IMO DISCO</a></span></td>
	            <td>33000</td>
	            <td>5000</td>
	            <td>1030</td>
	            <td>1000</td>
				<td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">KADUNNA DISCO</a></span></td>
	            <td>44000</td>
	            <td>2003</td>
	            <td>300</td>
	            <td>1003</td>
				<td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">EBONYI DISCO</a></span></td>
	            <td>55000</td>
	            <td>2030</td>
	            <td>3004</td>
	            <td>2000</td>
				<td>6/15/2009</td>
	          </tr>
	          <tr class="gradeA">
	            <td><span class="label lightblue"><a href="#">FCT DISCO</a></span></td>
	            <td>10010</td>
	            <td>10</td>
	            <td>40</td>
	            <td>23000</td>
				<td>6/15/2009</td>
	          </tr>
	        </tbody>
         <tfoot>
          <tr>
            <th>DISCO's</th>
           <th>Total Complaints</th>
           <th>Resolved</th>
           <th>Unresolved</th>
           <th>Pending</th>
		   <th>Date of Report</th>
         </tr>  
       </tfoot>
     </table>
	 
   </div>
 </div>
</div>
</div>
	
	

