<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="login-page">
		<div class="header-section">

			<img src="images/nerc-logo.png" alt=""> <img src="images/chs-logo-login.png" alt="">

			<ul class="menu">				
				<li><a href="register.html">Sign Up</a></li>
                                <li><a href="register.html">FAQ</a></li>                                                                                          
                                <li><a href="register.html">Contact</a></li>
                                <li><a href="register.html">About</a></li>    
                                 <li><a href="register.html">Terms of Use</a></li>
                                <li><a href="register.html">Privacy</a></li>
			</ul>
		</div><!--end of header -section-->
		<div class="form-section"> 
                    <form method="post" action="">

			<div class="container">
                                                   
				<div class="form-inputs" ng-controller="loginCtrl">                                   
					<h4>Member Area</h4>
                                        <div class="alert alert-danger" ng-if="isError">Login Failure: Try again.</div>   
					<div class="input-group">
						<input type="text" ng-model="username" class="form-control" placeholder="User name">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
					</div>
					<div class="input-group">
						<input type="password" ng-model="password" class="form-control" placeholder="Password">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					</div>

                                        <input class="polaris-input" type="checkbox" id="inlineCheckbox1" value="option1"> 
                                        <span class="check-text">Remember me</span> 

                                        <button type="submit" class="btn btn-info pull-right" ng-if="!isProcessing" ng-click="login()">Sign In</button><button type="button" class="btn btn-info pull-right" ng-if="isProcessing"><i class="fa fa-spinner fa-spin"></i> Wait...</button>
					<h5><a href="forgot.html" target="_blank">Forgot Your Password ?</a></h5>
				</div>				
			</div>
                    </form>

		</div><!--emd of form-section-->
		
		<!-- footer -->
		<div class="footer">
			<p align="center">Copyrights &copy; <a href="#"><strong>National Electricity Regulatory Commission</strong></a> - All Rights Reserved</p>
		</div>
		<!-- /. footer -->
		
	</div><!--cnd of login-page-->
	
</body>
                <script src="js/jquery/jquery.js"></script>
                <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
                <script src="js/less-1.5.0.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="js/jquery.storage.js"></script>        
                <script src="js/jquery.accordion.js"></script>
                <script src="js/bootstrap-typeahead.js"></script>
                <script src="js/nav-search.js"></script>

                <!-- Messenger assets -->
                <script src="js/messenger.min.js"></script>
                <script src="js/messenger-theme-flat.js"></script>  

                <script  src="js/galaxy/hovermenu.js" charset="utf-8"></script>
                <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
                <script src="js/jquery.easy-pie-chart.js"></script>


                <script src="js/bootstrap-switch.js"></script>
                <script src="js/jquery.address-1.6.min.js"></script>

                <script src="js/icheck/icheck.js"></script>
                
                <script src="js/angular.js"></script>
                <script src="js/core.js"></script>
                <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
                <script src="js/angular-route.min.js"></script>
                <script src="js/ambrose-app.js"></script>
                <script src="nerc/nerc-js/nerc-app.js"></script>   
                <script src="nerc/nerc-js/nerc_controllers.js"></script>  
                                                
                <script type="text/javascript">
	$(document).ready(function(){
            $('.polaris-input').iCheck({
                   checkboxClass: 'icheckbox_polaris',
              radioClass: 'iradio_polaris',
                  increaseArea: '20%' // optional
                });
      });

</script>
</html>
