<div class="row">
	<div class="col-md-6">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title ">
					Basic Modal
					<span class="panel-options">
						<a href="#" class="panel-settings" >
							<i class="fa fa-cogs"></i>
						</a>
						<a href="#" class="panel-refresh">
							<i class="fa fa-refresh"></i>
						</a>
						<a href="#" class="panel-minimize">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a href="#" class="panel-close">
							<i class="fa fa-times"></i>
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">

				<div class="source-code runnable">
					<!--BootstrapDialog.alert('I want banana!'); -->
				</div>
			</div>
			<!-- /panel body -->
		</div>
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title ">
					Manipulating Dialog Title
					<span class="panel-options">
						<a href="#" class="panel-settings" >
							<i class="fa fa-cogs"></i>
						</a>
						<a href="#" class="panel-refresh">
							<i class="fa fa-refresh"></i>
						</a>
						<a href="#" class="panel-minimize">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a href="#" class="panel-close">
							<i class="fa fa-times"></i>
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				
				<div class="source-code runnable">        
			<!-- BootstrapDialog.show({
			title: 'Default Title',
			message: 'Click buttons below.',
			buttons: [{
			label: 'Title 1',
			action: function(dialog) {
			dialog.setTitle('Title 1');
			}
			}, {
			label: 'Title 2',
			action: function(dialog) {
			dialog.setTitle('Title 2');
			}
			}]
		}); -->        
	</div>
</div>
<!-- /panel body -->
</div>
</div>
<!--end-of-col-md-6-->

<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Button Hotkey
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        BootstrapDialog.show({
            title: 'Button Hotkey',
            message: 'Try to press some keys...',
            onshow: function(dialog) {
                dialog.getButton('button-c').disable();
            },
            buttons: [{
                label: '(A) Button A',
                hotkey: 65, // Keycode of keyup event of key 'A' is 65.
                action: function() {
                    alert('Finally, you loved Button A.');
                }
            }, {
                label: '(B) Button B',
                hotkey: 66,
                action: function() {
                    alert('Hello, this is Button B!');
                }
            }, {
                id: 'button-c',
                label: '(C) Button C',
                hotkey: 67,
                action: function(){
                    alert('This is Button C but you won\'t see me dance.');
                }
            }]
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->

<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Buttons
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">        
				<!-- 	BootstrapDialog.show({
					message: 'Hi Apple!',
					buttons: [{
					label: 'Button 1'
				}, {
				label: 'Button 2',
				cssClass: 'btn-primary',
				action: function(){
				alert('Hi Orange!');
			}
			}, {
			icon: 'glyphicon glyphicon-ban-circle',
			label: 'Button 3',
			cssClass: 'btn-warning'
			}, {
			label: 'Close',
			action: function(dialogItself){
			dialogItself.close();
			}
			}]
		}); -->        
	</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->

<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Creating dialog instances
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        // Using init options
        var dialogInstance1 = new BootstrapDialog({
            title: 'Dialog instance 1',
            message: 'Hi Apple!'
        });
        dialogInstance1.open();
        
        // Construct by using setters
        var dialogInstance2 = new BootstrapDialog();
        dialogInstance2.setTitle('Dialog instance 2');
        dialogInstance2.setMessage('Hi Orange!');
        dialogInstance2.setType(BootstrapDialog.TYPE_SUCCESS);
        dialogInstance2.open();
        
        // Using chain callings
        var dialogInstance3 = new BootstrapDialog()
            .setTitle('Dialog instance 3')
            .setMessage('Hi Everybody!')
            .setType(BootstrapDialog.TYPE_INFO)
            .open();
        -->
    </div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->

<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Keys Conflicts
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        BootstrapDialog.show({
            title: 'Button Hotkey',
            message: $('<textarea class="form-control" placeholder="Try to input multiple lines here..."></textarea>'),
            buttons: [{
                label: '(Enter) Button A',
                cssClass: 'btn-primary',
                hotkey: 13, // Enter.
                action: function() {
                    alert('You pressed Enter.');
                }
            }]
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->

<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Button with identifier	
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        var dialog = new BootstrapDialog({
            message: 'Hi Apple!',
            buttons: [{
                id: 'btn-1',
                label: 'Button 1'
            }]
        });
        dialog.realize();
        var btn1 = dialog.getButton('btn-1');
        btn1.click({'name': 'Apple'}, function(event){
            alert('Hi, ' + event.data.name);
        });
        dialog.open();
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->





<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Message types
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        var types = [BootstrapDialog.TYPE_DEFAULT, 
                     BootstrapDialog.TYPE_INFO, 
                     BootstrapDialog.TYPE_PRIMARY, 
                     BootstrapDialog.TYPE_SUCCESS, 
                     BootstrapDialog.TYPE_WARNING, 
                     BootstrapDialog.TYPE_DANGER];
                     
        $.each(types, function(index, type){
            BootstrapDialog.show({
                type: type,
                title: 'Message type: ' + type,
                message: 'What to do next?',
                buttons: [{
                    label: 'I do nothing.'
                }]
            });     
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->


<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Rich message
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        var $textAndPic = $('<div></div>');
        $textAndPic.append('Who\'s this? <br />');
        $textAndPic.append('<img src="images/happy.png" />');
        
        BootstrapDialog.show({
            title: 'Guess who that is',
            message: $textAndPic,
            buttons: [{
                label: 'Happy',
                action: function(dialogRef){
                    dialogRef.close();
                }
            }, {
                label: 'Smily',
                action: function(dialogRef){
                    dialogRef.close();
                }
            }]
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->


<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Dialog closable / unclosable
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        BootstrapDialog.show({
            message: 'Hi Apple!',
            closable: false,
            buttons: [{
                label: 'Dialog CLOSABLE!',
                cssClass: 'btn-success',
                action: function(dialogRef){
                    dialogRef.setClosable(true);
                }
            }, {
                label: 'Dialog UNCLOSABLE!',
                cssClass: 'btn-warning',
                action: function(dialogRef){
                    dialogRef.setClosable(false);
                }
            }, {
                label: 'Close the dialog',
                action: function(dialogRef){
                    dialogRef.close();
                }
            }]
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->


<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Ajax Control
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        BootstrapDialog.show({
            message: 'I send ajax request!',
            buttons: [{
                icon: 'glyphicon glyphicon-send',
                label: 'Send ajax request',
                cssClass: 'btn-primary',
                autospin: true,
                action: function(dialogRef){
                    dialogRef.enableButtons(false);
                    dialogRef.setClosable(false);
                    dialogRef.getModalBody().html('Dialog closes in 5 seconds.');
                    setTimeout(function(){
                        dialogRef.close();
                    }, 5000);
                }
            }, {
                label: 'Close',
                action: function(dialogRef){
                    dialogRef.close();
                }
            }]
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->





<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Manipulating your dialog
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        var dialog = new BootstrapDialog({
            message: function(dialogRef){
                var $message = $('<div>OK, this dialog has no header and footer, but you can close the dialog using this button: </div>');
                var $button = $('<button class="btn btn-primary btn-lg btn-block">Close the dialog</button>');
                $button.on('click', {dialogRef: dialogRef}, function(event){
                    event.data.dialogRef.close();
                });
                $message.append($button);
        
                return $message;
            },
            closable: false
        });
        dialog.realize();
        dialog.getModalHeader().hide();
        dialog.getModalFooter().hide();
        dialog.getModalBody().css('background-color', '#0088cc');
        dialog.getModalBody().css('color', '#fff');
        dialog.open();
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->





<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Data binding
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        var data1 = 'Apple';
        var data2 = 'Orange';
        var data3 = ['Banana', 'Pear'];
        BootstrapDialog.show({
            message: 'Hi Apple!',
            data: {
                'data1': data1,
                'data2': data2,
                'data3': data3
            },
            buttons: [{
                label: 'See what you got',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    alert(dialogRef.getData('data1'));
                    alert(dialogRef.getData('data2'));
                    alert(dialogRef.getData('data3').join(', '));
                }
            }]
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->






<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Larger dialog
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        BootstrapDialog.show({
            size: BootstrapDialog.SIZE_LARGE,
            message: 'Hi Apple!',
            buttons: [{
                label: 'Button 1'
            }, {
                label: 'Button 2',
                cssClass: 'btn-primary',
                action: function(){
                    alert('Hi Orange!');
                }
            }, {
                icon: 'glyphicon glyphicon-ban-circle',
                label: 'Button 3',
                cssClass: 'btn-warning'
            }, {
                label: 'Close',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->


<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Open / Close multiple dialogs
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        var howManyDialogs = 5;
        for(var i = 1; i <= howManyDialogs; i++) {
            var dialog = new BootstrapDialog({
                title: 'Dialog No.' + i,
                message: 'Hello Houston, this is dialog No.' + i,
                buttons: [{
                    label: 'Close this dialog.',
                    action: function(dialogRef){
                        dialogRef.close();
                    }
                }, {
                    label: 'Close ALL opened dialogs',
                    cssClass: 'btn-warning',
                    action: function(){
                        // You can also use BootstrapDialog.closeAll() to close all dialogs.
                        $.each(BootstrapDialog.dialogs, function(id, dialog){
                            dialog.close();
                        });
                    }
                }]
            });
            dialog.open();
        }
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->

<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Dragabble Dialog
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        BootstrapDialog.show({
            title: 'Draggable Dialog',
            message: 'Try to drag on dialog title to move your dialog.',
            draggable: true
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->
<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				Dialog events
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        BootstrapDialog.show({
            message: 'Hello world!',
            onshow: function(dialogRef){
                alert('Dialog is popping up, its message is ' + dialogRef.getMessage());
            },
            onhide: function(dialogRef){
                alert('Dialog is popping down, its message is ' + dialogRef.getMessage());
            }
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->

<div class="col-md-6">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title ">
				additional css classes
				<span class="panel-options">
					<a href="#" class="panel-settings" >
						<i class="fa fa-cogs"></i>
					</a>
					<a href="#" class="panel-refresh">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="fa fa-times"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="source-code runnable">
        <!--
        BootstrapDialog.show({
            title: 'Sign In',
            message: 'Your sign-in form goes here.',
            cssClass: 'login-dialog',
            buttons: [{
                label: 'Sign In Now!',
                cssClass: 'btn-primary',
                action: function(dialog){
                    dialog.close();
                }
            }]
        });
    -->
</div>
</div>
<!-- /panel body -->
</div>
</div><!--end of-col-md-6-->
</div>










<script src="js/bootstrap-dialog.min.js"></script>   
<script type="text/javascript">
	$(function(){
		$('.source-code').each(function(index){
			var $section = $(this);
			var code = $(this).html().replace('<!--', '').replace('-->', '');

        // Code preview
        var $codePreview = $('<pre class="prettyprint lang-javascript"></pre>');
        $codePreview.text(code);
        $section.html($codePreview);
        
        // Run code
        if($section.hasClass('runnable')){
        	var $button = $('<button class="btn btn-primary">Run the code</button>');
        	$button.on('click', {code: code}, function(event){
        		eval(event.data.code);
        	});
        	$button.insertAfter($section);
        	$('<div class="clearfix" style="margin-bottom: 10px;"></div>').insertAfter($button);
        }
    });
	});
</script>