 <div class="row">
             <div class="col-md-12">
              <div class="panel panel-primary">
               <div class="panel-heading">
                <h3 class="panel-title">
                 <i class="fa fa-circle-o"></i>
                 Easy Pie charts
                <span class="panel-options">
          <a href="#" class="panel-settings" >
            <i class="fa fa-cogs"></i>
          </a>
          <a href="#" class="panel-refresh">
            <i class="fa fa-refresh"></i>
          </a>
          <a href="#" class="panel-minimize">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a href="#" class="panel-close">
            <i class="fa fa-times"></i>
          </a>
        </span>
              </h3>
            </div>
             <div class="panel-body ">
              <div class="row text-center">
               <div class="col-md-3">
                <span class="easyChart" data-percent="100">
                 <span class="percent"></span>
               </span>
             </div>
             <div class="col-md-3">
              <span class="easyChart" data-percent="58">
               <span class="percent"></span>
             </span>
           </div>
           <div class="col-md-3">
            <span class="easyChartLive" data-percent="65">
             <span class="percent"></span>
           </span>
         </div>
         <div class="col-md-3">
          <span class="easyChartCustom" data-percent="75">
           <span class="percent"></span>
         </span>
       </div>
     </div>
   </div>
 </div>
</div>
</div>

<!-- Easy Pie Charts  =============================-->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.easypiechart.min.js"></script>
<script src="js/pie-charts-custom.js"></script>
